developing/TEST Workflow Copies/TEST - USER - Self-Service Password Reset copy.json
{
  "name": "TEST - USER - Self-Service Password Reset copy",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "TEST-self-serve-password-reset",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "5fde1238-bd00-4bf7-9dad-883d741d9b3a",
      "name": "POST Forgot Password - Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1824,
        32
      ],
      "webhookId": "3c35bf46-538c-4071-84a9-0da0e752096f"
    },
    {
      "parameters": {
        "jsCode": "// USER - Self-Service Password Reset - Validate Input\n// Version: v1.0.0\n// Validates username/email format (no JWT required)\n\nconst webhookData = $input.first().json;\nconst requestBody = webhookData.requestBody || webhookData.body || webhookData;\n\n// Trim and sanitize inputs\nconst username = requestBody.username ? requestBody.username.toString().trim().toLowerCase() : '';\n\n// Validation errors array\nconst errors = [];\n\n// Required field validation\nif (!username) {\n    errors.push('Username is required');\n}\n\n// Email format validation\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (username && !emailRegex.test(username)) {\n    errors.push('Invalid email format for username');\n}\n\n// Generate secure temporary password\nfunction generateSecurePassword() {\n    const chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789!@#$%^&*';\n    let password = '';\n    \n    // Ensure at least one of each type\n    password += 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'[Math.floor(Math.random() * 26)];\n    password += 'abcdefghijklmnopqrstuvwxyz'[Math.floor(Math.random() * 26)];\n    password += '0123456789'[Math.floor(Math.random() * 10)];\n    password += '!@#$%^&*'[Math.floor(Math.random() * 8)];\n    \n    for (let i = 4; i < 12; i++) {\n        password += chars[Math.floor(Math.random() * chars.length)];\n    }\n    \n    return password.split('').sort(() => Math.random() - 0.5).join('');\n}\n\nconst temporaryPassword = generateSecurePassword();\n\n// Determine validation result\nconst validationPassed = errors.length === 0 ? 'true' : 'false';\n\nreturn [{\n    json: {\n        validationPassed: validationPassed,\n        errors: errors,\n        processedData: {\n            username: username,\n            newPassword: temporaryPassword,\n            confirmPassword: temporaryPassword\n        },\n        timestamp: new Date().toISOString()\n    }\n}];"
      },
      "id": "42f8bd70-985b-4d36-a7e0-11b94d12d099",
      "name": "Validate Input Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1616,
        32
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.validationPassed }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "self-service-val-pass-001"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Validation Passed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "self-service-val-fail-001",
                    "leftValue": "={{ $json.validationPassed }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Validation Failed"
            }
          ]
        },
        "options": {}
      },
      "id": "49dc6cd3-7b18-421c-8180-c3e3dab51b94",
      "name": "Validation Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1408,
        32
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "username",
              "keyValue": "={{ $json.processedData.username }}"
            }
          ]
        }
      },
      "id": "cff7c6d1-cb05-4333-934a-e357375b2c79",
      "name": "Find User in Database",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1200,
        -160
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "pHAY0PSxRTkwJnPE",
          "name": "Testing Branch - Supabase"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.username }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "self-service-user-found-001"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "User Found"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "self-service-user-not-found-001",
                    "leftValue": "={{ $json.username }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "User Not Found"
            }
          ]
        },
        "options": {}
      },
      "id": "9b06cd1d-3bcd-4a4e-9255-c643560cfbeb",
      "name": "User Exists - Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -992,
        -160
      ]
    },
    {
      "parameters": {
        "jsCode": "// USER - Self-Service Password Reset - Check Rate Limit\n// Version: v1.0.0\n// Prevents abuse: 3 attempts per 15 minutes\n\nconst userData = $input.first().json;\n\nconst MAX_ATTEMPTS = 3;\nconst WINDOW_MINUTES = 15;\n\n// Check password reset attempts\nconst attempts = userData.password_reset_attempts || 0;\nconst lastAttempt = userData.password_reset_last_attempt;\n\nif (lastAttempt && attempts >= MAX_ATTEMPTS) {\n    const lastAttemptTime = new Date(lastAttempt);\n    const now = new Date();\n    const minutesSince = (now - lastAttemptTime) / 1000 / 60;\n\n    if (minutesSince < WINDOW_MINUTES) {\n        // Rate limited\n        const minutesRemaining = Math.ceil(WINDOW_MINUTES - minutesSince);\n        \n        return [{\n            json: {\n                rateLimited: 'true',\n                message: `Too many password reset attempts. Please try again in ${minutesRemaining} minutes.`,\n                timestamp: new Date().toISOString()\n            }\n        }];\n    }\n}\n\n// Not rate limited - pass user data forward\nreturn [{\n    json: {\n        rateLimited: 'false',\n        userData: userData,\n        timestamp: new Date().toISOString()\n    }\n}];"
      },
      "id": "2d048fd5-2b38-4c5f-8391-fdae52904ea2",
      "name": "Check Rate Limit - Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        -336
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.rateLimited }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "self-service-not-limited-001"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Allowed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "self-service-limited-001",
                    "leftValue": "={{ $json.rateLimited }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Blocked"
            }
          ]
        },
        "options": {}
      },
      "id": "a8b11d7e-6bef-43e9-b722-5c3a3695d3f2",
      "name": "Rate Limit Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -544,
        -336
      ]
    },
    {
      "parameters": {
        "jsCode": "// USER - Self-Service Password Reset - Update Attempt Counter\n// Version: v1.0.0\n// Increments attempt counter for rate limiting\n\nconst rateLimitData = $input.first().json;\nconst userData = rateLimitData.userData;\n\n// Calculate new attempt count\nconst currentAttempts = userData.password_reset_attempts || 0;\nconst lastAttempt = userData.password_reset_last_attempt;\n\nlet newAttemptCount = 1;\nif (lastAttempt) {\n    const lastAttemptTime = new Date(lastAttempt);\n    const now = new Date();\n    const minutesSince = (now - lastAttemptTime) / 1000 / 60;\n\n    if (minutesSince < 15) {\n        // Within window - increment\n        newAttemptCount = currentAttempts + 1;\n    }\n    // else window expired - reset to 1\n}\n\nreturn [{\n    json: {\n        username: userData.username,\n        newAttemptCount: newAttemptCount,\n        timestamp: new Date().toISOString()\n    }\n}];"
      },
      "id": "e793dcfe-0ee5-43d9-96bc-b249defb8963",
      "name": "Increment Attempt Counter - Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        -512
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "username",
              "condition": "eq",
              "keyValue": "={{ $json.username }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "password_reset_attempts",
              "fieldValue": "={{ $json.newAttemptCount }}"
            },
            {
              "fieldId": "password_reset_last_attempt",
              "fieldValue": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "id": "65771ce8-5163-4579-b4ad-bd643fe80245",
      "name": "Update Attempt Counter - Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -144,
        -512
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "pHAY0PSxRTkwJnPE",
          "name": "Testing Branch - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Version: v4.0.0 - Fixed to match Create User single hash\n// Hash password with simple algorithm matching login\n\nconst attemptData = $input.first().json;\nconst username = attemptData.username;\n\n// Get password from validation node\nconst validationNode = $('Validate Input Data').first().json;\nconst newPassword = validationNode.processedData.newPassword;\n\n// Simple hash function (matches Create User and Login)\nfunction simpleHash(input) {\n  let hash = 0;\n  for (let i = 0; i < input.length; i++) {\n    const char = input.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash;\n  }\n  return hash.toString(36);\n}\n\n// Generate salt and hash\nconst salt = Math.random().toString(36).substring(2, 15) +\n             Math.random().toString(36).substring(2, 15);\nconst hash = simpleHash(newPassword + salt);\nconst hashedPassword = `${salt}:${hash}`;\n\nreturn [{\n  json: {\n    username: username,\n    hashedPassword: hashedPassword,\n    temporaryPassword: newPassword,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "ee357568-c10b-4b75-9855-889156ec19df",
      "name": "Hash Password (Secure)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        -512
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "username",
              "condition": "eq",
              "keyValue": "={{ $json.username }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "password_hash",
              "fieldValue": "={{ $json.hashedPassword }}"
            },
            {
              "fieldId": "last_password_change",
              "fieldValue": "={{ $now.toISO() }}"
            },
            {
              "fieldId": "failed_login_attempts",
              "fieldValue": "0"
            },
            {
              "fieldId": "locked_until",
              "fieldValue": "={{ null }}"
            },
            {
              "fieldId": "must_change_password",
              "fieldValue": "true"
            }
          ]
        }
      },
      "id": "4ecb7b57-425e-4a33-b06a-331537bd4604",
      "name": "Update User Password",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        272,
        -512
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "pHAY0PSxRTkwJnPE",
          "name": "Testing Branch - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format password reset email\n// Version: v1.0.0\nconst hashData = $('Hash Password (Secure)').item.json;\nconst username = hashData.username;\nconst temporaryPassword = hashData.temporaryPassword;\n\nconst emailBody = `<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <h2 style=\"color: #1B4332;\">Password Reset - RRTS</h2>\n\n  <p>Hello,</p>\n\n  <p>You requested a password reset for your RRTS account. Your temporary password is below:</p>\n\n  <div style=\"background-color: #f8f9fa; padding: 20px; border-radius: 5px; margin: 20px 0;\">\n    <p><strong>Username:</strong> ${username}</p>\n    <p><strong>Temporary Password:</strong> <code style=\"background-color: #e9ecef; padding: 2px 4px; border-radius: 3px;\">${temporaryPassword}</code></p>\n  </div>\n\n  <h3 style=\"color: #1B4332;\">Next Steps:</h3>\n  <ol style=\"color: #34495e;\">\n    <li><strong>Log in</strong> with this temporary password</li>\n    <li><strong>Change your password immediately</strong> when prompted</li>\n    <li><strong>Choose a secure password</strong> you haven't used before</li>\n  </ol>\n\n  <div style=\"text-align: center; margin: 30px 0;\">\n    <a href=\"https://ruralroutetransportationservices.ca/dashboard\" style=\"background-color: #1B4332; color: white; padding: 12px 24px; text-decoration: none; border-radius: 5px; display: inline-block;\">Log In Now</a>\n  </div>\n\n  <div style=\"background-color: #fff3cd; border: 1px solid #f39c12; padding: 15px; border-radius: 4px; margin: 25px 0;\">\n    <p style=\"margin: 0; color: #856404;\"><strong>IMPORTANT:</strong> If you did not request this password reset, please contact support immediately.</p>\n  </div>\n\n  <hr style=\"border: none; border-top: 1px solid #ecf0f1; margin: 30px 0;\">\n\n  <p style=\"color: #7f8c8d; font-size: 14px;\">\n    Cheers,<br>\n    Andrew<br>\n    <em>Rural Route Transportation Services</em>\n  </p>\n</div>`;\n\nreturn [{\n  json: {\n    username: username,\n    emailSubject: 'Password Reset Request - RRTS',\n    emailBody: emailBody\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        -512
      ],
      "id": "03eb8488-481a-47b0-90cd-2ff55a49fa6c",
      "name": "Format Password Reset Email - Code"
    },
    {
      "parameters": {
        "fromEmail": "no-reply@ruralroutetransportationservices.ca",
        "toEmail": "={{ $json.username }}",
        "subject": "={{ $json.emailSubject }}",
        "html": "={{ $json.emailBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        688,
        -512
      ],
      "id": "9bd5733d-b868-41a0-b977-fe1f1eaa032b",
      "name": "Send Email",
      "webhookId": "ab02aae8-0ad3-4eea-948c-53dcbf06b02f",
      "credentials": {
        "smtp": {
          "id": "gXau7nyhDDro0n70",
          "name": "no-reply Proton Email - SMTP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// USER - Self-Service Password Reset - Success Response\n// Version: v1.0.0\n// Generic success message (don't reveal user existence)\n\nreturn [{\n    json: {\n        success: true,\n        message: 'If an account exists with that email, a password reset link has been sent.',\n        timestamp: new Date().toISOString()\n    }\n}];"
      },
      "id": "95fd562a-59b3-4d4d-86b9-022e782cd336",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        -512
      ]
    },
    {
      "parameters": {
        "jsCode": "// USER - Self-Service Password Reset - Generic Success\n// Version: v1.0.0\n// Same message when user not found (security)\n\nreturn [{\n    json: {\n        success: true,\n        message: 'If an account exists with that email, a password reset link has been sent.',\n        timestamp: new Date().toISOString()\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        16
      ],
      "id": "1c7c15cb-a5c8-4aad-823f-40efd4704c7b",
      "name": "Generic Success Response - Code"
    },
    {
      "parameters": {
        "jsCode": "// USER - Self-Service Password Reset - Rate Limit Error\n// Version: v1.0.0\n\nconst errorData = $input.first().json;\n\nreturn [{\n    json: {\n        success: false,\n        message: errorData.message || 'Too many reset attempts. Please try again later.',\n        statusCode: 429,\n        timestamp: new Date().toISOString()\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        -176
      ],
      "id": "42be3b39-8675-4662-8ef6-55b6a2df5774",
      "name": "Rate Limit Error Response - Code"
    },
    {
      "parameters": {
        "jsCode": "// USER - Self-Service Password Reset - Validation Error\n// Version: v1.0.0\n\nconst errorData = $input.first().json;\n\nreturn [{\n    json: {\n        success: false,\n        message: errorData.message || 'Validation failed',\n        errors: errorData.errors || [],\n        statusCode: 400,\n        timestamp: new Date().toISOString()\n    }\n}];"
      },
      "id": "01110d28-305e-410c-aba5-03e57988a340",
      "name": "Format Error Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        208
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6e27142a-667a-4577-a8ee-492778c894b6",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1456,
        704
      ]
    }
  ],
  "pinData": {
    "POST Forgot Password - Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook-processor-production-3bb8.up.railway.app",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "content-length": "36",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "content-type": "application/json",
            "origin": "null",
            "priority": "u=1, i",
            "sec-ch-ua": "\"Chromium\";v=\"142\", \"Google Chrome\";v=\"142\", \"Not_A Brand\";v=\"99\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "134.41.174.19",
            "x-forwarded-host": "webhook-processor-production-3bb8.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-edge": "railway/us-east4-eqdc4a",
            "x-railway-request-id": "Av3_xuaES0O8UswjezItjw",
            "x-real-ip": "134.41.174.19",
            "x-request-start": "1762632727752"
          },
          "params": {},
          "query": {},
          "body": {
            "username": "andrew.newton@live.ca"
          },
          "webhookUrl": "https://webhook-processor-production-3bb8.up.railway.app/webhook/forgot-password",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "POST Forgot Password - Webhook": {
      "main": [
        [
          {
            "node": "Validate Input Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input Data": {
      "main": [
        [
          {
            "node": "Validation Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Switch": {
      "main": [
        [
          {
            "node": "Find User in Database",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find User in Database": {
      "main": [
        [
          {
            "node": "User Exists - Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Exists - Switch": {
      "main": [
        [
          {
            "node": "Check Rate Limit - Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generic Success Response - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Rate Limit - Code": {
      "main": [
        [
          {
            "node": "Rate Limit Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Switch": {
      "main": [
        [
          {
            "node": "Increment Attempt Counter - Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rate Limit Error Response - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Attempt Counter - Code": {
      "main": [
        [
          {
            "node": "Update Attempt Counter - Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Attempt Counter - Supabase": {
      "main": [
        [
          {
            "node": "Hash Password (Secure)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hash Password (Secure)": {
      "main": [
        [
          {
            "node": "Update User Password",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update User Password": {
      "main": [
        [
          {
            "node": "Format Password Reset Email - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Password Reset Email - Code": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Response": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generic Success Response - Code": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Error Response - Code": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Response": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a00a4017-47a6-4596-9f5a-35b4ce37a1d3",
  "meta": {
    "instanceId": "62fe1973b06b53c2a918f891d003328ecd43cc9389e3ac0f24384782e956f6ca"
  },
  "id": "dQL5NAOrlVyjAKCs",
  "tags": [
    {
      "updatedAt": "2025-10-30T17:24:20.682Z",
      "createdAt": "2025-10-30T17:24:20.682Z",
      "id": "FOXlFdf9P95OPvm7",
      "name": "Login"
    },
    {
      "updatedAt": "2025-11-02T20:33:29.538Z",
      "createdAt": "2025-11-02T20:33:29.538Z",
      "id": "GH1TWRkaKLzUvb4Q",
      "name": "no JWT"
    },
    {
      "updatedAt": "2025-10-30T17:24:20.746Z",
      "createdAt": "2025-10-30T17:24:20.746Z",
      "id": "HoYrf30PBP9hMopv",
      "name": "Dashboard"
    },
    {
      "updatedAt": "2025-11-09T06:15:47.425Z",
      "createdAt": "2025-11-09T06:15:47.425Z",
      "id": "tZpzEwpoeg8SrGGa",
      "name": "TEST"
    }
  ]
}