developing/TEST Workflow Copies/TEST - FIN - Update Invoice Status (2).json
{
  "name": "TEST - FIN - Update Invoice Status",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "TEST-update-invoice-status-v2",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3771548c-953c-48c8-a654-375528638872",
      "name": "POST Update Invoice Status - Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1424,
        32
      ],
      "webhookId": "update-invoice-status-v2"
    },
    {
      "parameters": {
        "jsCode": "// JWT Token Validation for Backend Workflows\n// Version: v1.0.0\n// Use this code node at the start of any protected workflow\n\n// Get webhook input data\nconst webhookData = $input.first().json;\n\n// Extract Authorization header\nconst authHeader = webhookData.headers?.authorization || webhookData.headers?.Authorization;\n\nif (!authHeader) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Missing authorization header',\n      statusCode: 401,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Check Bearer token format\nif (!authHeader.startsWith('Bearer ')) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Invalid authorization format. Expected \"Bearer {token}\"',\n      statusCode: 401,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Extract token\nconst token = authHeader.substring(7); // Remove \"Bearer \" prefix\n\n// JWT validation functions (matching generation code)\nfunction simpleHash(input) {\n  let hash = 0;\n  for (let i = 0; i < input.length; i++) {\n    const char = input.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash;\n  }\n  return hash.toString(36);\n}\n\nconst JWT_SECRET = \"REPLACE_WITH_ENV_VAR_JWT_SECRET\";\n\nfunction verifyJWT(token) {\n  try {\n    const parts = token.split('.');\n    if (parts.length !== 3) {\n      return { valid: false, error: 'Invalid token format' };\n    }\n\n    const [encodedHeader, encodedPayload, receivedSignature] = parts;\n\n    // Verify signature\n    const dataToSign = `${encodedHeader}.${encodedPayload}.${JWT_SECRET}`;\n    const expectedSignature = simpleHash(dataToSign);\n\n    if (receivedSignature !== expectedSignature) {\n      return { valid: false, error: 'Invalid token signature' };\n    }\n\n    // Decode payload\n    const payload = JSON.parse(atob(encodedPayload));\n\n    // Check expiration\n    const now = Math.floor(Date.now() / 1000);\n    if (payload.exp && payload.exp < now) {\n      return { valid: false, error: 'Token expired' };\n    }\n\n    return { valid: true, payload: payload };\n\n  } catch (error) {\n    return { valid: false, error: 'Token verification failed: ' + error.message };\n  }\n}\n\n// Validate the token\nconst validation = verifyJWT(token);\n\nif (!validation.valid) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: validation.error || 'Invalid token',\n      statusCode: 401,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nconst payload = validation.payload;\n\n// Check token type (reject LIMITED tokens unless specifically allowed)\n// Note: Individual workflows can override this by setting allowLimitedToken in webhook body\nconst allowLimitedToken = webhookData.body?.allowLimitedToken || false;\n\nif (payload.type === 'limited' && !allowLimitedToken) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'This operation requires full authentication. Please complete password change.',\n      statusCode: 403,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Check if refresh token is being used for non-refresh operations\nif (payload.type === 'refresh') {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Refresh tokens cannot be used for this operation',\n      statusCode: 403,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Token is valid - return user info and original request body\nreturn [{\n  json: {\n    _route: 'authorized',\n    authenticated: true,\n    user: {\n      username: payload.sub,\n      role: payload.role,\n      tokenType: payload.type,\n      permissions: payload.permissions || []\n    },\n    requestBody: webhookData.body,\n    timestamp: new Date().toISOString()\n  }\n}];\n"
      },
      "id": "49f821ba-6741-45c6-9ac6-10e6794c47a8",
      "name": "JWT Validation - Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1184,
        32
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "authorized",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "122cac1d-8712-4bdd-82a5-73e2808f6821"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Valid"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "unauthorized",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9720c3b8-c1e1-481e-a379-f3546ded80f1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Invalid"
            }
          ]
        },
        "options": {}
      },
      "id": "d6404cb1-8f9c-4463-8d2b-3593b559f310",
      "name": "JWT Check - Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -944,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "// FIN - Update Invoice Status - Validate Input\n  // Version: v1.0.0\n\n  const body = $input.first().json.body;\n  const invoiceId = body.invoiceId;\n  const newStatus = body.status;\n  const sentAt = body.sentAt || null;\n  const paidAt = body.paidAt || null;\n\n  const errors = [];\n  if (!invoiceId) errors.push('invoiceId is required');\n  if (!newStatus) errors.push('status is required');\n\n  const validStatuses = ['created', 'sent', 'paid', 'void'];\n  if (newStatus && !validStatuses.includes(newStatus)) {\n    errors.push(`status must be one of: ${validStatuses.join(', ')}`);\n  }\n\n  const validationPassed = errors.length === 0 ? 'true' : 'false';\n\n  return [{ json: { validationPassed, errors, invoiceId, newStatus, statusString: String(newStatus || ''), sentAt, paidAt, timestamp: new Date().toISOString() } }];"
      },
      "id": "9ff49c00-c5d4-441a-a22d-d2f2ac4a7cff",
      "name": "Validate Input - Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -704,
        -96
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.validationPassed }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Valid"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.validationPassed }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Invalid"
            }
          ]
        },
        "options": {}
      },
      "id": "eaf1c4cf-9485-4455-84f2-c157e73e126b",
      "name": "Validation Check - Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -464,
        -96
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "invoices",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.invoiceId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "invoice_status",
              "fieldValue": "={{ $json.newStatus }}"
            },
            {
              "fieldId": "invoice_sent_at",
              "fieldValue": "={{ $json.sentAt }}"
            },
            {
              "fieldId": "payment_received_at",
              "fieldValue": "={{ $json.paidAt }}"
            }
          ]
        }
      },
      "id": "b9a5016c-8388-4700-8ece-70635ae5f364",
      "name": "Update Invoice - Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -224,
        -208
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "pHAY0PSxRTkwJnPE",
          "name": "Testing Branch - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// FIN - Update Invoice Status - Get Invoice ID\n  // Version: v1.0.0\n\n  const invoice = $input.first().json;\n  const requestData = $input.first().json;\n\n  return [{ json: { invoice_id: invoice.id, newStatus: requestData.newStatus, invoice: invoice } }];"
      },
      "id": "bb533ea6-4586-4437-bf28-3ee6e865e188",
      "name": "Get Invoice ID - Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        -208
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "appointments",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "invoice_id",
              "condition": "eq",
              "keyValue": "={{ $json.invoice_id }}"
            }
          ]
        }
      },
      "id": "0a506ecb-757f-4bb1-a702-a494eba7c26e",
      "name": "Get Linked Appointments - Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        256,
        -208
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "pHAY0PSxRTkwJnPE",
          "name": "Testing Branch - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// FIN - Update Invoice Status - Prepare Appointment Updates\n  // Version: v1.0.0\n\n  const appointments = $input.all().map(item => item.json);\n  const newStatus = $input.first().json.newStatus;\n\n  return appointments.map(apt => ({ json: { appointmentId: apt.id, newStatus: newStatus } }));"
      },
      "id": "5dd20689-6824-46ad-bd50-7888055b7396",
      "name": "Prepare Appointment Updates - Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        -208
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "appointments",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.appointmentId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "invoice_status",
              "fieldValue": "={{ $json.newStatus }}"
            }
          ]
        }
      },
      "id": "41a23cc9-9849-477c-9ccc-4d08bacbc0ff",
      "name": "Update Appointments - Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        736,
        -208
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "pHAY0PSxRTkwJnPE",
          "name": "Testing Branch - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// FIN - Update Invoice Status - Success Response\n  // Version: v1.0.0\n\n  const items = $input.all();\n  const appointmentCount = items.length;\n\n  return [{ json: { success: true, message: `Invoice status updated successfully (${appointmentCount} appointments updated)`, data: { appointmentCount }, timestamp: new Date().toISOString() } }];"
      },
      "id": "5bc9f3e3-8b01-42c6-9c38-bc9ab52e81e4",
      "name": "Success Response - Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        -208
      ]
    },
    {
      "parameters": {
        "jsCode": "// FIN - Update Invoice Status - Error Response\n\n  const errorData = $input.first().json;\n  return [{ json: { success: false, message: 'Validation failed', errors: errorData.errors || [], statusCode: 400, timestamp: new Date().toISOString() } }];"
      },
      "id": "a70fb005-c9a9-4aaa-ab9a-e82df267cd78",
      "name": "Error Response - Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "// FIN - Update Invoice Status - JWT Error\n\n  const errorData = $input.first().json;\n  return [{ json: { success: false, message: 'Authentication failed', error: errorData.error || 'Invalid or expired token', statusCode: errorData.statusCode || 401, timestamp: new Date().toISOString() } }];"
      },
      "id": "801e6665-4a66-4bf9-92a8-ea0080e70d80",
      "name": "JWT Error Response - Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -704,
        160
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b7394637-40e8-4256-a53e-5c55e64305d0",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1440,
        320
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "POST Update Invoice Status - Webhook": {
      "main": [
        [
          {
            "node": "JWT Validation - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT Validation - Code": {
      "main": [
        [
          {
            "node": "JWT Check - Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT Check - Switch": {
      "main": [
        [
          {
            "node": "Validate Input - Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "JWT Error Response - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input - Code": {
      "main": [
        [
          {
            "node": "Validation Check - Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Check - Switch": {
      "main": [
        [
          {
            "node": "Update Invoice - Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Invoice - Supabase": {
      "main": [
        [
          {
            "node": "Get Invoice ID - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Invoice ID - Code": {
      "main": [
        [
          {
            "node": "Get Linked Appointments - Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Linked Appointments - Supabase": {
      "main": [
        [
          {
            "node": "Prepare Appointment Updates - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Appointment Updates - Code": {
      "main": [
        [
          {
            "node": "Update Appointments - Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Appointments - Supabase": {
      "main": [
        [
          {
            "node": "Success Response - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Response - Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Response - Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT Error Response - Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e21608b5-d0dd-432e-bb7d-4b9664c02697",
  "meta": {
    "instanceId": "62fe1973b06b53c2a918f891d003328ecd43cc9389e3ac0f24384782e956f6ca"
  },
  "id": "Noe0LACaNLTY2J07",
  "tags": [
    {
      "updatedAt": "2025-11-09T06:39:14.842Z",
      "createdAt": "2025-11-09T06:39:14.842Z",
      "id": "oCkAyP5U0C49SJQC",
      "name": "Invoice"
    },
    {
      "updatedAt": "2025-11-09T06:39:14.892Z",
      "createdAt": "2025-11-09T06:39:14.892Z",
      "id": "Q4i8xQtE7UtuEFhO",
      "name": "Finance"
    },
    {
      "updatedAt": "2025-11-09T06:15:47.425Z",
      "createdAt": "2025-11-09T06:15:47.425Z",
      "id": "tZpzEwpoeg8SrGGa",
      "name": "TEST"
    }
  ]
}