developing/TEST Workflow Copies/TEST - DRIVER - Update Driver copy.json
{
  "name": "TEST - DRIVER - Update Driver copy",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "TEST-update-driver",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        160
      ],
      "id": "cc9977d2-03b4-40b2-b538-9848b4f3d35a",
      "name": "POST Update Driver - Webhook",
      "webhookId": "8028cbf6-c15a-497f-b53e-93e2dfa18a4b"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1440,
        416
      ],
      "id": "e4f27d05-358e-416d-b226-9c394b3a93bf",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// Complete Driver Data Validation with Integer Field Fix - v1.1.0\nconst driverData = $json.body || $json;\n\n// List of integer fields that need sanitization\nconst integerFields = ['workload_percentage', 'id'];\n\n// Convert empty strings to null for integer fields\nfunction sanitizeIntegerFields(data) {\n    const sanitized = { ...data };\n    \n    integerFields.forEach(field => {\n        if (sanitized[field] === '' || sanitized[field] === undefined) {\n            sanitized[field] = null;\n        }\n    });\n    \n    return sanitized;\n}\n\n// Apply integer field sanitization first\nconst cleanedInput = sanitizeIntegerFields(driverData);\n\n// For UPDATE operations, ID is required\nif (cleanedInput.id !== undefined && !cleanedInput.id) {\n    console.log('❌ Driver ID missing for update');\n    return [{\n        json: {\n            success: false,\n            message: \"Driver ID is required for update operation\",\n            error: \"Missing or invalid driver ID\",\n            timestamp: new Date().toISOString()\n        }\n    }];\n}\n\n// Validate required fields\nconst name = cleanedInput.name || `${cleanedInput.first_name || ''} ${cleanedInput.last_name || ''}`.trim();\nconst email = cleanedInput.email;\n\nif (!name || !email) {\n    const missing = [];\n    if (!name) missing.push('name');\n    if (!email) missing.push('email');\n    \n    console.log(`❌ Validation failed: ${missing.join(', ')}`);\n    return [{\n        json: {\n            success: false,\n            error: `Missing required fields: ${missing.join(', ')}`,\n            timestamp: new Date().toISOString()\n        }\n    }];\n}\n\n// Process and clean data\nconst processedData = {\n    name: name,\n    email: email.trim().toLowerCase(),\n    phone: cleanedInput.phone ? cleanedInput.phone.trim() : null,\n    work_phone: cleanedInput.work_phone ? cleanedInput.work_phone.trim() : null,\n    first_name: cleanedInput.first_name ? cleanedInput.first_name.trim() : null,\n    last_name: cleanedInput.last_name ? cleanedInput.last_name.trim() : null,\n    gender: cleanedInput.gender || null,\n    is_male: cleanedInput.gender === 'male',\n    workload_preference: cleanedInput.workload_preference || 'normal',\n    workload_percentage: cleanedInput.workload_percentage || 100,\n    preferred_calendar_type: cleanedInput.preferred_calendar_type || 'google',\n    google_calendar_id: cleanedInput.google_calendar_id || null,\n    status: cleanedInput.status || 'available',\n    weekly_hours: cleanedInput.weekly_hours || {\n        monday: { available: true, start: '08:00', end: '16:00' },\n        tuesday: { available: true, start: '08:00', end: '16:00' },\n        wednesday: { available: true, start: '08:00', end: '16:00' },\n        thursday: { available: true, start: '08:00', end: '16:00' },\n        friday: { available: true, start: '08:00', end: '16:00' },\n        saturday: { available: false, start: null, end: null },\n        sunday: { available: false, start: null, end: null }\n    },\n    active: cleanedInput.active !== undefined ? cleanedInput.active : true,\n    updated_at: new Date().toISOString()\n};\n\n// Add created_at for new drivers\nif (!cleanedInput.id) {\n    processedData.created_at = new Date().toISOString();\n}\n\nreturn [{\n    json: {\n        operation: cleanedInput.id ? 'update' : 'insert',\n        driverId: cleanedInput.id || null,\n        driverData: processedData\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "6ab14ae3-7f28-44e2-b69c-95a880e906c9",
      "name": "Update Driver Validation - Code"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "drivers",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('JWT Validation - Switch').item.json.requestBody.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{ $('JWT Validation - Switch').item.json.requestBody.name }}"
            },
            {
              "fieldId": "first_name",
              "fieldValue": "={{ $('JWT Validation - Switch').item.json.requestBody.first_name }}"
            },
            {
              "fieldId": "last_name",
              "fieldValue": "={{ $('JWT Validation - Switch').item.json.requestBody.last_name }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $('JWT Validation - Switch').item.json.requestBody.email }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $('JWT Validation - Switch').item.json.requestBody.phone }}"
            },
            {
              "fieldId": "gender",
              "fieldValue": "={{ $('JWT Validation - Switch').item.json.requestBody.gender }}"
            },
            {
              "fieldId": "workload_preference",
              "fieldValue": "={{ $('JWT Validation - Switch').item.json.requestBody.workload_preference }}"
            },
            {
              "fieldId": "preferred_calendar_type",
              "fieldValue": "={{ $('JWT Validation - Switch').item.json.requestBody.preferred_calendar_type }}"
            },
            {
              "fieldId": "weekly_hours",
              "fieldValue": "={{ $('JWT Validation - Switch').item.json.requestBody.weekly_hours }}"
            },
            {
              "fieldId": "workload_percentage",
              "fieldValue": "={{ $('JWT Validation - Switch').item.json.requestBody.workload_percentage }}"
            },
            {
              "fieldId": "active",
              "fieldValue": "={{ $('JWT Validation - Switch').item.json.requestBody.active }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $('JWT Validation - Switch').item.json.timestamp }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        832,
        0
      ],
      "id": "a22a4b64-fe04-4101-a382-041faa7f0f91",
      "name": "Update Driver - Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "pHAY0PSxRTkwJnPE",
          "name": "Testing Branch - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Update Driver Success/Error Response Handler - v1.1.0\nconst result = $input.first().json;\nconst originalData = $input.all()[0].json;\n\n// Check if Supabase returned an error\nif (result.error || result.message?.includes('error') || result.code) {\n  console.error('❌ Driver update error:', result.error?.message || result.message);\n  return [{\n    json: {\n      success: false,\n      message: result.error?.message || result.message || 'Database error occurred during update',\n      error: result.error || result,\n      driverId: originalData?.driverId,\n      operation: 'update',\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Check if result is empty/null (update failed - no rows affected)\nif (!result || (Array.isArray(result) && result.length === 0)) {\n  console.log(`⚠️ No rows updated for driver ${originalData?.driverId}`);\n  return [{\n    json: {\n      success: false,\n      message: `Driver with ID ${originalData?.driverId} not found or no changes were made`,\n      error: 'No rows updated - driver may not exist',\n      driverId: originalData?.driverId,\n      operation: 'update',\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Success case - extract updated driver data\nlet updatedDriverId, driverName, driverEmail;\nif (Array.isArray(result) && result.length > 0) {\n  updatedDriverId = result[0].id;\n  driverName = result[0].name;\n  driverEmail = result[0].email;\n} else if (result.id) {\n  updatedDriverId = result.id;\n  driverName = result.name;\n  driverEmail = result.email;\n} else {\n  // Fallback if structure is unexpected but operation seemed successful\n  return [{\n    json: {\n      success: true,\n      message: `Driver ${originalData?.driverId} updated successfully (limited response data)`,\n      driverId: originalData?.driverId,\n      operation: 'update',\n      warning: 'Update completed but response format was unexpected',\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Full success response with updated data\nreturn [{\n  json: {\n    success: true,\n    message: `Driver \"${driverName}\" (${driverEmail}) updated successfully!`,\n    driverId: updatedDriverId,\n    driverName: driverName,\n    driverEmail: driverEmail,\n    operation: 'update',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        0
      ],
      "id": "e4fb8382-0d1e-4a48-929d-67c86e060dc5",
      "name": "Update Response Handler - Code"
    },
    {
      "parameters": {
        "jsCode": "// JWT Token Validation for Backend Workflows\n// Version: v1.0.0\n// Use this code node at the start of any protected workflow\n\n// Get webhook input data\nconst webhookData = $input.first().json;\n\n// Extract Authorization header\nconst authHeader = webhookData.headers?.authorization || webhookData.headers?.Authorization;\n\nif (!authHeader) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Missing authorization header',\n      statusCode: 401,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Check Bearer token format\nif (!authHeader.startsWith('Bearer ')) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Invalid authorization format. Expected \"Bearer {token}\"',\n      statusCode: 401,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Extract token\nconst token = authHeader.substring(7); // Remove \"Bearer \" prefix\n\n// JWT validation functions (matching generation code)\nfunction simpleHash(input) {\n  let hash = 0;\n  for (let i = 0; i < input.length; i++) {\n    const char = input.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash;\n  }\n  return hash.toString(36);\n}\n\nconst JWT_SECRET = \"***REMOVED***\";\n\nfunction verifyJWT(token) {\n  try {\n    const parts = token.split('.');\n    if (parts.length !== 3) {\n      return { valid: false, error: 'Invalid token format' };\n    }\n\n    const [encodedHeader, encodedPayload, receivedSignature] = parts;\n\n    // Verify signature\n    const dataToSign = `${encodedHeader}.${encodedPayload}.${JWT_SECRET}`;\n    const expectedSignature = simpleHash(dataToSign);\n\n    if (receivedSignature !== expectedSignature) {\n      return { valid: false, error: 'Invalid token signature' };\n    }\n\n    // Decode payload\n    const payload = JSON.parse(atob(encodedPayload));\n\n    // Check expiration\n    const now = Math.floor(Date.now() / 1000);\n    if (payload.exp && payload.exp < now) {\n      return { valid: false, error: 'Token expired' };\n    }\n\n    return { valid: true, payload: payload };\n\n  } catch (error) {\n    return { valid: false, error: 'Token verification failed: ' + error.message };\n  }\n}\n\n// Validate the token\nconst validation = verifyJWT(token);\n\nif (!validation.valid) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: validation.error || 'Invalid token',\n      statusCode: 401,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nconst payload = validation.payload;\n\n// Check token type (reject LIMITED tokens unless specifically allowed)\n// Note: Individual workflows can override this by setting allowLimitedToken in webhook body\nconst allowLimitedToken = webhookData.body?.allowLimitedToken || false;\n\nif (payload.type === 'limited' && !allowLimitedToken) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'This operation requires full authentication. Please complete password change.',\n      statusCode: 403,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Check if refresh token is being used for non-refresh operations\nif (payload.type === 'refresh') {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Refresh tokens cannot be used for this operation',\n      statusCode: 403,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Token is valid - return user info and original request body\nreturn [{\n  json: {\n    _route: 'authorized',\n    authenticated: true,\n    user: {\n      username: payload.sub,\n      role: payload.role,\n      tokenType: payload.type,\n      permissions: payload.permissions || []\n    },\n    requestBody: webhookData.body,\n    timestamp: new Date().toISOString()\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        160
      ],
      "id": "fff0bc10-01ff-4a30-9e63-487c936b2711",
      "name": "JWT Validation - Code"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "authorized",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7ff02bf1-1322-4ac4-87d2-1fcbc2f7dcbe"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Authorized"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "32db1278-734d-4979-9547-0211656e4495",
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "unauthorized",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Unauthorized"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        416,
        160
      ],
      "id": "cd187e11-46bf-41a9-b6d5-68c9c19c0767",
      "name": "JWT Validation - Switch"
    },
    {
      "parameters": {
        "jsCode": "  // Format Unauthorized Error Response - Simple Version\n  // Version: v1.0.0\n\n  const errorData = $input.first().json;\n\n  // Return standardized error format\n  return [{\n    json: {\n      success: false,\n      error: {\n        message: errorData.message || 'Unauthorized access',\n        statusCode: errorData.statusCode || 401\n      },\n      timestamp: errorData.timestamp || new Date().toISOString()\n    }\n  }]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        256
      ],
      "id": "97244971-681d-4077-b0fc-607f024abb5d",
      "name": "Unauthorized Response - Code"
    }
  ],
  "pinData": {
    "POST Update Driver - Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook-processor-production-3bb8.up.railway.app",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36",
            "content-length": "693",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "authorization": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJhbmRyZXduZXd0b245NjVAZ21haWwuY29tIiwidHlwZSI6ImZ1bGwiLCJyb2xlIjoiYWRtaW4iLCJwZXJtaXNzaW9ucyI6WyJhbGwiXSwiaWF0IjoxNzYyMjc4NjMxLCJleHAiOjE3NjIyODIyMzEsImp0aSI6ImZ1bGxfMTc2MjI3ODYzMTc3OF92aXh2ZHEzaHQifQ==.7jji3d",
            "content-type": "application/json",
            "origin": "null",
            "priority": "u=1, i",
            "sec-ch-ua": "\"Google Chrome\";v=\"141\", \"Not?A_Brand\";v=\"8\", \"Chromium\";v=\"141\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "134.41.174.19",
            "x-forwarded-host": "webhook-processor-production-3bb8.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-edge": "railway/us-east4-eqdc4a",
            "x-railway-request-id": "EKiIVjtQS1mvjPbYCx5-qw",
            "x-real-ip": "134.41.174.19",
            "x-request-start": "1762279861260"
          },
          "params": {},
          "query": {},
          "body": {
            "id": 17,
            "first_name": "Ro",
            "last_name": "Turcotte",
            "name": "Ruth Anne Allen",
            "email": "roann.allen1412@gmail.com",
            "phone": "902-955-0804",
            "gender": "female",
            "workload_preference": "light",
            "workload_percentage": 50,
            "preferred_calendar_type": "google",
            "status": "busy",
            "active": true,
            "weekly_hours": {
              "monday": {
                "available": true,
                "start": "08:00",
                "end": "16:00"
              },
              "tuesday": {
                "available": true,
                "start": "08:00",
                "end": "16:00"
              },
              "wednesday": {
                "available": true,
                "start": "13:00",
                "end": "16:00"
              },
              "thursday": {
                "available": true,
                "start": "08:00",
                "end": "16:00"
              },
              "friday": {
                "available": true,
                "start": "13:00",
                "end": "16:00"
              },
              "saturday": {
                "available": false,
                "start": null,
                "end": null
              },
              "sunday": {
                "available": false,
                "start": null,
                "end": null
              }
            }
          },
          "webhookUrl": "https://webhook-processor-production-3bb8.up.railway.app/webhook/update-driver",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "POST Update Driver - Webhook": {
      "main": [
        [
          {
            "node": "JWT Validation - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Driver Validation - Code": {
      "main": [
        [
          {
            "node": "Update Driver - Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Driver - Supabase": {
      "main": [
        [
          {
            "node": "Update Response Handler - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Response Handler - Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT Validation - Code": {
      "main": [
        [
          {
            "node": "JWT Validation - Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT Validation - Switch": {
      "main": [
        [
          {
            "node": "Update Driver Validation - Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized Response - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unauthorized Response - Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6be68393-cad9-4db0-888d-7d301ddb433f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "62fe1973b06b53c2a918f891d003328ecd43cc9389e3ac0f24384782e956f6ca"
  },
  "id": "L8ULYNevZ4JCtlfc",
  "tags": [
    {
      "updatedAt": "2025-11-02T20:39:22.246Z",
      "createdAt": "2025-11-02T20:39:22.246Z",
      "id": "Gm2wdYiA4AnCKH8r",
      "name": "with JWT"
    },
    {
      "updatedAt": "2025-11-09T06:15:47.425Z",
      "createdAt": "2025-11-09T06:15:47.425Z",
      "id": "tZpzEwpoeg8SrGGa",
      "name": "TEST"
    },
    {
      "updatedAt": "2025-10-30T17:14:14.689Z",
      "createdAt": "2025-10-30T17:14:14.689Z",
      "id": "UVqUsgcbAWMJohPQ",
      "name": "Driver Management"
    }
  ]
}