developing/TEST Workflow Copies/TEST - APPT - Update Appointment copy (1).json
{
  "name": "TEST - APPT - Update Appointment",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "TEST-update-appointment",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2400,
        400
      ],
      "id": "cab2984b-90a6-43a3-8a7f-babad2035f23",
      "name": "Webhook - Update Appointment",
      "webhookId": "3383c947-5e83-4ca8-bfc0-2792371799f1"
    },
    {
      "parameters": {
        "jsCode": "// JWT Validation - v1.0.0\n// Validates JWT token from Authorization header\n\nconst authHeader = $json.headers?.authorization || $json.headers?.Authorization;\n\nif (!authHeader || !authHeader.startsWith('Bearer ')) {\n  return [{\n    json: {\n      isValid: \"false\",\n      error: 'Missing or invalid Authorization header'\n    }\n  }];\n}\n\nconst token = authHeader.substring(7);\n\nif (!token) {\n  return [{\n    json: {\n      isValid: \"false\",\n      error: 'No token provided'\n    }\n  }];\n}\n\n// Basic JWT structure validation\nconst parts = token.split('.');\nif (parts.length !== 3) {\n  return [{\n    json: {\n      isValid: \"false\",\n      error: 'Invalid token structure'\n    }\n  }];\n}\n\ntry {\n  const payload = JSON.parse(Buffer.from(parts[1], 'base64').toString());\n  \n  // Check expiration\n  if (payload.exp && Date.now() >= payload.exp * 1000) {\n    return [{\n      json: {\n        isValid: \"false\",\n        error: 'Token expired'\n      }\n    }];\n  }\n  \n  return [{\n    json: {\n      isValid: \"true\",\n      requestBody: $json.body,\n      user: payload\n    }\n  }];\n} catch (error) {\n  return [{\n    json: {\n      isValid: \"false\",\n      error: 'Invalid token format'\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2160,
        400
      ],
      "id": "ad53e2c2-9252-4219-ae2b-ad9d8125e23a",
      "name": "JWT Validation - Code"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.isValid }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "authorized"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1920,
        400
      ],
      "id": "dc21a6b2-10d7-41c8-b01b-8dded602bbfa",
      "name": "JWT Validation - Switch"
    },
    {
      "parameters": {
        "jsCode": "// Validate Request - v1.0.0\nconst data = $json.requestBody || $json.body || $json;\n\nif (!data.id) {\n  return [{\n    json: {\n      validationResult: \"invalid\",\n      error: 'Appointment ID is required'\n    }\n  }];\n}\n\nif (!data.knumber) {\n  return [{\n    json: {\n      validationResult: \"invalid\",\n      error: 'Client K number is required'\n    }\n  }];\n}\n\nif (!data.appointmentDateTime) {\n  return [{\n    json: {\n      validationResult: \"invalid\",\n      error: 'Appointment date/time is required'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    validationResult: \"valid\",\n    ...data\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1680,
        288
      ],
      "id": "17032457-3938-4cf0-be3e-c9011fc2b526",
      "name": "Validate Request - Code"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.validationResult }}",
                    "rightValue": "valid",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "valid"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1440,
        288
      ],
      "id": "6c71c514-be49-4eb0-bda0-df29bd332eb1",
      "name": "Validation - Switch"
    },
    {
      "parameters": {
        "jsCode": "// Calculate Times - v1.0.0\n// Uses pre-calculated transit time directly\n\nconst appointmentDateTime = new Date($json.appointmentDateTime);\nconst transitTime = parseInt($json.transitTime) || 30;\nconst appointmentLength = parseInt($json.appointmentLength) || 120;\n\n// Calculate pickup time\nconst pickupDateTime = new Date(appointmentDateTime.getTime() - (transitTime * 60000));\nconst pickupTime = pickupDateTime.toISOString();\n\n// Calculate dropoff time\nconst totalDuration = appointmentLength + transitTime;\nconst dropOffDateTime = new Date(appointmentDateTime.getTime() + (totalDuration * 60000));\nconst dropOffTime = dropOffDateTime.toISOString();\n\nreturn [{\n  json: {\n    ...$json,\n    pickupTime: pickupTime,\n    dropOffTime: dropOffTime,\n    transitTime: transitTime,\n    appointmentLength: appointmentLength\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        160
      ],
      "id": "cd23542c-bb8d-4976-899b-b0f59e302859",
      "name": "Calculate Times - Code"
    },
    {
      "parameters": {
        "jsCode": "// Combine Notes - v1.0.0\n// Combines driver instructions with scheduling notes\n\nconst driverInstructions = ($json.driver_instructions || '').trim();\nconst schedulingNotes = ($json.scheduling_notes || '').trim();\n\nlet combinedNotes = '';\nif (driverInstructions && schedulingNotes) {\n  combinedNotes = `${driverInstructions}. ${schedulingNotes}`;\n} else if (driverInstructions) {\n  combinedNotes = driverInstructions;\n} else {\n  combinedNotes = schedulingNotes;\n}\n\nreturn [{\n  json: {\n    ...$json,\n    scheduling_notes: combinedNotes\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        160
      ],
      "id": "9af31a40-b7d0-4f15-bc64-1c5f251c54ae",
      "name": "Combine Notes - Code"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "appointments",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -720,
        160
      ],
      "id": "2c923516-012f-47fd-bdf8-19a0a39ed5f5",
      "name": "Get Current Appointment - Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "pHAY0PSxRTkwJnPE",
          "name": "Testing Branch - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Compare Current vs New - v1.0.0\nconst requestData = $('Combine Notes - Code').first().json;\nconst currentAppointment = $input.first().json;\n\n// Check if driver changed\nconst driverChanged = currentAppointment.driver_assigned !== requestData.driver_assigned;\nconst hasOriginalCalendarEvent = currentAppointment.driver_calendar_event_id && currentAppointment.driver_calendar_event_id !== null;\nconst hasNewDriver = requestData.driver_assigned && requestData.driver_assigned !== null;\n\n// Check if calendar-relevant fields changed\nconst calendarFieldsChanged = (\n    currentAppointment.appointmenttime !== requestData.appointmentDateTime ||\n    currentAppointment.pickuptime !== requestData.pickupTime ||\n    currentAppointment.dropOffTime !== requestData.dropOffTime ||\n    currentAppointment.locationname !== requestData.location ||\n    currentAppointment.locationaddress !== requestData.locationAddress ||\n    currentAppointment.scheduling_notes !== requestData.scheduling_notes ||\n    currentAppointment.notes !== requestData.notes\n);\n\n// Determine calendar operations needed - strings for Switch\nconst needsDelete = (driverChanged && hasOriginalCalendarEvent) ? 'true' : 'false';\nconst needsSync = (hasNewDriver && (driverChanged || calendarFieldsChanged)) ? 'true' : 'false';\n\nreturn [{\n  json: {\n    ...requestData,\n    currentAppointment: currentAppointment,\n    calendarOperations: {\n      needsDelete: needsDelete,\n      needsSync: needsSync,\n      originalDriverAssigned: currentAppointment.driver_assigned,\n      originalCalendarEventId: currentAppointment.driver_calendar_event_id,\n      newDriverAssigned: requestData.driver_assigned,\n      driverChanged: driverChanged,\n      calendarFieldsChanged: calendarFieldsChanged\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        160
      ],
      "id": "699cc1b9-6fdc-4f3b-b805-61dfea52c78d",
      "name": "Compare Current vs New - Code"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.calendarOperations.needsDelete }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "delete"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -240,
        160
      ],
      "id": "98fc827a-429d-435f-9490-3e965fe2ed86",
      "name": "Check Delete Needed - Switch"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "drivers",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.calendarOperations.originalDriverAssigned }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "3d185630-d024-42bf-8712-0fb6b18ae5d6",
      "name": "Get Driver for Delete - Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "pHAY0PSxRTkwJnPE",
          "name": "Testing Branch - Supabase"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://www.googleapis.com/calendar/v3/calendars/{{ $json.google_calendar_id }}/events/{{ $('Compare Current vs New - Code').first().json.calendarOperations.originalCalendarEventId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        0
      ],
      "id": "ffc77b0d-86e5-40a5-8da5-8fc87866f256",
      "name": "Delete Calendar Event - HTTP",
      "credentials": {
        "oAuth2Api": {
          "id": "5WdbkjLVKF4RMfnm",
          "name": "Google Calendar - Generic OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "appointments",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "appointmenttime",
              "fieldValue": "={{ $json.appointmentDateTime }}"
            },
            {
              "fieldId": "pickuptime",
              "fieldValue": "={{ $json.pickupTime }}"
            },
            {
              "fieldId": "dropOffTime",
              "fieldValue": "={{ $json.dropOffTime }}"
            },
            {
              "fieldId": "locationname",
              "fieldValue": "={{ $json.location }}"
            },
            {
              "fieldId": "locationaddress",
              "fieldValue": "={{ $json.locationAddress }}"
            },
            {
              "fieldId": "clinic_id",
              "fieldValue": "={{ $json.clinic_id }}"
            },
            {
              "fieldId": "transittime",
              "fieldValue": "={{ $json.transitTime }}"
            },
            {
              "fieldId": "this_appointment_length",
              "fieldValue": "={{ $json.appointmentLength }}"
            },
            {
              "fieldId": "scheduling_notes",
              "fieldValue": "={{ $json.scheduling_notes }}"
            },
            {
              "fieldId": "notes",
              "fieldValue": "={{ $json.notes }}"
            },
            {
              "fieldId": "driver_instructions",
              "fieldValue": "={{ $json.driver_instructions }}"
            },
            {
              "fieldId": "pickup_address",
              "fieldValue": "={{ $json.pickup_address }}"
            },
            {
              "fieldId": "appointmentstatus",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldId": "operation_status",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldId": "driver_assigned",
              "fieldValue": "={{ $json.driver_assigned }}"
            },
            {
              "fieldId": "driver_first_name",
              "fieldValue": "={{ $json.driver_first_name }}"
            },
            {
              "fieldId": "custom_rate",
              "fieldValue": "={{ $json.customRate }}"
            },
            {
              "fieldId": "managed_by",
              "fieldValue": "={{ $json.managed_by }}"
            },
            {
              "fieldId": "managed_by_name",
              "fieldValue": "={{ $json.managed_by_name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        256
      ],
      "id": "69fda3c2-e823-488d-a7d1-cf6db3c53cc9",
      "name": "Update Appointment - Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "pHAY0PSxRTkwJnPE",
          "name": "Testing Branch - Supabase"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Compare Current vs New - Code').item.json.calendarOperations.needsSync }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "448991e1-c352-470e-baf9-1db063e61d23"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sync"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        720,
        320
      ],
      "id": "0b1c9355-6aae-43a5-a0dc-24341289e2d9",
      "name": "Check Sync Needed - Switch"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "drivers",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('Compare Current vs New - Code').item.json.calendarOperations.newDriverAssigned }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1088,
        -160
      ],
      "id": "ad76e8a3-e41a-4f73-8beb-35e02f8430f4",
      "name": "Get New Driver - Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "pHAY0PSxRTkwJnPE",
          "name": "Testing Branch - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Validate New Driver - v1.0.0\nconst driver = $input.first().json;\n\nif (!driver.id) {\n  return [{\n    json: {\n      success: false,\n      error: 'New driver not found'\n    }\n  }];\n}\n\nif (!driver.google_calendar_id) {\n  return [{\n    json: {\n      success: false,\n      error: 'Driver calendar not configured'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    driverId: driver.id,\n    driverName: `${driver.first_name || ''} ${driver.last_name || ''}`.trim(),\n    driverEmail: driver.email,\n    calendarId: driver.google_calendar_id,\n    proceedToSync: true\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        -160
      ],
      "id": "1e4765f9-37c2-433e-9ed5-bbe9e91187f9",
      "name": "Validate New Driver - Code"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "appointments",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('Compare Current vs New - Code').first().json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1568,
        -160
      ],
      "id": "d50b6613-6513-460a-ad6f-f3a3a8bee3f5",
      "name": "Get Appointment for Calendar - Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "pHAY0PSxRTkwJnPE",
          "name": "Testing Branch - Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "clients",
        "filters": {
          "conditions": [
            {
              "keyName": "knumber",
              "keyValue": "={{ $input.first().json.knumber }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1808,
        -160
      ],
      "id": "99a5238d-79f4-4e53-a9af-c318206acd60",
      "name": "Get Client for Calendar - Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "pHAY0PSxRTkwJnPE",
          "name": "Testing Branch - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare Calendar Sync - v1.0.0\nconst appointment = $('Get Appointment for Calendar - Supabase').first().json;\nconst client = $input.first().json;\nconst driverInfo = $('Validate New Driver - Code').first().json;\n\nconst pickupTime = new Date(appointment.pickuptime);\nconst appointmentTime = new Date(appointment.appointmenttime);\nconst dropOffTime = new Date(appointment.dropOffTime || appointmentTime.getTime() + (appointment.this_appointment_length * 60000));\n\nconst clientName = `${client.firstname || ''} ${client.lastname || ''}`.trim() || 'Unknown Client';\nconst clientAddress = [client.civicaddress, client.city, client.prov, client.postalcode].filter(Boolean).join(', ');\n\nconst event = {\n  summary: `Transport: ${clientName} to ${appointment.locationname}`,\n  description: [\n    `Client: ${clientName}`,\n    client.phone ? `Phone: ${client.phone}` : '',\n    `Pickup: ${pickupTime.toLocaleString('en-US', { timeZone: 'America/Halifax', hour: 'numeric', minute: '2-digit', hour12: true })}`,\n    `Appointment: ${appointmentTime.toLocaleString('en-US', { timeZone: 'America/Halifax', hour: 'numeric', minute: '2-digit', hour12: true })}`,\n    appointment.driver_instructions ? `Driver Instructions: ${appointment.driver_instructions}` : '',\n    appointment.scheduling_notes ? `Notes: ${appointment.scheduling_notes}` : ''\n  ].filter(Boolean).join('\\n'),\n  start: {\n    dateTime: appointment.pickuptime,\n    timeZone: 'America/Halifax'\n  },\n  end: {\n    dateTime: dropOffTime.toISOString(),\n    timeZone: 'America/Halifax'\n  },\n  location: clientAddress,\n  colorId: '2',\n  extendedProperties: {\n    private: {\n      rrts_appointment_id: appointment.id.toString(),\n      rrts_driver_id: driverInfo.driverId.toString()\n    }\n  },\n  reminders: {\n    useDefault: false,\n    overrides: [\n      { method: 'popup', minutes: 60 },\n      { method: 'popup', minutes: 5 }\n    ]\n  }\n};\n\nconst operation = appointment.driver_calendar_event_id ? 'UPDATE' : 'CREATE';\n\nreturn [{\n  json: {\n    operation: operation,\n    appointmentId: appointment.id,\n    eventId: appointment.driver_calendar_event_id || null,\n    calendarId: driverInfo.calendarId,\n    event: event\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2048,
        -160
      ],
      "id": "a6f5f3be-b86c-49b0-b135-693ec9b9edce",
      "name": "Prepare Calendar Sync - Code"
    },
    {
      "parameters": {
        "method": "={{ $json.operation === 'UPDATE' ? 'PATCH' : 'POST' }}",
        "url": "={{ $json.operation === 'UPDATE' ? 'https://www.googleapis.com/calendar/v3/calendars/' + $json.calendarId + '/events/' + $json.eventId : 'https://www.googleapis.com/calendar/v3/calendars/' + $json.calendarId + '/events' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.event) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2288,
        -160
      ],
      "id": "0f59e143-724a-4602-aeaa-7f3b547ad858",
      "name": "Execute Calendar Sync - HTTP",
      "credentials": {
        "oAuth2Api": {
          "id": "5WdbkjLVKF4RMfnm",
          "name": "Google Calendar - Generic OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Update with Event ID - v1.0.0\nconst calendarResult = $input.first().json;\nconst appointmentId = $('Prepare Calendar Sync - Code').first().json.appointmentId;\n\nif (calendarResult.error || !calendarResult.id) {\n  return [{\n    json: {\n      appointmentId: appointmentId,\n      eventId: null,\n      syncError: calendarResult.error || 'Calendar sync failed',\n      syncSuccess: false\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    appointmentId: appointmentId,\n    eventId: calendarResult.id,\n    syncError: null,\n    syncSuccess: true\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2528,
        -160
      ],
      "id": "aebc117e-fb09-4158-8ab8-0cd2be4b6d5a",
      "name": "Prepare Event Update - Code"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "appointments",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.appointmentId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "driver_calendar_event_id",
              "fieldValue": "={{ $json.eventId }}"
            },
            {
              "fieldId": "google_calendar_last_synced",
              "fieldValue": "={{ $json.syncSuccess ? new Date().toISOString() : null }}"
            },
            {
              "fieldId": "driver_assigned",
              "fieldValue": "={{ $('Compare Current vs New - Code').item.json.driver_assigned }}"
            },
            {
              "fieldId": "driver_first_name",
              "fieldValue": "={{ $('Compare Current vs New - Code').item.json.driver_first_name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2768,
        -160
      ],
      "id": "d4aae2e3-7f07-4073-9674-8ff3f86156f4",
      "name": "Update Calendar Event ID - Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "pHAY0PSxRTkwJnPE",
          "name": "Testing Branch - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format Success Response - v1.0.0\nconst compareData = $('Compare Current vs New - Code').first().json;\n\nreturn [{\n  json: {\n    success: true,\n    message: 'Appointment updated successfully',\n    data: {\n      id: compareData.id,\n      knumber: compareData.knumber,\n      appointmenttime: compareData.appointmentDateTime,\n      location: compareData.location\n    },\n    calendarOperations: {\n      deleted: compareData.calendarOperations.needsDelete === 'true',\n      synced: compareData.calendarOperations.needsSync === 'true'\n    },\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3248,
        576
      ],
      "id": "27e49499-35b5-4641-ab23-32519eb1c716",
      "name": "Format Success Response - Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        3680,
        944
      ],
      "id": "1f911291-9167-437c-a37c-327fb14f5124",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// Format JWT Error Response - v1.0.0\n\nconst errorData = $input.first().json;\n\nreturn [{\n  json: {\n    success: false,\n    message: errorData.error || 'Unauthorized',\n    error: errorData.error || 'JWT validation failed',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1696,
        544
      ],
      "id": "dee53498-e9e6-4439-a1c7-1b78b7146db4",
      "name": "Format JWT Error - Code"
    },
    {
      "parameters": {
        "jsCode": "// Format Validation Error Response - v1.0.0\n\nconst errorData = $input.first().json;\n\nreturn [{\n  json: {\n    success: false,\n    message: errorData.error || 'Validation failed',\n    error: errorData.error || 'Invalid request data',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        368
      ],
      "id": "677aa339-c3cd-41fe-bf2b-207365354a5d",
      "name": "Format Validation Error - Code"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "appointments",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Compare Current vs New - Code').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "appointmenttime",
              "fieldValue": "={{ $('Compare Current vs New - Code').item.json.appointmentDateTime }}"
            },
            {
              "fieldId": "pickuptime",
              "fieldValue": "={{ $('Compare Current vs New - Code').item.json.pickupTime }}"
            },
            {
              "fieldId": "dropOffTime",
              "fieldValue": "={{ $('Compare Current vs New - Code').item.json.dropOffTime }}"
            },
            {
              "fieldId": "locationname",
              "fieldValue": "={{ $('Compare Current vs New - Code').item.json.location }}"
            },
            {
              "fieldId": "locationaddress",
              "fieldValue": "={{ $('Compare Current vs New - Code').item.json.locationAddress }}"
            },
            {
              "fieldId": "clinic_id",
              "fieldValue": "={{ $('Compare Current vs New - Code').item.json.clinic_id }}"
            },
            {
              "fieldId": "transittime",
              "fieldValue": "={{ $('Compare Current vs New - Code').item.json.transitTime }}"
            },
            {
              "fieldId": "this_appointment_length",
              "fieldValue": "={{ $('Compare Current vs New - Code').item.json.appointmentLength }}"
            },
            {
              "fieldId": "scheduling_notes",
              "fieldValue": "={{ $('Compare Current vs New - Code').item.json.scheduling_notes }}"
            },
            {
              "fieldId": "notes",
              "fieldValue": "={{ $('Compare Current vs New - Code').item.json.notes }}"
            },
            {
              "fieldId": "driver_instructions",
              "fieldValue": "={{ $('Compare Current vs New - Code').item.json.driver_instructions }}"
            },
            {
              "fieldId": "pickup_address",
              "fieldValue": "={{ $('Compare Current vs New - Code').item.json.pickup_address }}"
            },
            {
              "fieldId": "appointmentstatus",
              "fieldValue": "={{ $('Compare Current vs New - Code').item.json.status }}"
            },
            {
              "fieldId": "operation_status",
              "fieldValue": "={{ $('Compare Current vs New - Code').item.json.status }}"
            },
            {
              "fieldId": "custom_rate",
              "fieldValue": "={{ $('Compare Current vs New - Code').item.json.customRate }}"
            },
            {
              "fieldId": "managed_by",
              "fieldValue": "={{ $('Compare Current vs New - Code').item.json.managed_by }}"
            },
            {
              "fieldId": "managed_by_name",
              "fieldValue": "={{ $('Compare Current vs New - Code').item.json.managed_by_name }}"
            },
            {
              "fieldId": "driver_assigned",
              "fieldValue": "={{ null }}"
            },
            {
              "fieldId": "driver_calendar_event_id",
              "fieldValue": "={{ null }}"
            },
            {
              "fieldId": "driver_first_name",
              "fieldValue": "={{ null }}"
            },
            {
              "fieldId": "google_calendar_last_synced",
              "fieldValue": "={{ null }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        480,
        0
      ],
      "id": "e1025c12-06d6-4af6-8326-15d1e20d8ecf",
      "name": "Update Appt After Calendar Delete - Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "pHAY0PSxRTkwJnPE",
          "name": "Testing Branch - Supabase"
        }
      }
    }
  ],
  "pinData": {
    "Webhook - Update Appointment": [
      {
        "json": {
          "headers": {
            "host": "webhook-processor-production-3bb8.up.railway.app",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "content-length": "559",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "authorization": "Bearer REPLACE_WITH_VALID_TOKEN",
            "content-type": "application/json",
            "origin": "null",
            "priority": "u=1, i",
            "sec-ch-ua": "\"Chromium\";v=\"142\", \"Google Chrome\";v=\"142\", \"Not_A Brand\";v=\"99\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "134.41.174.19",
            "x-forwarded-host": "webhook-processor-production-3bb8.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-edge": "railway/us-east4-eqdc4a",
            "x-railway-request-id": "Ru6mDBiJT1uINJ9Jg4a9AQ",
            "x-real-ip": "134.41.174.19",
            "x-request-start": "1762645097236"
          },
          "params": {},
          "query": {},
          "body": {
            "knumber": "K7834625",
            "appointmentDateTime": "2025-11-07T17:45:00.000Z",
            "appointmentLength": 120,
            "status": "assigned",
            "notes": "",
            "driver_instructions": null,
            "scheduling_notes": "",
            "transitTime": 20,
            "pickup_address": "2203 Hwy 1, Auburn, NS, B0P 1A0",
            "customRate": null,
            "location": "NuVista Psychedelic - Greenwood",
            "clinic_id": 1,
            "locationAddress": "963 Central Ave, Greenwood, NS B0P 1N0",
            "driver_assigned": 16,
            "driver_first_name": "Shae",
            "id": "d32ef0c7-44b5-48bc-bffb-69d6b1cf2794",
            "pickupTime": "2025-11-07T17:25:00.000Z",
            "managed_by": 31,
            "managed_by_name": "Komal Gupta"
          },
          "webhookUrl": "https://webhook-processor-production-3bb8.up.railway.app/webhook/update-appointment-complete",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook - Update Appointment": {
      "main": [
        [
          {
            "node": "JWT Validation - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT Validation - Code": {
      "main": [
        [
          {
            "node": "JWT Validation - Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT Validation - Switch": {
      "main": [
        [
          {
            "node": "Validate Request - Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format JWT Error - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Request - Code": {
      "main": [
        [
          {
            "node": "Validation - Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation - Switch": {
      "main": [
        [
          {
            "node": "Calculate Times - Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Validation Error - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Times - Code": {
      "main": [
        [
          {
            "node": "Combine Notes - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Notes - Code": {
      "main": [
        [
          {
            "node": "Get Current Appointment - Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Appointment - Supabase": {
      "main": [
        [
          {
            "node": "Compare Current vs New - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Current vs New - Code": {
      "main": [
        [
          {
            "node": "Check Delete Needed - Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Delete Needed - Switch": {
      "main": [
        [
          {
            "node": "Get Driver for Delete - Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Appointment - Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Driver for Delete - Supabase": {
      "main": [
        [
          {
            "node": "Delete Calendar Event - HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Calendar Event - HTTP": {
      "main": [
        [
          {
            "node": "Update Appt After Calendar Delete - Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Appointment - Supabase": {
      "main": [
        [
          {
            "node": "Check Sync Needed - Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Sync Needed - Switch": {
      "main": [
        [
          {
            "node": "Get New Driver - Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Success Response - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get New Driver - Supabase": {
      "main": [
        [
          {
            "node": "Validate New Driver - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate New Driver - Code": {
      "main": [
        [
          {
            "node": "Get Appointment for Calendar - Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Appointment for Calendar - Supabase": {
      "main": [
        [
          {
            "node": "Get Client for Calendar - Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Client for Calendar - Supabase": {
      "main": [
        [
          {
            "node": "Prepare Calendar Sync - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Calendar Sync - Code": {
      "main": [
        [
          {
            "node": "Execute Calendar Sync - HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Calendar Sync - HTTP": {
      "main": [
        [
          {
            "node": "Prepare Event Update - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Event Update - Code": {
      "main": [
        [
          {
            "node": "Update Calendar Event ID - Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Calendar Event ID - Supabase": {
      "main": [
        [
          {
            "node": "Format Success Response - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Response - Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format JWT Error - Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Validation Error - Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Appt After Calendar Delete - Supabase": {
      "main": [
        [
          {
            "node": "Check Sync Needed - Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "237442ad-2559-419b-b712-4e95a71b4a49",
  "meta": {
    "instanceId": "62fe1973b06b53c2a918f891d003328ecd43cc9389e3ac0f24384782e956f6ca"
  },
  "id": "yTi2QJ8p8o3hBTc1",
  "tags": [
    {
      "updatedAt": "2025-10-30T17:13:53.320Z",
      "createdAt": "2025-10-30T17:13:53.320Z",
      "id": "3od10wQiA1OAAozv",
      "name": "Appointment Management"
    },
    {
      "updatedAt": "2025-11-02T20:39:22.246Z",
      "createdAt": "2025-11-02T20:39:22.246Z",
      "id": "Gm2wdYiA4AnCKH8r",
      "name": "with JWT"
    },
    {
      "updatedAt": "2025-11-09T06:15:47.425Z",
      "createdAt": "2025-11-09T06:15:47.425Z",
      "id": "tZpzEwpoeg8SrGGa",
      "name": "TEST"
    },
    {
      "updatedAt": "2025-11-06T16:32:54.590Z",
      "createdAt": "2025-11-06T16:32:54.590Z",
      "id": "7JJkrSJQxciNKGon",
      "name": "Calendar API"
    }
  ]
}