developing/TEST Workflow Copies/TEST - APPT - Unarchive Appointment copy.json
{
  "name": "TEST - APPT - Unarchive Appointment copy",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "TEST-unarchive-appointment",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1104,
        160
      ],
      "id": "cded9ad4-f006-46bb-a631-231bd2007ced",
      "name": "Unarchive - Webhook",
      "webhookId": "c71fa998-9241-4418-992a-fd46da7c4c1a"
    },
    {
      "parameters": {
        "jsCode": "// JWT Token Validation - v1.0.0\nconst webhookData = $input.first().json;\n\nconst authHeader = webhookData.headers?.authorization || webhookData.headers?.Authorization;\n\nif (!authHeader) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Missing authorization header',\n      statusCode: 401,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nif (!authHeader.startsWith('Bearer ')) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Invalid authorization format',\n      statusCode: 401,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nconst token = authHeader.substring(7);\n\nfunction simpleHash(input) {\n  let hash = 0;\n  for (let i = 0; i < input.length; i++) {\n    const char = input.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash;\n  }\n  return hash.toString(36);\n}\n\nconst JWT_SECRET = \"REPLACE_WITH_ENV_VAR_JWT_SECRET\";\n\nfunction verifyJWT(token) {\n  try {\n    const parts = token.split('.');\n    if (parts.length !== 3) {\n      return { valid: false, error: 'Invalid token format' };\n    }\n\n    const [encodedHeader, encodedPayload, receivedSignature] = parts;\n    const dataToSign = `${encodedHeader}.${encodedPayload}.${JWT_SECRET}`;\n    const expectedSignature = simpleHash(dataToSign);\n\n    if (receivedSignature !== expectedSignature) {\n      return { valid: false, error: 'Invalid token signature' };\n    }\n\n    const payload = JSON.parse(atob(encodedPayload));\n    const now = Math.floor(Date.now() / 1000);\n    if (payload.exp && payload.exp < now) {\n      return { valid: false, error: 'Token expired' };\n    }\n\n    return { valid: true, payload: payload };\n\n  } catch (error) {\n    return { valid: false, error: 'Token verification failed' };\n  }\n}\n\nconst validation = verifyJWT(token);\n\nif (!validation.valid) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: validation.error || 'Invalid token',\n      statusCode: 401,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nconst payload = validation.payload;\n\nif (payload.type === 'limited') {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'This operation requires full authentication',\n      statusCode: 403,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nif (payload.type === 'refresh') {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Refresh tokens cannot be used for this operation',\n      statusCode: 403,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    _route: 'authorized',\n    authenticated: true,\n    user: {\n      username: payload.sub,\n      role: payload.role,\n      tokenType: payload.type,\n      userId: payload.userId\n    },\n    requestBody: webhookData.body,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        160
      ],
      "id": "a21175b4-b137-4f1e-9156-a257166e4b48",
      "name": "JWT Validation - Code"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "authorized",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Authorized"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "unauthorized",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Unauthorized"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -656,
        160
      ],
      "id": "a9dc4f16-3ba7-441a-80d1-80f45cc1971d",
      "name": "JWT Check - Switch"
    },
    {
      "parameters": {
        "jsCode": "  // Validate Request - v1.0.0\n  const requestBody = $json.requestBody || $json;\n\n  if (!requestBody.id) {\n      return [{\n          json: {\n              success: \"false\",\n              message: 'Appointment ID is required',\n              timestamp: new Date().toISOString()\n          }\n      }];\n  }\n\n  return [{\n      json: {\n          success: \"true\",\n          appointmentId: requestBody.id\n      }\n  }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        16
      ],
      "id": "aa2d1060-067e-4d62-8e2f-ba473d8ca93d",
      "name": "Validate Request - Code"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.success }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Valid"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.success }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Invalid"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -224,
        16
      ],
      "id": "76bc0853-cea6-44e7-a09a-d2d3bf080815",
      "name": "Validation - Switch"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "appointments",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.appointmentId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "deleted_at",
              "fieldValue": "={{ null }}"
            },
            {
              "fieldId": "deleted_by",
              "fieldValue": "={{ null }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        -96
      ],
      "id": "5e45274e-ad37-44ee-9a11-f7e6bb4fc04a",
      "name": "Unarchive - Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "pHAY0PSxRTkwJnPE",
          "name": "Testing Branch - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format Success Response - v1.0.0\nconst result = $input.first().json;\n\nif (result.error) {\n    console.error('Unarchive error:', result.error);\n    return [{\n        json: {\n            success: false,\n            message: 'Failed to unarchive appointment: ' + result.error,\n            timestamp: new Date().toISOString()\n        }\n    }];\n}\n\nif (!result || !result.id) {\n    return [{\n        json: {\n            success: false,\n            message: 'Appointment not found',\n            timestamp: new Date().toISOString()\n        }\n    }];\n}\n\nreturn [{\n    json: {\n        success: true,\n        message: 'Appointment unarchived successfully',\n        appointmentId: result.id,\n        timestamp: new Date().toISOString()\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -96
      ],
      "id": "70c93369-460c-4be4-8623-5056dce4e8a7",
      "name": "Format Success - Code"
    },
    {
      "parameters": {
        "jsCode": "// Format Error Response - v1.0.0\nconst errorData = $input.first().json;\n\nreturn [{\n    json: {\n        success: false,\n        message: errorData.message || 'Validation failed',\n        timestamp: new Date().toISOString()\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        112
      ],
      "id": "a05b729f-dd49-4789-badd-1c481a6fe03b",
      "name": "Format Error - Code"
    },
    {
      "parameters": {
        "jsCode": "// Format Unauthorized - v1.0.0\nconst unauthorizedData = $input.first().json;\n\nreturn [{\n    json: {\n        success: false,\n        message: unauthorizedData.message || 'Unauthorized',\n        statusCode: unauthorizedData.statusCode || 401,\n        timestamp: new Date().toISOString()\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        320
      ],
      "id": "29a479cb-2a8d-491d-89f0-e9261d8a32b0",
      "name": "Format Unauthorized - Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        656,
        480
      ],
      "id": "76a58153-9065-401e-be39-51bf53c5e704",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {
    "Unarchive - Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook-processor-production-3bb8.up.railway.app",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36",
            "content-length": "45",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "authorization": "Bearer REPLACE_WITH_VALID_TOKEN",
            "content-type": "application/json",
            "origin": "null",
            "priority": "u=1, i",
            "sec-ch-ua": "\"Google Chrome\";v=\"141\", \"Not?A_Brand\";v=\"8\", \"Chromium\";v=\"141\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "134.41.174.19",
            "x-forwarded-host": "webhook-processor-production-3bb8.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-edge": "railway/us-east4-eqdc4a",
            "x-railway-request-id": "ERH4Va-XTgS15AV7Cx5-qw",
            "x-real-ip": "134.41.174.19",
            "x-request-start": "1762381447751"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "79437e50-1f51-4a36-aa15-a829a6711487"
          },
          "webhookUrl": "https://webhook-processor-production-3bb8.up.railway.app/webhook/unarchive-appointment",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Unarchive - Webhook": {
      "main": [
        [
          {
            "node": "JWT Validation - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT Validation - Code": {
      "main": [
        [
          {
            "node": "JWT Check - Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT Check - Switch": {
      "main": [
        [
          {
            "node": "Validate Request - Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Unauthorized - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Request - Code": {
      "main": [
        [
          {
            "node": "Validation - Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation - Switch": {
      "main": [
        [
          {
            "node": "Unarchive - Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unarchive - Supabase": {
      "main": [
        [
          {
            "node": "Format Success - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success - Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error - Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Unauthorized - Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f48d9a1c-d76c-4790-96b3-84a5be697979",
  "meta": {
    "instanceId": "62fe1973b06b53c2a918f891d003328ecd43cc9389e3ac0f24384782e956f6ca"
  },
  "id": "nrcyT2nAJW8r0OVE",
  "tags": [
    {
      "updatedAt": "2025-10-30T17:13:53.320Z",
      "createdAt": "2025-10-30T17:13:53.320Z",
      "id": "3od10wQiA1OAAozv",
      "name": "Appointment Management"
    },
    {
      "updatedAt": "2025-11-02T20:39:22.246Z",
      "createdAt": "2025-11-02T20:39:22.246Z",
      "id": "Gm2wdYiA4AnCKH8r",
      "name": "with JWT"
    },
    {
      "updatedAt": "2025-11-09T06:15:47.425Z",
      "createdAt": "2025-11-09T06:15:47.425Z",
      "id": "tZpzEwpoeg8SrGGa",
      "name": "TEST"
    }
  ]
}