developing/TEST Workflow Copies/TEST - CLIENT - Get All Clients copy (2).json
{
  "name": "TEST - CLIENT - Get All Clients copy",
  "nodes": [
    {
      "parameters": {
        "path": "TEST-get-all-clients",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -64,
        128
      ],
      "id": "ac211d6f-ae0b-4f78-a7b1-596c3ca02540",
      "name": "Get - Webhook",
      "webhookId": "b004d415-ec57-437d-a0a7-4bfc19384d04"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1248,
        336
      ],
      "id": "884ee448-9bd5-4ca0-a6e7-0678c6c51bc6",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// Get all clients data from Supabase\n  const clients = $input.all().map(item => item.json);\n\n  console.log('=== GET ALL CLIENTS DEBUG ===');\n  console.log('Number of clients returned:', clients.length);\n\n  // Sort clients alphabetically by last name, then first name\n  const sortedClients = clients.sort((a, b) => {\n    const lastNameCompare = (a.lastname || '').localeCompare(b.lastname || '');\n    if (lastNameCompare !== 0) {\n      return lastNameCompare;\n    }\n    // If last names are the same, sort by first name\n    return (a.firstname || '').localeCompare(b.firstname || '');\n  });\n\n  // Map clients data with all fields including new ones\n  const formattedClients = sortedClients.map(client => ({\n    ...client,\n    active: client.active !== false, // Default to true if undefined/null\n    mapaddress: client.mapaddress || '', // Ensure mapaddress is never null for\n  frontend\n    appointmentLength: client.appointment_length || null, // Map appointment_length to\n  appointmentLength for frontend\n    primaryClinicId: client.primary_clinic_id || null, // Map primary_clinic_id for\n  frontend\n    openphoneContactId: client.openphone_contact_id || null // Map openphone_contact_id\n   for frontend\n  }));\n\n  console.log('Active status check:', formattedClients.slice(0, 3).map(c => ({\n    knumber: c.knumber,\n    active: c.active,\n    mapaddress: c.mapaddress ? 'Has map address' : 'No map address',\n    appointmentLength: c.appointmentLength || 'Default length',\n    primaryClinicId: c.primaryClinicId ? `Clinic ID: ${c.primaryClinicId}` : 'No\n  primary clinic',\n    openphoneContactId: c.openphoneContactId ? 'Has OpenPhone ID' : 'No OpenPhone ID'\n  })));\n\n  return [{\n    json: {\n      success: true,\n      clients: formattedClients,\n      count: formattedClients.length,\n      activeCount: formattedClients.filter(c => c.active).length,\n      inactiveCount: formattedClients.filter(c => !c.active).length,\n      syncedCount: formattedClients.filter(c => c.openphoneContactId).length,\n      message: `Found ${formattedClients.length} clients`\n    }\n  }];\n\n  // Version: v2.3 - Added primaryClinicId and openphoneContactId mapping, plus syncedCount for OpenPhone integration tracking"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        0
      ],
      "id": "882c3f37-0e98-4b4b-a7cb-fcdaae746173",
      "name": "Format Response - Code"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "clients",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "2f0d4245-5cef-40d4-8e0e-4db2aca72c1d",
      "name": "Get All Clients - Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "pHAY0PSxRTkwJnPE",
          "name": "Testing Branch - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// JWT Token Validation for Backend Workflows\n// Version: v1.0.0\n// Use this code node at the start of any protected workflow\n\n// Get webhook input data\nconst webhookData = $input.first().json;\n\n// Extract Authorization header\nconst authHeader = webhookData.headers?.authorization || webhookData.headers?.Authorization;\n\nif (!authHeader) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Missing authorization header',\n      statusCode: 401,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Check Bearer token format\nif (!authHeader.startsWith('Bearer ')) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Invalid authorization format. Expected \"Bearer {token}\"',\n      statusCode: 401,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Extract token\nconst token = authHeader.substring(7); // Remove \"Bearer \" prefix\n\n// JWT validation functions (matching generation code)\nfunction simpleHash(input) {\n  let hash = 0;\n  for (let i = 0; i < input.length; i++) {\n    const char = input.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash;\n  }\n  return hash.toString(36);\n}\n\nconst JWT_SECRET = \"REPLACE_WITH_ENV_VAR_JWT_SECRET\";\n\nfunction verifyJWT(token) {\n  try {\n    const parts = token.split('.');\n    if (parts.length !== 3) {\n      return { valid: false, error: 'Invalid token format' };\n    }\n\n    const [encodedHeader, encodedPayload, receivedSignature] = parts;\n\n    // Verify signature\n    const dataToSign = `${encodedHeader}.${encodedPayload}.${JWT_SECRET}`;\n    const expectedSignature = simpleHash(dataToSign);\n\n    if (receivedSignature !== expectedSignature) {\n      return { valid: false, error: 'Invalid token signature' };\n    }\n\n    // Decode payload\n    const payload = JSON.parse(atob(encodedPayload));\n\n    // Check expiration\n    const now = Math.floor(Date.now() / 1000);\n    if (payload.exp && payload.exp < now) {\n      return { valid: false, error: 'Token expired' };\n    }\n\n    return { valid: true, payload: payload };\n\n  } catch (error) {\n    return { valid: false, error: 'Token verification failed: ' + error.message };\n  }\n}\n\n// Validate the token\nconst validation = verifyJWT(token);\n\nif (!validation.valid) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: validation.error || 'Invalid token',\n      statusCode: 401,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nconst payload = validation.payload;\n\n// Check token type (reject LIMITED tokens unless specifically allowed)\n// Note: Individual workflows can override this by setting allowLimitedToken in webhook body\nconst allowLimitedToken = webhookData.body?.allowLimitedToken || false;\n\nif (payload.type === 'limited' && !allowLimitedToken) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'This operation requires full authentication. Please complete password change.',\n      statusCode: 403,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Check if refresh token is being used for non-refresh operations\nif (payload.type === 'refresh') {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Refresh tokens cannot be used for this operation',\n      statusCode: 403,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Token is valid - return user info and original request body\nreturn [{\n  json: {\n    _route: 'authorized',\n    authenticated: true,\n    user: {\n      username: payload.sub,\n      role: payload.role,\n      tokenType: payload.type,\n      permissions: payload.permissions || []\n    },\n    requestBody: webhookData.body,\n    timestamp: new Date().toISOString()\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        128
      ],
      "id": "41f0aafb-3133-43ca-8980-6c69d87635a7",
      "name": "JWT Validation - Code"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "authorized",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6f190af3-db9e-4ef8-b19a-f07a60b9b458"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Authorized"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fa90cc5b-53c2-4509-bd4d-b3f11b266fd1",
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "unauthorized",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Unauthorized"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        352,
        128
      ],
      "id": "657d3685-8154-4103-ac6c-04a45f6600cd",
      "name": "JWT Validation - Switch"
    },
    {
      "parameters": {
        "jsCode": "  // Format Unauthorized Error Response - Simple Version\n  // Version: v1.0.0\n\n  const errorData = $input.first().json;\n\n  // Return standardized error format\n  return [{\n    json: {\n      success: false,\n      error: {\n        message: errorData.message || 'Unauthorized access',\n        statusCode: errorData.statusCode || 401\n      },\n      timestamp: errorData.timestamp || new Date().toISOString()\n    }\n  }]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        224
      ],
      "id": "adbbe6ab-b227-4c93-b752-641f7b1a20b3",
      "name": "Unauthorized  Response - Code"
    }
  ],
  "pinData": {
    "Get - Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook-processor-production-3bb8.up.railway.app",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "authorization": "Bearer REPLACE_WITH_VALID_TOKEN",
            "content-type": "application/json",
            "origin": "null",
            "priority": "u=1, i",
            "sec-ch-ua": "\"Chromium\";v=\"142\", \"Google Chrome\";v=\"142\", \"Not_A Brand\";v=\"99\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "134.41.46.208",
            "x-forwarded-host": "webhook-processor-production-3bb8.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-edge": "railway/us-east4-eqdc4a",
            "x-railway-request-id": "1mrKP52FQcOMmH75Aax-fw",
            "x-real-ip": "134.41.46.208",
            "x-request-start": "1764222320643",
            "x-requested-with": "XMLHttpRequest"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://webhook-processor-production-3bb8.up.railway.app/webhook/TEST-get-all-clients",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Get - Webhook": {
      "main": [
        [
          {
            "node": "JWT Validation - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response - Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Clients - Supabase": {
      "main": [
        [
          {
            "node": "Format Response - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT Validation - Code": {
      "main": [
        [
          {
            "node": "JWT Validation - Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT Validation - Switch": {
      "main": [
        [
          {
            "node": "Get All Clients - Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized  Response - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unauthorized  Response - Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "adce00ca-f85e-4f3b-8dc6-eb91d05b4ef7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "62fe1973b06b53c2a918f891d003328ecd43cc9389e3ac0f24384782e956f6ca"
  },
  "id": "zMUxz67uMQ3IH7sD",
  "tags": [
    {
      "updatedAt": "2025-10-30T17:13:23.662Z",
      "createdAt": "2025-10-30T17:13:23.662Z",
      "id": "6XS9liwmEsteNkRR",
      "name": "Add Appointments"
    },
    {
      "updatedAt": "2025-10-30T17:16:58.339Z",
      "createdAt": "2025-10-30T17:16:58.339Z",
      "id": "enR5cvAvdrM9M4km",
      "name": "Client Management"
    },
    {
      "updatedAt": "2025-11-09T06:15:47.425Z",
      "createdAt": "2025-11-09T06:15:47.425Z",
      "id": "tZpzEwpoeg8SrGGa",
      "name": "TEST"
    }
  ]
}