developing/TEST Workflow Copies/TEST - OPS - Save Draft Assignment.json
{
  "name": "TEST - OPS - Save Draft Assignment",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "TEST-save-draft-assignment",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "id": "webhook-save-draft",
      "name": "POST Save Draft - Webhook",
      "webhookId": "ops-save-draft"
    },
    {
      "parameters": {
        "jsCode": "// JWT Token Validation - v1.0.0\n// Operations endpoints require admin/supervisor role\n\nconst webhookData = $input.first().json;\nconst authHeader = webhookData.headers?.authorization || webhookData.headers?.Authorization;\n\nif (!authHeader) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Missing authorization header',\n      statusCode: 401,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nif (!authHeader.startsWith('Bearer ')) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Invalid authorization format',\n      statusCode: 401,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nconst token = authHeader.substring(7);\n\nfunction simpleHash(input) {\n  let hash = 0;\n  for (let i = 0; i < input.length; i++) {\n    const char = input.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash;\n  }\n  return hash.toString(36);\n}\n\nconst JWT_SECRET = \"REPLACE_WITH_ENV_VAR_JWT_SECRET\";\n\nfunction verifyJWT(token) {\n  try {\n    const parts = token.split('.');\n    if (parts.length !== 3) {\n      return { valid: false, error: 'Invalid token format' };\n    }\n\n    const [encodedHeader, encodedPayload, receivedSignature] = parts;\n    const dataToSign = `${encodedHeader}.${encodedPayload}.${JWT_SECRET}`;\n    const expectedSignature = simpleHash(dataToSign);\n\n    if (receivedSignature !== expectedSignature) {\n      return { valid: false, error: 'Invalid token signature' };\n    }\n\n    const payload = JSON.parse(atob(encodedPayload));\n    const now = Math.floor(Date.now() / 1000);\n    if (payload.exp && payload.exp < now) {\n      return { valid: false, error: 'Token expired' };\n    }\n\n    return { valid: true, payload: payload };\n\n  } catch (error) {\n    return { valid: false, error: 'Token verification failed' };\n  }\n}\n\nconst validation = verifyJWT(token);\n\nif (!validation.valid) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: validation.error || 'Invalid token',\n      statusCode: 401,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nconst payload = validation.payload;\n\nif (payload.type === 'limited' || payload.type === 'refresh') {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'This operation requires full authentication',\n      statusCode: 403,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Role check\nconst allowedRoles = ['admin', 'supervisor'];\nif (!allowedRoles.includes(payload.role)) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Access denied. Requires admin or supervisor role.',\n      statusCode: 403,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    _route: 'authorized',\n    user: {\n      id: payload.userId,\n      username: payload.sub,\n      role: payload.role,\n      fullName: payload.fullName\n    },\n    requestBody: webhookData.body,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300],
      "id": "jwt-validation",
      "name": "JWT Validation - Code"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "authorized",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Authorized"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "unauthorized",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Unauthorized"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [440, 300],
      "id": "jwt-switch",
      "name": "JWT Validation - Switch"
    },
    {
      "parameters": {
        "jsCode": "// Validate Draft Assignment Request - v1.0.0\n\nconst authData = $input.first().json;\nconst body = authData.requestBody || {};\n\nconst errors = [];\n\n// Validate appointmentId (UUID string)\nconst appointmentId = body.appointmentId;\nif (!appointmentId) {\n  errors.push('appointmentId is required');\n}\n\n// Validate weekStart\nconst weekStart = body.weekStart;\nif (!weekStart) {\n  errors.push('weekStart is required');\n} else {\n  const dateRegex = /^\\d{4}-\\d{2}-\\d{2}$/;\n  if (!dateRegex.test(weekStart)) {\n    errors.push('weekStart must be in YYYY-MM-DD format');\n  }\n}\n\n// driverId can be null (to clear) or a number\nconst driverId = body.driverId;\nif (driverId !== null && driverId !== undefined && isNaN(parseInt(driverId))) {\n  errors.push('driverId must be a number or null');\n}\n\nif (errors.length > 0) {\n  return [{\n    json: {\n      _route: 'invalid',\n      success: false,\n      message: 'Validation failed: ' + errors.join(', '),\n      errors: errors,\n      statusCode: 400,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    _route: 'valid',\n    appointmentId: appointmentId,\n    driverId: driverId !== null && driverId !== undefined ? parseInt(driverId) : null,\n    weekStart: weekStart,\n    user: authData.user,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 200],
      "id": "validate-request",
      "name": "Validate Request - Code"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "valid",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Valid"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "invalid",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Invalid"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [880, 200],
      "id": "validation-switch",
      "name": "Validation - Switch"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "operations_draft_assignments",
        "returnAll": false,
        "limit": 1,
        "filterType": "string",
        "filterString": "appointment_id=eq.{{ $json.appointmentId }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1100, 100],
      "id": "check-existing",
      "name": "Check Existing Draft - Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "your-credential-id",
          "name": "Supabase Testing"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Check if draft exists - v1.0.0\n\nconst result = $input.first().json;\nconst validatedData = $('Validate Request - Code').first().json;\n\n// If result has an id, draft exists\nconst draftExists = result && result.id !== undefined;\n\nreturn [{\n  json: {\n    _route: draftExists ? 'exists' : 'not_exists',\n    existingDraft: draftExists ? result : null,\n    appointmentId: validatedData.appointmentId,\n    driverId: validatedData.driverId,\n    weekStart: validatedData.weekStart,\n    user: validatedData.user,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 100],
      "id": "check-exists-code",
      "name": "Check Exists - Code"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "exists",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Exists"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "not_exists",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Not Exists"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1540, 100],
      "id": "exists-switch",
      "name": "Draft Exists - Switch"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "operations_draft_assignments",
        "filterType": "string",
        "filterString": "appointment_id=eq.{{ $json.appointmentId }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "draft_driver_id",
              "fieldValue": "={{ $json.driverId }}"
            },
            {
              "fieldName": "week_start",
              "fieldValue": "={{ $json.weekStart }}"
            },
            {
              "fieldName": "last_edited_by",
              "fieldValue": "={{ $json.user.id }}"
            },
            {
              "fieldName": "last_edited_by_name",
              "fieldValue": "={{ $json.user.fullName }}"
            },
            {
              "fieldName": "last_edited_at",
              "fieldValue": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1760, 0],
      "id": "update-draft",
      "name": "Update Draft - Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "your-credential-id",
          "name": "Supabase Testing"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "operations_draft_assignments",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "appointment_id",
              "fieldValue": "={{ $json.appointmentId }}"
            },
            {
              "fieldName": "draft_driver_id",
              "fieldValue": "={{ $json.driverId }}"
            },
            {
              "fieldName": "week_start",
              "fieldValue": "={{ $json.weekStart }}"
            },
            {
              "fieldName": "last_edited_by",
              "fieldValue": "={{ $json.user.id }}"
            },
            {
              "fieldName": "last_edited_by_name",
              "fieldValue": "={{ $json.user.fullName }}"
            },
            {
              "fieldName": "last_edited_at",
              "fieldValue": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1760, 200],
      "id": "insert-draft",
      "name": "Insert Draft - Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "your-credential-id",
          "name": "Supabase Testing"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format Success Response - v1.0.0\n\nconst validatedData = $('Validate Request - Code').first().json;\n\nreturn [{\n  json: {\n    success: true,\n    data: {\n      appointmentId: validatedData.appointmentId,\n      driverId: validatedData.driverId,\n      weekStart: validatedData.weekStart,\n      lastEditedBy: validatedData.user.fullName,\n      lastEditedAt: new Date().toISOString()\n    },\n    message: 'Draft assignment saved',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 100],
      "id": "format-response",
      "name": "Format Response - Code"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2200, 100],
      "id": "respond-success",
      "name": "Success Response - Respond"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.statusCode || 401 }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [660, 500],
      "id": "respond-error",
      "name": "Error Response - Respond"
    }
  ],
  "connections": {
    "POST Save Draft - Webhook": {
      "main": [
        [
          {
            "node": "JWT Validation - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT Validation - Code": {
      "main": [
        [
          {
            "node": "JWT Validation - Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT Validation - Switch": {
      "main": [
        [
          {
            "node": "Validate Request - Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response - Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Request - Code": {
      "main": [
        [
          {
            "node": "Validation - Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation - Switch": {
      "main": [
        [
          {
            "node": "Check Existing Draft - Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response - Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing Draft - Supabase": {
      "main": [
        [
          {
            "node": "Check Exists - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Exists - Code": {
      "main": [
        [
          {
            "node": "Draft Exists - Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft Exists - Switch": {
      "main": [
        [
          {
            "node": "Update Draft - Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert Draft - Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Draft - Supabase": {
      "main": [
        [
          {
            "node": "Format Response - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Draft - Supabase": {
      "main": [
        [
          {
            "node": "Format Response - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response - Code": {
      "main": [
        [
          {
            "node": "Success Response - Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-17T00:00:00.000Z",
  "versionId": "1"
}
