developing/TEST Workflow Copies/TEST - APPT - Get Active Present Future Appointments.json
{
  "name": "TEST - APPT - Get Active Present Future Appointments",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        1264,
        0
      ],
      "id": "c49024bb-6eca-4685-9bfb-c5f13218458d",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "path": "TEST-get-active-present-future-appointments",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "c1cde89a-656a-462c-8cc7-abcb22de00a0",
      "name": "Appointments List Request - Webhook",
      "webhookId": "aad20a41-dfbc-41ad-a589-48603fe4e2c2"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "clients",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "active",
              "condition": "is",
              "keyValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        416,
        -96
      ],
      "id": "9f68c577-9667-4fc6-8db0-b22b13534adc",
      "name": "Get Clients - Supabase",
      "executeOnce": false,
      "credentials": {
        "supabaseApi": {
          "id": "pHAY0PSxRTkwJnPE",
          "name": "Testing Branch - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Simple Appointments Processing - v2.3.0-TEST\n// Processes enriched appointment records from merge node\n// TEST VERSION - Uses Testing Branch Supabase\n\nconsole.log('=== PROCESSING APPOINTMENTS v2.3.0-TEST ===');\n\ntry {\n    // Get all appointment records from merge node\n    const appointments = $input.all().map(item => item.json);\n    console.log('Total appointments received:', appointments.length);\n    \n    if (appointments.length === 0) {\n        return [{\n            json: {\n                success: true,\n                appointments: [],\n                totalAppointments: 0,\n                message: 'No appointments found'\n            }\n        }];\n    }\n    \n    // Process each appointment record\n    const processedAppointments = appointments.map(apt => {\n        // Extract date and time from appointmenttime\n        const appointmentDate = new Date(apt.appointmenttime);\n        const dateStr = appointmentDate.toISOString().split('T')[0]; // YYYY-MM-DD\n        const timeStr = appointmentDate.toTimeString().slice(0, 5); // HH:MM\n        \n        return {\n            id: apt.id,\n            appointmentDate: dateStr,\n            appointmentTime: timeStr,\n            appointmentDateTime: apt.appointmenttime,\n            pickupTime: apt.pickuptime,\n            dropOffTime: apt.dropOffTime,\n            location: apt.locationname,\n            locationAddress: apt.locationaddress,\n            notes: apt.notes || '',\n            status: apt.appointmentstatus,\n            transitTime: apt.transittime,\n            customRate: apt.custom_rate,\n            appointmentLength: apt.this_appointment_length,\n            driverAssigned: apt.driver_assigned,\n            driverCalendarEventId: apt.driver_calendar_event_id,\n            clientNotificationSent: apt.client_notification_sent || false,\n            driverNotificationSent: apt.driver_notification_sent || false,\n            reminderSentClient: apt.reminder_sent_client || false,\n            reminderSentDriver: apt.reminder_sent_driver || false,\n            knumber: apt.knumber,\n            clientName: apt.firstname && apt.lastname ? `${apt.firstname} ${apt.lastname}` : 'Unknown Client',\n            clientFirstName: apt.firstname || '',\n            clientLastName: apt.lastname || '',\n            clientPhone: apt.phone || '',\n            clientEmail: apt.email || '',\n            clientAddress: apt.civicaddress || '',\n            clientCity: apt.city || '',\n            clientProvince: apt.prov || '',\n            clientPostalCode: apt.postalcode || '',\n            createdAt: apt.created_at\n        };\n    });\n    \n    // Sort by appointment date/time\n    processedAppointments.sort((a, b) => new Date(a.appointmentDateTime) - new Date(b.appointmentDateTime));\n    \n    console.log('Processed appointments:', processedAppointments.length);\n    console.log('First appointment client:', processedAppointments[0]?.clientName);\n    \n    return [{\n        json: {\n            success: true,\n            appointments: processedAppointments,\n            totalAppointments: processedAppointments.length,\n            clientsProcessed: processedAppointments.length,\n            message: `Successfully processed ${processedAppointments.length} appointments with client data`\n        }\n    }];\n    \n} catch (error) {\n    console.error('Error processing appointments:', error);\n    return [{\n        json: {\n            success: false,\n            error: \"Processing error\",\n            message: error.message,\n            appointments: [],\n            totalAppointments: 0\n        }\n    }];\n}\n\n// Version: v2.3.0-TEST - TEST version for Testing Branch\n// - v2.3.0: Added driverCalendarEventId field for calendar event tracking\n// - v2.1.0: Added driver assignment and notification status fields\n// - v2.0.0: Added this_appointment_length field to processed appointments"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        0
      ],
      "id": "226e1b83-65e6-47c2-b1c8-c05157c4d757",
      "name": "Combine Appointments and Clients - Code"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "knumber",
        "joinMode": "enrichInput2",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        832,
        0
      ],
      "id": "f061e4df-3792-423a-aae5-17f735b4a60e",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "appointments",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "appointmenttime",
              "condition": "gte",
              "keyValue": "={{ $now.minus({days: 1}).startOf('day').toISO() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        416,
        80
      ],
      "id": "1f1368a1-d90b-4e94-bc72-c5dbe1b03c4d",
      "name": "Get Appointments - Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "pHAY0PSxRTkwJnPE",
          "name": "Testing Branch - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Rename Client ID Field to Prevent Merge Conflicts - v1.0.0-TEST\n// Renames 'id' to 'clientId' to avoid overwriting appointment IDs during merge\n// TEST VERSION - Uses Testing Branch Supabase\n\nconsole.log('=== RENAMING CLIENT ID FIELDS (TEST) ===');\n\ntry {\n    const clients = $input.all().map(item => {\n        const client = item.json;\n        \n        // Rename the id field to clientId to prevent merge conflicts\n        return {\n            clientId: client.id,\n            knumber: client.knumber,\n            firstname: client.firstname,\n            lastname: client.lastname,\n            phone: client.phone,\n            email: client.email,\n            civicaddress: client.civicaddress,\n            city: client.city,\n            prov: client.prov,\n            postalcode: client.postalcode,\n            emergency_contact_name: client.emergency_contact_name,\n            emergency_contact_number: client.emergency_contact_number,\n            notes: client.notes,\n            created_at: client.created_at\n        };\n    });\n    \n    console.log('Processed clients with renamed ID field:', clients.length);\n    \n    return clients.map(client => ({ json: client }));\n    \n} catch (error) {\n    console.error('Error renaming client ID fields:', error);\n    return [{\n        json: {\n            error: 'Failed to process client data',\n            message: error.message\n        }\n    }];\n}\n\n// Version: v1.0.0-TEST - TEST version for Testing Branch"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        -96
      ],
      "id": "6b55994c-810f-4a9a-bb86-1ac49be9ce9c",
      "name": "Change id to clientID - Code"
    }
  ],
  "pinData": {},
  "connections": {
    "Appointments List Request - Webhook": {
      "main": [
        [
          {
            "node": "Get Appointments - Supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Clients - Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Clients - Supabase": {
      "main": [
        [
          {
            "node": "Change id to clientID - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Appointments and Clients - Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Combine Appointments and Clients - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Appointments - Supabase": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Change id to clientID - Code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
