developing/TEST Workflow Copies/TEST - APPT - Cancel Appointment copy.json
{
  "name": "TEST - APPT - Cancel Appointment copy",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "TEST-cancel-appointment",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2112,
        560
      ],
      "id": "58fdb6aa-8f30-4d0c-bb54-9fed79392544",
      "name": "Cancel Appointment - Webhook",
      "webhookId": "27f6a183-7994-4fb5-a5b0-8805c333b67e"
    },
    {
      "parameters": {
        "jsCode": "// JWT Validation - v1.0.0\nconst webhookData = $input.first().json;\nconst authHeader = webhookData.headers?.authorization || webhookData.headers?.Authorization;\n\nif (!authHeader || !authHeader.startsWith('Bearer ')) {\n  return [{ json: { _route: 'unauthorized', success: false, message: 'Missing or invalid authorization', statusCode: 401, timestamp: new Date().toISOString() }}];\n}\n\nconst token = authHeader.substring(7);\n\nfunction simpleHash(input) {\n  let hash = 0;\n  for (let i = 0; i < input.length; i++) {\n    const char = input.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash;\n  }\n  return hash.toString(36);\n}\n\nconst JWT_SECRET = \"***REMOVED***\";\n\nfunction verifyJWT(token) {\n  try {\n    const parts = token.split('.');\n    if (parts.length !== 3) return { valid: false, error: 'Invalid token format' };\n\n    const [encodedHeader, encodedPayload, receivedSignature] = parts;\n    const dataToSign = `${encodedHeader}.${encodedPayload}.${JWT_SECRET}`;\n    const expectedSignature = simpleHash(dataToSign);\n\n    if (receivedSignature !== expectedSignature) return { valid: false, error: 'Invalid token signature' };\n\n    const payload = JSON.parse(atob(encodedPayload));\n    const now = Math.floor(Date.now() / 1000);\n    if (payload.exp && payload.exp < now) return { valid: false, error: 'Token expired' };\n\n    return { valid: true, payload: payload };\n  } catch (error) {\n    return { valid: false, error: 'Token verification failed' };\n  }\n}\n\nconst validation = verifyJWT(token);\n\nif (!validation.valid || validation.payload.type === 'limited' || validation.payload.type === 'refresh') {\n  return [{ json: { _route: 'unauthorized', success: false, message: validation.error || 'Unauthorized', statusCode: 401, timestamp: new Date().toISOString() }}];\n}\n\nreturn [{ json: { _route: 'authorized', authenticated: true, user: { username: validation.payload.sub, role: validation.payload.role }, requestBody: webhookData.body, timestamp: new Date().toISOString() }}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1904,
        560
      ],
      "id": "f6871573-df46-4782-acea-3dc390a22fc3",
      "name": "JWT Validation - Code"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "authorized",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Authorized"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "unauthorized",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Unauthorized"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1712,
        560
      ],
      "id": "dea591d5-ddd5-4ef2-9a9c-f37953f255ce",
      "name": "JWT Switch"
    },
    {
      "parameters": {
        "jsCode": "// Validate Cancel Request - v1.1.0\n  const requestBody = $json.requestBody || $json;\n\n  if (!requestBody.id) {\n      return [{ json: { success: \"false\", message: 'Appointment ID required' }}];\n  }\n\n  if (!requestBody.cancelled_by) {\n      return [{ json: { success: \"false\", message: 'User ID required' }}];\n  }\n\n  if (!requestBody.cancellation_reason || !requestBody.cancellation_reason.trim()) {\n      return [{ json: { success: \"false\", message: 'Cancellation reason required' }}];\n  }\n\n  return [{ json: {\n      success: \"true\",\n      appointmentId: requestBody.id,\n      cancelledBy: requestBody.cancelled_by,\n      cancellationReason: requestBody.cancellation_reason.trim(),\n      clientFirstName: requestBody.client_firstname || '',\n      clientLastName: requestBody.client_lastname || ''\n  }}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1472,
        480
      ],
      "id": "a0960532-f0af-420d-9585-e247db840c28",
      "name": "Validate Request - Code"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.success }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Valid"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.success }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Invalid"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1264,
        480
      ],
      "id": "750ed3b4-ecfa-4a6f-9bf7-974b43978fa3",
      "name": "Validation Switch"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "appointments",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.appointmentId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1072,
        400
      ],
      "id": "5a87e3e2-4474-4469-b1fb-1f8672745cdb",
      "name": "Get Appointment - Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "pHAY0PSxRTkwJnPE",
          "name": "Testing Branch - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Check Has Driver and Prepare Data - v1.0.0\nconst appointment = $input.first().json;\nconst cancelData = $('Validate Request - Code').first().json;\n\nif (!appointment || !appointment.id) {\n    return [{ json: { success: \"false\", message: 'Appointment not found' }}];\n}\n\nif (!appointment.driver_assigned) {\n    return [{ json: { success: \"false\", message: 'Cannot cancel: no driver assigned. Use Archive instead.' }}];\n}\n\nreturn [{ json: { success: \"true\", appointment: appointment, cancelledBy: cancelData.cancelledBy, cancellationReason: cancelData.cancellationReason, hasCalendar: appointment.driver_calendar_event_id ? \"true\" : \"false\" }}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -864,
        400
      ],
      "id": "91dde76b-7389-45e8-a671-28956acd588f",
      "name": "Check Driver Assigned - Code"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.success }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Valid"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.success }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Invalid"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -672,
        400
      ],
      "id": "718991aa-3b9b-475c-8575-ef9de4c2fd6b",
      "name": "Driver Check Switch"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "appointments",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.appointment.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "operation_status",
              "fieldValue": "cancelled"
            },
            {
              "fieldId": "cancelled_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            },
            {
              "fieldId": "cancelled_by",
              "fieldValue": "={{ $json.cancelledBy }}"
            },
            {
              "fieldId": "cancellation_reason",
              "fieldValue": "={{ $json.cancellationReason }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -464,
        320
      ],
      "id": "45969031-f935-4b0a-9d11-c42e91d2ccb1",
      "name": "Cancel Appointment - Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "pHAY0PSxRTkwJnPE",
          "name": "Testing Branch - Supabase"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Check Driver Assigned - Code').item.json.hasCalendar }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Has Calendar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Check Driver Assigned - Code').item.json.hasCalendar }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No Calendar"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -272,
        320
      ],
      "id": "69dffa5e-b753-4541-99f4-fe63c197e878",
      "name": "Calendar Check Switch"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "drivers",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('Check Driver Assigned - Code').item.json.appointment.driver_assigned }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -64,
        240
      ],
      "id": "1608f54c-afa7-4bee-ba32-5bdda5552e1a",
      "name": "Get Driver - Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "pHAY0PSxRTkwJnPE",
          "name": "Testing Branch - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get Calendar and Client Data - v1.1.0\n  const driver = $input.first().json;\n  const appointment = $('Check Driver Assigned - Code').item.json.appointment;\n  const validationData = $('Validate Request - Code').item.json;\n\n  // Build client name from provided data, fallback to knumber\n  const clientName = validationData.clientFirstName && validationData.clientLastName\n      ? `${validationData.clientFirstName} ${validationData.clientLastName}`.trim()\n      : validationData.clientFirstName || validationData.clientLastName || appointment.knumber;\n\n  return [{ json: {\n      calendarId: driver.google_calendar_id,\n      eventId: appointment.driver_calendar_event_id,\n      driverPhone: driver.phone,\n      driverName: `${driver.first_name} ${driver.last_name}`,\n      clientName: clientName,\n      clientKnumber: appointment.knumber,\n      locationName: appointment.locationname,\n      appointmentTime: appointment.appointmenttime,\n      cancellationReason: $('Check Driver Assigned - Code').item.json.cancellationReason\n  }}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        240
      ],
      "id": "116bcf65-5d2f-4399-95a7-a342ae0343b2",
      "name": "Prepare Calendar Data - Code"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://www.googleapis.com/calendar/v3/calendars/{{ $json.calendarId }}/events/{{ $json.eventId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "summary",
              "value": "=CANCELLED - {{ $json.clientName }} - {{ $json.locationName }} "
            },
            {
              "name": "status",
              "value": "tentative"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        240
      ],
      "id": "4389dcbd-b6ce-4b5f-aa7f-7f06bbe66ff4",
      "name": "Update Calendar Event - HTTP",
      "credentials": {
        "oAuth2Api": {
          "id": "5WdbkjLVKF4RMfnm",
          "name": "Google Calendar - Generic OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openphone.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ [$json.driverPhone] }}"
            },
            {
              "name": "from",
              "value": "+17828226886"
            },
            {
              "name": "content",
              "value": "=URGENT: Appointment Cancelled\n\n  Client: {{ $('Prepare Calendar Data - Code').item.json.clientName }}\n  Location: {{ $('Prepare Calendar Data - Code').item.json.locationName }}\n  Time: {{ $('Prepare Calendar Data - Code').item.json.appointmentTime }}\n\n  Reason: {{ $('Prepare Calendar Data - Code').item.json.cancellationReason }}\n\n  Calendar has been updated."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        752,
        240
      ],
      "id": "942d96d2-8d60-4b46-a0af-57b4c99e9847",
      "name": "Send SMS - OpenPhone",
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "kPUEYfp0u12OHqCV",
          "name": "OpenPhone API - Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format Success Response - v1.0.0\nconst appointment = $('Cancel Appointment - Supabase').item.json;\n\nreturn [{ json: { success: true, message: 'Appointment cancelled and driver notified', appointmentId: appointment.id, status: 'cancelled', timestamp: new Date().toISOString() }}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        384
      ],
      "id": "26be4db6-0489-4e00-860b-42d5fe639af7",
      "name": "Format Success - Code"
    },
    {
      "parameters": {
        "jsCode": "// Format Error - v1.0.0\nconst errorData = $input.first().json;\nreturn [{ json: { success: false, message: errorData.message || 'Validation failed', timestamp: new Date().toISOString() }}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        560
      ],
      "id": "a3997e13-fa44-49ef-abc2-aab454d528e1",
      "name": "Format Error - Code"
    },
    {
      "parameters": {
        "jsCode": "// Format Unauthorized - v1.0.0\nconst unauthorizedData = $input.first().json;\nreturn [{ json: { success: false, message: unauthorizedData.message || 'Unauthorized', statusCode: 401, timestamp: new Date().toISOString() }}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1472,
        640
      ],
      "id": "d47c425b-1258-4783-9505-9be487d13d39",
      "name": "Format Unauthorized - Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1344,
        864
      ],
      "id": "d6ad263f-2f14-4471-98cc-43dee32cdc1e",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "  // Format Phone Number to E.164 - v1.0.0\n  const input = $('Prepare Calendar Data - Code').first().json;\n\n  // Get the driver phone and remove all non-digit characters\n  let phone = (input.driverPhone || '').replace(/\\D/g, '');\n\n  // If it doesn't start with country code, assume US/Canada (+1)\n  if (phone.length === 10) {\n      phone = '+1' + phone;\n  } else if (phone.length === 11 && phone.startsWith('1')) {\n      phone = '+' + phone;\n  } else if (!phone.startsWith('+')) {\n      phone = '+' + phone;\n  }\n\n  return [{\n      json: {\n          ...input,\n          driverPhone: phone  // Now in E.164 format: +19027600946\n      }\n  }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        240
      ],
      "id": "79683f64-3a54-4662-a0e4-bef2201438db",
      "name": "Format Phone Number - Code"
    }
  ],
  "pinData": {
    "Cancel Appointment - Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook-processor-production-3bb8.up.railway.app",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "content-length": "146",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "authorization": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJhbmRyZXcubmV3dG9uQGxpdmUuY2EiLCJ0eXBlIjoiZnVsbCIsInJvbGUiOiJib29raW5nX2FnZW50IiwicGVybWlzc2lvbnMiOlsiYWxsIl0sImlhdCI6MTc2MjQ0OTk0MywiZXhwIjoxNzYyNDUzNTQzLCJqdGkiOiJmdWxsXzE3NjI0NDk5NDM4NDRfNWc3eWRlcW5mIn0=.-ohqmv7",
            "content-type": "application/json",
            "origin": "null",
            "priority": "u=1, i",
            "sec-ch-ua": "\"Chromium\";v=\"142\", \"Google Chrome\";v=\"142\", \"Not_A Brand\";v=\"99\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "134.41.174.19",
            "x-forwarded-host": "webhook-processor-production-3bb8.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-edge": "railway/us-east4-eqdc4a",
            "x-railway-request-id": "N4juJPWKRFiGwjImezItjw",
            "x-real-ip": "134.41.174.19",
            "x-request-start": "1762452372661"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "63f5da0e-6c5f-4028-b90b-81e24ade2757",
            "cancelled_by": 23,
            "cancellation_reason": "yes",
            "client_firstname": "Andrew",
            "client_lastname": "Newton"
          },
          "webhookUrl": "https://webhook-processor-production-3bb8.up.railway.app/webhook/cancel-appointment",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Cancel Appointment - Webhook": {
      "main": [
        [
          {
            "node": "JWT Validation - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT Validation - Code": {
      "main": [
        [
          {
            "node": "JWT Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT Switch": {
      "main": [
        [
          {
            "node": "Validate Request - Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Unauthorized - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Request - Code": {
      "main": [
        [
          {
            "node": "Validation Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Switch": {
      "main": [
        [
          {
            "node": "Get Appointment - Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Appointment - Supabase": {
      "main": [
        [
          {
            "node": "Check Driver Assigned - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Driver Assigned - Code": {
      "main": [
        [
          {
            "node": "Driver Check Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Driver Check Switch": {
      "main": [
        [
          {
            "node": "Cancel Appointment - Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancel Appointment - Supabase": {
      "main": [
        [
          {
            "node": "Calendar Check Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Check Switch": {
      "main": [
        [
          {
            "node": "Get Driver - Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Success - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Driver - Supabase": {
      "main": [
        [
          {
            "node": "Prepare Calendar Data - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Calendar Data - Code": {
      "main": [
        [
          {
            "node": "Update Calendar Event - HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Calendar Event - HTTP": {
      "main": [
        [
          {
            "node": "Format Phone Number - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS - OpenPhone": {
      "main": [
        [
          {
            "node": "Format Success - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success - Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error - Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Unauthorized - Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Phone Number - Code": {
      "main": [
        [
          {
            "node": "Send SMS - OpenPhone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "80391791-59b6-42cc-8634-6334ff74d12a",
  "meta": {
    "instanceId": "62fe1973b06b53c2a918f891d003328ecd43cc9389e3ac0f24384782e956f6ca"
  },
  "id": "y8sUSlgi1QadZiOu",
  "tags": [
    {
      "updatedAt": "2025-10-30T17:13:53.320Z",
      "createdAt": "2025-10-30T17:13:53.320Z",
      "id": "3od10wQiA1OAAozv",
      "name": "Appointment Management"
    },
    {
      "updatedAt": "2025-11-02T20:39:22.246Z",
      "createdAt": "2025-11-02T20:39:22.246Z",
      "id": "Gm2wdYiA4AnCKH8r",
      "name": "with JWT"
    },
    {
      "updatedAt": "2025-11-02T23:08:15.396Z",
      "createdAt": "2025-11-02T23:08:15.396Z",
      "id": "oJcc7VfZ5UgsHMxV",
      "name": "Google Maps API"
    },
    {
      "updatedAt": "2025-11-06T17:24:45.083Z",
      "createdAt": "2025-11-06T17:24:45.083Z",
      "id": "gfWvr5esyJRojXmn",
      "name": "OpenPhone API"
    },
    {
      "updatedAt": "2025-11-09T06:15:47.425Z",
      "createdAt": "2025-11-09T06:15:47.425Z",
      "id": "tZpzEwpoeg8SrGGa",
      "name": "TEST"
    }
  ]
}