developing/TEST Workflow Copies/TEST - FIN - Get App Config.json
{
  "name": "TEST - FIN - Get App Config",
  "nodes": [
    {
      "parameters": {
        "path": "TEST-get-app-config",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -656,
        128
      ],
      "id": "201795e2-c51a-4654-abda-291a24e14fb5",
      "name": "GET App Config - Webhook",
      "webhookId": "test-get-app-config-webhook"
    },
    {
      "parameters": {
        "jsCode": "// FIN - Get App Config - Validate JWT\n// Version: v1.0.0\n// Validates Bearer token and checks role permissions\n\nconst webhookData = $input.first().json;\nconst authHeader = webhookData.headers?.authorization || '';\n\n// Extract token from Bearer header\nconst token = authHeader.replace('Bearer ', '').trim();\n\nif (!token) {\n  return [{\n    json: {\n      validationPassed: 'false',\n      errorMessage: 'No authorization token provided',\n      statusCode: 401\n    }\n  }];\n}\n\n// JWT validation functions\nfunction simpleHash(input) {\n  let hash = 0;\n  for (let i = 0; i < input.length; i++) {\n    const char = input.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash;\n  }\n  return hash.toString(36);\n}\n\nconst JWT_SECRET = \"***REMOVED***\";\n\nfunction verifyJWT(token) {\n  try {\n    const parts = token.split('.');\n    if (parts.length !== 3) {\n      return { valid: false, error: 'Invalid token format' };\n    }\n\n    const [encodedHeader, encodedPayload, receivedSignature] = parts;\n\n    // Verify signature\n    const dataToSign = `${encodedHeader}.${encodedPayload}.${JWT_SECRET}`;\n    const expectedSignature = simpleHash(dataToSign);\n\n    if (receivedSignature !== expectedSignature) {\n      return { valid: false, error: 'Invalid signature' };\n    }\n\n    // Decode payload\n    const payload = JSON.parse(atob(encodedPayload));\n\n    // Check expiration\n    const now = Math.floor(Date.now() / 1000);\n    if (payload.exp && payload.exp < now) {\n      return { valid: false, error: 'Token expired' };\n    }\n\n    // Check token type (reject limited tokens)\n    if (payload.type === 'limited') {\n      return { valid: false, error: 'Limited token not allowed' };\n    }\n\n    return { valid: true, payload: payload };\n\n  } catch (error) {\n    return { valid: false, error: 'Token verification failed' };\n  }\n}\n\n// Validate the token\nconst validation = verifyJWT(token);\n\nif (!validation.valid) {\n  return [{\n    json: {\n      validationPassed: 'false',\n      errorMessage: validation.error || 'Invalid token',\n      statusCode: 401\n    }\n  }];\n}\n\n// Check role (admin or supervisor only for finance)\nconst userRole = validation.payload.role;\nif (userRole !== 'admin' && userRole !== 'supervisor') {\n  return [{\n    json: {\n      validationPassed: 'false',\n      errorMessage: 'Access denied. Admin or Supervisor role required.',\n      statusCode: 403\n    }\n  }];\n}\n\n// Token valid - proceed\nreturn [{\n  json: {\n    validationPassed: 'true',\n    user: {\n      username: validation.payload.sub,\n      role: validation.payload.role\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        128
      ],
      "id": "fd204735-1fea-4de6-9659-f6e6f72a5d25",
      "name": "Validate JWT - Code"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.validationPassed }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Valid"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.validationPassed }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Invalid"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -224,
        128
      ],
      "id": "1c59e645-f8bc-4609-9b60-a5aaa91628a3",
      "name": "Validation - Switch"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "app_config",
        "returnAll": true
      },
      "id": "b97aef14-096b-46d2-81e6-706298deb617",
      "name": "Get App Config - Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "pHAY0PSxRTkwJnPE",
          "name": "Testing Branch - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// FIN - Get App Config - Format Success Response\n// Version: v1.0.0\n// Returns all config values from app_config table\n\nconst configItems = $input.all().map(item => item.json);\n\nreturn [{\n  json: {\n    success: true,\n    message: `Retrieved ${configItems.length} configuration values`,\n    data: configItems,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "a3ddcee7-471a-45a0-9ed4-54e5d07c7f03",
      "name": "Format Response - Code"
    },
    {
      "parameters": {
        "jsCode": "// FIN - Get App Config - Error Response\n// Version: v1.0.0\n\nconst errorData = $input.first().json;\n\nreturn [{\n  json: {\n    success: false,\n    message: errorData.errorMessage || 'Validation failed',\n    statusCode: errorData.statusCode || 400,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        240
      ],
      "id": "730e12ff-e6c1-462f-942d-0b86594d7d68",
      "name": "Error Response - Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        464,
        128
      ],
      "id": "7dfb83f5-1316-4d71-b54e-57dcc4bf3f2f",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "GET App Config - Webhook": {
      "main": [
        [
          {
            "node": "Validate JWT - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate JWT - Code": {
      "main": [
        [
          {
            "node": "Validation - Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation - Switch": {
      "main": [
        [
          {
            "node": "Get App Config - Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get App Config - Supabase": {
      "main": [
        [
          {
            "node": "Format Response - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response - Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Response - Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "381f4306-bd99-43ea-98dc-4437df3d2dc9",
  "meta": {
    "instanceId": "62fe1973b06b53c2a918f891d003328ecd43cc9389e3ac0f24384782e956f6ca"
  },
  "id": "wYdnK2ov6adW69JR",
  "tags": []
}