developing/TEST Workflow Copies/TEST - APPT - HARD Delete Appointment copy.json
{
  "name": "TEST - APPT - HARD Delete Appointment copy",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "TEST-hard-delete-appointment",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1200,
        384
      ],
      "id": "cc9ef787-54f6-4a9d-86dc-8c196d17f5bb",
      "name": "Delete Appointment with Calendar - Webhook",
      "webhookId": "c938d7c3-c89b-4967-8f23-99bb07621fc9"
    },
    {
      "parameters": {
        "jsCode": "// Validate Delete Appointment Request - v1.0.0\nconst requestBody = $json.requestBody || $json;\nconst appointmentId = requestBody.id;\n\nconsole.log('=== DELETE APPOINTMENT WITH CALENDAR v1.0.0 ===');\nconsole.log('Appointment ID:', appointmentId);\n\n// Validate required fields\nif (!appointmentId || appointmentId.trim() === '') {\n    return [{\n        json: {\n            success: false,\n            error: 'Appointment ID is required'\n        }\n    }];\n}\n\n// Validate UUID format (optional but recommended)\nconst uuidPattern = /^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i;\nif (!uuidPattern.test(appointmentId)) {\n    return [{\n        json: {\n            success: false,\n            error: 'Invalid appointment ID format'\n        }\n    }];\n}\n\nconsole.log('✅ Delete request validated');\n\nreturn [{\n    json: {\n        appointmentId: appointmentId,\n        success: true\n    }\n}];\n\n// Version: v1.0.0 - Validate delete appointment request"
      },
      "options": {
        "executionOrder": "v1"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        128
      ],
      "id": "b144d546-b748-429c-b291-40c4bf8f057d",
      "name": "Validate Delete Request - Code"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "appointments",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.appointmentId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -304,
        128
      ],
      "id": "1ee1ff6b-01f4-4b61-94df-9dd78aed882d",
      "name": "Get Current Appointment - Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "pHAY0PSxRTkwJnPE",
          "name": "Testing Branch - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Check Calendar Event Exists - v1.0.0\nconst appointment = $input.first().json;\n\nconsole.log('=== CHECKING CALENDAR EVENT v1.0.0 ===');\nconsole.log('Appointment ID:', appointment.id);\nconsole.log('Calendar Event ID:', appointment.driver_calendar_event_id);\nconsole.log('Driver Assigned:', appointment.driver_assigned);\n\n// Check if appointment exists\nif (!appointment.id) {\n    return [{\n        json: {\n            success: false,\n            error: 'Appointment not found',\n            needsCalendarDelete: false\n        }\n    }];\n}\n\n// Check if appointment has a calendar event\nconst hasCalendarEvent = appointment.driver_calendar_event_id && \n                         appointment.driver_calendar_event_id !== null && \n                         appointment.driver_calendar_event_id.trim() !== '';\n\n// Check if appointment has a driver assigned\nconst hasDriver = appointment.driver_assigned && appointment.driver_assigned !== null;\n\nconsole.log('Has calendar event:', hasCalendarEvent);\nconsole.log('Has driver assigned:', hasDriver);\n\n// Determine if calendar deletion is needed\nconst needsCalendarDelete = hasCalendarEvent && hasDriver;\n\nconsole.log('Calendar deletion needed:', needsCalendarDelete);\n\nreturn [{\n    json: {\n        appointment: appointment,\n        needsCalendarDelete: needsCalendarDelete ? 'true' : 'false',\n        calendarEventId: appointment.driver_calendar_event_id,\n        driverAssigned: appointment.driver_assigned,\n        success: true\n    }\n}];\n\n// Version: v1.0.0 - Check if calendar event exists and needs deletion"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        128
      ],
      "id": "25c5dd70-0c2b-486d-b7cc-bbda6a8c39eb",
      "name": "Check Calendar Event - Code",
      "options": {
        "executionOrder": "v1"
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.needsCalendarDelete }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "calendar-delete-condition"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "True"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "no-calendar-delete-condition",
                    "leftValue": "={{ $json.needsCalendarDelete }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "False"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        176,
        128
      ],
      "id": "f80131d7-d7a4-4fc0-bd75-67c7bc25ea5a",
      "name": "Check Calendar Delete Needed - Switch",
      "options": {
        "executionOrder": "v1"
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "drivers",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.driverAssigned }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "294c7621-e652-4baf-9742-edf9e98398a5",
      "name": "Get Driver Info - Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "pHAY0PSxRTkwJnPE",
          "name": "Testing Branch - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Validate Calendar Delete Request - v1.0.0\nconst appointment = $('Check Calendar Event - Code').item.json.appointment;\nconst driver = $input.first().json;\n\nconsole.log('=== VALIDATING CALENDAR DELETE REQUEST v1.0.0 ===');\nconsole.log('Appointment ID:', appointment.id);\nconsole.log('Calendar Event ID:', appointment.driver_calendar_event_id);\nconsole.log('Driver Calendar ID:', driver.google_calendar_id);\n\nif (!appointment.id) {\n    return [{\n        json: {\n            success: false,\n            error: 'Appointment not found for calendar deletion'\n        }\n    }];\n}\n\nif (!appointment.driver_calendar_event_id) {\n    return [{\n        json: {\n            success: false,\n            error: 'No calendar event to delete',\n            message: 'Appointment was never synced to calendar'\n        }\n    }];\n}\n\nif (!driver.google_calendar_id) {\n    return [{\n        json: {\n            success: false,\n            error: 'Driver calendar not configured',\n            message: 'Driver does not have a calendar set up'\n        }\n    }];\n}\n\nconsole.log('✅ Calendar delete request validated');\n\nreturn [{\n    json: {\n        success: true,\n        appointmentId: appointment.id,\n        eventId: appointment.driver_calendar_event_id,\n        calendarId: driver.google_calendar_id,\n        driverName: `${driver.first_name} ${driver.last_name}`\n    }\n}];\n\n// Version: v1.0.0 - Validate calendar delete request"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        0
      ],
      "id": "98f5ed02-3555-49ac-88d3-6fc9cc396ce0",
      "name": "Validate Calendar Delete - Code"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://www.googleapis.com/calendar/v3/calendars/{{ $json.calendarId }}/events/{{ $json.eventId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        0
      ],
      "id": "6674bae1-bb30-4a0c-8e2d-df13f03ffe58",
      "name": "Delete Calendar Event - HTTP",
      "credentials": {
        "oAuth2Api": {
          "id": "5WdbkjLVKF4RMfnm",
          "name": "Google Calendar - Generic OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare Calendar Delete Result - v1.0.0\nconst calendarResult = $input.first().json;\nconst appointmentData = $('Check Calendar Event - Code').item.json;\n\nconsole.log('=== PREPARING CALENDAR DELETE RESULT v1.0.0 ===');\nconsole.log('Calendar delete result:', calendarResult);\n\n// Check if the calendar deletion was successful\nlet calendarDeleteSuccess = false;\nlet calendarErrorMessage = null;\n\nif (calendarResult.error || calendarResult.statusCode >= 400) {\n    console.error('❌ Calendar delete failed:', calendarResult.error || calendarResult.message || 'Calendar API error');\n    calendarErrorMessage = calendarResult.error || calendarResult.message || 'Calendar deletion failed';\n} else {\n    console.log('✅ Calendar event deleted successfully');\n    calendarDeleteSuccess = true;\n}\n\nreturn [{\n    json: {\n        appointmentId: appointmentData.appointment.id,\n        calendarDeleteSuccess: calendarDeleteSuccess,\n        calendarErrorMessage: calendarErrorMessage,\n        calendarEventId: appointmentData.calendarEventId,\n        proceedWithAppointmentDelete: true // Always proceed with appointment deletion even if calendar delete fails\n    }\n}];\n\n// Version: v1.0.0 - Prepare calendar delete result"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        0
      ],
      "id": "6b6aa591-835a-4c21-abc7-c341fce2ac4f",
      "name": "Prepare Calendar Result - Code"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "appointments",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Check Calendar Event - Code').item.json.appointment.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1360,
        144
      ],
      "id": "9080fd0d-0ec3-4ab0-b8ba-4f3b5e0bd13d",
      "name": "Delete Appointment - Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "pHAY0PSxRTkwJnPE",
          "name": "Testing Branch - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format Delete Response - v1.0.1\nconst appointmentData = $('Check Calendar Event - Code').item.json;\nconst appointmentDeleteResult = $input.first().json;\n\nconsole.log('=== FORMATTING DELETE RESPONSE v1.0.1 ===');\nconsole.log('Appointment delete result:', appointmentDeleteResult);\n\n// Check if appointment deletion was successful\nif (appointmentDeleteResult.error) {\n    return [{\n        json: {\n            success: false,\n            message: 'Failed to delete appointment: ' + appointmentDeleteResult.error,\n            appointmentId: appointmentData.appointment.id\n        }\n    }];\n}\n\n// Determine calendar operation status based on which path was taken\nlet calendarOperation = null;\nif (appointmentData.needsCalendarDelete === 'true') {\n    // Calendar deletion path was taken - try to get calendar result\n    // Note: This node might not exist if calendar deletion failed early\n    try {\n        const calendarResult = $('Prepare Calendar Result - Code').first()?.json;\n        if (calendarResult) {\n            calendarOperation = {\n                performed: true,\n                success: calendarResult.calendarDeleteSuccess || false,\n                eventId: appointmentData.calendarEventId,\n                error: calendarResult.calendarErrorMessage || null\n            };\n        } else {\n            // Calendar deletion path was taken but no result available (early failure)\n            calendarOperation = {\n                performed: true,\n                success: false,\n                eventId: appointmentData.calendarEventId,\n                error: 'Calendar deletion failed - no result available'\n            };\n        }\n    } catch (error) {\n        // Calendar deletion path was taken but Prepare Calendar Result node didn't execute\n        calendarOperation = {\n            performed: true,\n            success: false,\n            eventId: appointmentData.calendarEventId,\n            error: 'Calendar deletion failed - validation error'\n        };\n    }\n} else {\n    // No calendar deletion path was taken\n    calendarOperation = {\n        performed: false,\n        success: true,\n        message: 'No calendar event to delete'\n    };\n}\n\nconst calendarMessage = calendarOperation.performed ? \n    (calendarOperation.success ? \n        `Calendar event deleted successfully` : \n        `Calendar deletion failed: ${calendarOperation.error}`) : \n    'No calendar operations needed';\n\nconsole.log('✅ Final delete results:', {\n    appointmentDeleted: true,\n    calendarOperation: calendarOperation\n});\n\nreturn [{\n    json: {\n        success: true,\n        message: `Appointment deleted successfully. ${calendarMessage}`,\n        appointmentId: appointmentData.appointment.id,\n        deletedAt: new Date().toISOString(),\n        calendarOperation: calendarOperation\n    }\n}];\n\n// Version: v1.0.1 - Fixed to handle both switch paths properly"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        144
      ],
      "id": "ad5df114-2861-4c90-91d4-6523fc58d170",
      "name": "Format Delete Response - Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2016,
        688
      ],
      "id": "394e3a5a-a22a-4fa9-9450-dfecceb411e2",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// JWT Token Validation for Backend Workflows\n// Version: v1.0.0\n// Use this code node at the start of any protected workflow\n\n// Get webhook input data\nconst webhookData = $input.first().json;\n\n// Extract Authorization header\nconst authHeader = webhookData.headers?.authorization || webhookData.headers?.Authorization;\n\nif (!authHeader) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Missing authorization header',\n      statusCode: 401,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Check Bearer token format\nif (!authHeader.startsWith('Bearer ')) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Invalid authorization format. Expected \"Bearer {token}\"',\n      statusCode: 401,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Extract token\nconst token = authHeader.substring(7); // Remove \"Bearer \" prefix\n\n// JWT validation functions (matching generation code)\nfunction simpleHash(input) {\n  let hash = 0;\n  for (let i = 0; i < input.length; i++) {\n    const char = input.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash;\n  }\n  return hash.toString(36);\n}\n\nconst JWT_SECRET = \"REPLACE_WITH_ENV_VAR_JWT_SECRET\";\n\nfunction verifyJWT(token) {\n  try {\n    const parts = token.split('.');\n    if (parts.length !== 3) {\n      return { valid: false, error: 'Invalid token format' };\n    }\n\n    const [encodedHeader, encodedPayload, receivedSignature] = parts;\n\n    // Verify signature\n    const dataToSign = `${encodedHeader}.${encodedPayload}.${JWT_SECRET}`;\n    const expectedSignature = simpleHash(dataToSign);\n\n    if (receivedSignature !== expectedSignature) {\n      return { valid: false, error: 'Invalid token signature' };\n    }\n\n    // Decode payload\n    const payload = JSON.parse(atob(encodedPayload));\n\n    // Check expiration\n    const now = Math.floor(Date.now() / 1000);\n    if (payload.exp && payload.exp < now) {\n      return { valid: false, error: 'Token expired' };\n    }\n\n    return { valid: true, payload: payload };\n\n  } catch (error) {\n    return { valid: false, error: 'Token verification failed: ' + error.message };\n  }\n}\n\n// Validate the token\nconst validation = verifyJWT(token);\n\nif (!validation.valid) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: validation.error || 'Invalid token',\n      statusCode: 401,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nconst payload = validation.payload;\n\n// Check token type (reject LIMITED tokens unless specifically allowed)\n// Note: Individual workflows can override this by setting allowLimitedToken in webhook body\nconst allowLimitedToken = webhookData.body?.allowLimitedToken || false;\n\nif (payload.type === 'limited' && !allowLimitedToken) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'This operation requires full authentication. Please complete password change.',\n      statusCode: 403,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Check if refresh token is being used for non-refresh operations\nif (payload.type === 'refresh') {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Refresh tokens cannot be used for this operation',\n      statusCode: 403,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// ROLE-BASED ACCESS CONTROL: Only admin can hard delete appointments\n  if (payload.role !== 'admin') {\n    return [{\n      json: {\n        _route: 'unauthorized',\n        success: false,\n        message: 'Administrator access required to permanently delete appointments',\n        statusCode: 403,\n        timestamp: new Date().toISOString()\n      }\n    }];\n  }\n\n// Token is valid - return user info and original request body\nreturn [{\n  json: {\n    _route: 'authorized',\n    authenticated: true,\n    user: {\n      username: payload.sub,\n      role: payload.role,\n      tokenType: payload.type,\n      permissions: payload.permissions || []\n    },\n    requestBody: webhookData.body,\n    timestamp: new Date().toISOString()\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -992,
        384
      ],
      "id": "934f48fc-b447-4b6d-8f51-c6aa517ade6b",
      "name": "JWT Validation - Code"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "authorized",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ffa28035-b3f0-4566-8aa2-49aa21eeaeea"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Authorized"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "509df837-4579-4844-ba22-6dadb4e8f483",
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "unauthorized",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Unauthorized"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -784,
        384
      ],
      "id": "45625b32-525b-4f41-910d-6ddefd1eba4b",
      "name": "JWT Validation - Switch"
    },
    {
      "parameters": {
        "jsCode": "  // Format Unauthorized Error Response - Simple Version\n  // Version: v1.0.0\n\n  const errorData = $input.first().json;\n\n  // Return standardized error format\n  return [{\n    json: {\n      success: false,\n      error: {\n        message: errorData.message || 'Unauthorized access',\n        statusCode: errorData.statusCode || 401\n      },\n      timestamp: errorData.timestamp || new Date().toISOString()\n    }\n  }]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        512
      ],
      "id": "a52a623e-9b5f-4499-9c9e-bc696a7a5327",
      "name": "Unauthorized Response - Code"
    }
  ],
  "pinData": {},
  "connections": {
    "Delete Appointment with Calendar - Webhook": {
      "main": [
        [
          {
            "node": "JWT Validation - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Delete Request - Code": {
      "main": [
        [
          {
            "node": "Get Current Appointment - Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Appointment - Supabase": {
      "main": [
        [
          {
            "node": "Check Calendar Event - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Calendar Event - Code": {
      "main": [
        [
          {
            "node": "Check Calendar Delete Needed - Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Calendar Delete Needed - Switch": {
      "main": [
        [
          {
            "node": "Get Driver Info - Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Appointment - Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Driver Info - Supabase": {
      "main": [
        [
          {
            "node": "Validate Calendar Delete - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Calendar Delete - Code": {
      "main": [
        [
          {
            "node": "Delete Calendar Event - HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Calendar Event - HTTP": {
      "main": [
        [
          {
            "node": "Prepare Calendar Result - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Calendar Result - Code": {
      "main": [
        [
          {
            "node": "Delete Appointment - Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Appointment - Supabase": {
      "main": [
        [
          {
            "node": "Format Delete Response - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Delete Response - Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT Validation - Code": {
      "main": [
        [
          {
            "node": "JWT Validation - Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT Validation - Switch": {
      "main": [
        [
          {
            "node": "Validate Delete Request - Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized Response - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unauthorized Response - Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "86b4a07f-3748-4149-af71-e9247717ffc3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "62fe1973b06b53c2a918f891d003328ecd43cc9389e3ac0f24384782e956f6ca"
  },
  "id": "puiFwdpZp9JydDrI",
  "tags": [
    {
      "updatedAt": "2025-10-30T17:13:53.320Z",
      "createdAt": "2025-10-30T17:13:53.320Z",
      "id": "3od10wQiA1OAAozv",
      "name": "Appointment Management"
    },
    {
      "updatedAt": "2025-11-02T20:39:22.246Z",
      "createdAt": "2025-11-02T20:39:22.246Z",
      "id": "Gm2wdYiA4AnCKH8r",
      "name": "with JWT"
    },
    {
      "updatedAt": "2025-11-06T16:32:54.590Z",
      "createdAt": "2025-11-06T16:32:54.590Z",
      "id": "7JJkrSJQxciNKGon",
      "name": "Calendar API"
    },
    {
      "updatedAt": "2025-11-07T00:56:13.522Z",
      "createdAt": "2025-11-07T00:56:13.522Z",
      "id": "83sysqSu2nq9uBff",
      "name": "Role Check"
    },
    {
      "updatedAt": "2025-11-09T06:15:47.425Z",
      "createdAt": "2025-11-09T06:15:47.425Z",
      "id": "tZpzEwpoeg8SrGGa",
      "name": "TEST"
    }
  ]
}