developing/TEST Workflow Copies/TEST - USER - Change Password copy.json
{
  "name": "TEST - USER - Change Password copy",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "TEST-change-password",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "80ff8b9b-fc5a-46cc-873a-477b95f0e1d1",
      "name": "Change Password - Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1920,
        304
      ],
      "webhookId": "da7882c6-fc6e-44d7-a490-96e6a38c5717"
    },
    {
      "parameters": {
        "jsCode": "// JWT Validation for Change Password\n// Version: v1.0.0\n\n// ===== JWT UTILITY FUNCTIONS =====\n\nfunction simpleHash(input) {\n  let hash = 0;\n  for (let i = 0; i < input.length; i++) {\n    const char = input.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash;\n  }\n  return hash.toString(36);\n}\n\nconst JWT_SECRET = \"REPLACE_WITH_ENV_VAR_JWT_SECRET\";\n\nfunction verifyJWT(token) {\n  try {\n    const parts = token.split('.');\n    if (parts.length !== 3) {\n      return { valid: false, error: 'Invalid token format' };\n    }\n\n    const [encodedHeader, encodedPayload, receivedSignature] = parts;\n\n    // Verify signature\n    const dataToSign = `${encodedHeader}.${encodedPayload}.${JWT_SECRET}`;\n    const expectedSignature = simpleHash(dataToSign);\n\n    if (receivedSignature !== expectedSignature) {\n      return { valid: false, error: 'Invalid signature' };\n    }\n\n    // Decode payload\n    const payload = JSON.parse(atob(encodedPayload));\n\n    // Check expiration\n    const now = Math.floor(Date.now() / 1000);\n    if (payload.exp && payload.exp < now) {\n      return { valid: false, error: 'Token expired' };\n    }\n\n    return { valid: true, payload: payload };\n\n  } catch (error) {\n    return { valid: false, error: 'Token verification failed: ' + error.message };\n  }\n}\n\n// ===== EXTRACT AND VALIDATE JWT =====\n\nconst webhookInput = $input.first().json;\nconst authHeader = webhookInput.headers.authorization || '';\n\nif (!authHeader.startsWith('Bearer ')) {\n  return [{\n    json: {\n      _route: 'invalid',\n      success: false,\n      statusCode: 401,\n      message: 'Missing or invalid authorization header'\n    }\n  }];\n}\n\nconst token = authHeader.substring(7); // Remove \"Bearer \" prefix\n\n// Verify token\nconst verification = verifyJWT(token);\n\nif (!verification.valid) {\n  return [{\n    json: {\n      _route: 'invalid',\n      success: false,\n      statusCode: 401,\n      message: 'Invalid or expired token: ' + verification.error\n    }\n  }];\n}\n\nconst payload = verification.payload;\n\n// Accept both LIMITED and FULL tokens for change-password endpoint\nif (payload.type !== 'limited' && payload.type !== 'full') {\n  return [{\n    json: {\n      _route: 'invalid',\n      success: false,\n      statusCode: 403,\n      message: 'Invalid token type for this operation'\n    }\n  }];\n}\n\n// Token is valid - extract username and pass through request body\nreturn [{\n  json: {\n    _route: 'valid',\n    username: payload.sub,\n    tokenType: payload.type,\n    requestBody: webhookInput.body\n  }\n}];"
      },
      "id": "e57f6a6d-7075-442d-b0cf-18630986055d",
      "name": "JWT Validation - Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1680,
        304
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "valid",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "4c6a3448-2fb2-4e00-a269-408e6ca435eb"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Valid JWT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "invalid",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e6714aa6-6152-49ef-a238-ebfed9eb04e1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Invalid JWT"
            }
          ]
        },
        "options": {}
      },
      "id": "28b243ff-8943-4a33-aaa0-cb0d68c756e4",
      "name": "JWT Validation - Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1440,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "// Validate password change input\n// Version: v1.0.0\n\nconst input = $input.first().json;\nconst body = input.requestBody;\nconst username = input.username;\n\nconst errors = [];\n\n// Required fields\nif (!body.current_password || body.current_password.trim() === '') {\n  errors.push('Current password is required');\n}\n\nif (!body.new_password || body.new_password.trim() === '') {\n  errors.push('New password is required');\n}\n\nif (!body.confirm_password || body.confirm_password.trim() === '') {\n  errors.push('Password confirmation is required');\n}\n\n// Password match validation\nif (body.new_password && body.confirm_password && body.new_password !== body.confirm_password) {\n  errors.push('New password and confirmation do not match');\n}\n\n// Password strength validation\nif (body.new_password) {\n  if (body.new_password.length < 8) {\n    errors.push('Password must be at least 8 characters long');\n  }\n  \n  // Check for at least one uppercase letter\n  if (!/[A-Z]/.test(body.new_password)) {\n    errors.push('Password must contain at least one uppercase letter');\n  }\n  \n  // Check for at least one lowercase letter\n  if (!/[a-z]/.test(body.new_password)) {\n    errors.push('Password must contain at least one lowercase letter');\n  }\n  \n  // Check for at least one number\n  if (!/[0-9]/.test(body.new_password)) {\n    errors.push('Password must contain at least one number');\n  }\n  \n  // Check for at least one special character\n  if (!/[!@#$%^&*(),.?\":{}|<>]/.test(body.new_password)) {\n    errors.push('Password must contain at least one special character');\n  }\n}\n\n// Check if new password is same as current password\nif (body.current_password && body.new_password && body.current_password === body.new_password) {\n  errors.push('New password must be different from current password');\n}\n\nconst validationPassed = errors.length === 0;\n\nreturn [{\n  json: {\n    _route: validationPassed ? 'valid' : 'invalid',\n    validationPassed: validationPassed,\n    errors: errors,\n    username: username,\n    currentPassword: body.current_password,\n    newPassword: body.new_password,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "fd50a7be-d6c9-4bc9-932a-66298b3cbcc3",
      "name": "Validate Input - Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        208
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "valid",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Validation Passed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "invalid",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Validation Failed"
            }
          ]
        },
        "options": {}
      },
      "id": "224a5bc5-b923-4505-9a35-1ac75325b0d6",
      "name": "Input Validation - Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -960,
        208
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "username",
              "keyValue": "={{ $json.username }}"
            }
          ]
        }
      },
      "id": "6101f0b6-1fd4-48b3-8aae-3f4f8e4a846a",
      "name": "Lookup User - Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -720,
        112
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "pHAY0PSxRTkwJnPE",
          "name": "Testing Branch - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Verify current password\n// Version: v1.0.0\n\nfunction simpleHash(input) {\n  let hash = 0;\n  for (let i = 0; i < input.length; i++) {\n    const char = input.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash;\n  }\n  return hash.toString(36);\n}\n\nfunction verifyPassword(password, storedHash) {\n  if (!storedHash.includes(':')) {\n    return password === storedHash;\n  }\n\n  const parts = storedHash.split(':');\n  if (parts.length !== 2) return false;\n\n  const salt = parts[0];\n  const storedHashValue = parts[1];\n  const computedHash = simpleHash(password + salt);\n\n  return computedHash === storedHashValue;\n}\n\n// Get data from previous nodes\nconst userData = $input.first().json;\nconst validationData = $('Validate Input - Code').first().json;\nconst currentPassword = validationData.currentPassword;\n\n// Check if user exists\nif (!userData || !userData.username) {\n  return [{\n    json: {\n      _route: 'invalid',\n      success: false,\n      message: 'User not found'\n    }\n  }];\n}\n\n// Verify current password\nconst isValidPassword = verifyPassword(currentPassword, userData.password_hash);\n\nif (!isValidPassword) {\n  return [{\n    json: {\n      _route: 'invalid',\n      success: false,\n      message: 'Current password is incorrect'\n    }\n  }];\n}\n\n// Password is valid - pass through data for next node\nreturn [{\n  json: {\n    _route: 'valid',\n    username: userData.username,\n    newPassword: validationData.newPassword\n  }\n}];"
      },
      "id": "d718d625-9a7e-41d4-ba9b-1f5da6ca5bf8",
      "name": "Verify Current Password - Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        112
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "valid",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Password Valid"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "invalid",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Password Invalid"
            }
          ]
        },
        "options": {}
      },
      "id": "391708b7-ebec-4c80-9690-93d3bd4a7dc6",
      "name": "Password Verification - Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -240,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "// Hash new password\n// Version: v1.0.0 - Single hash (matching Create User and Login)\n\nfunction simpleHash(input) {\n  let hash = 0;\n  for (let i = 0; i < input.length; i++) {\n    const char = input.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash;\n  }\n  return hash.toString(36);\n}\n\nconst input = $input.first().json;\nconst newPassword = input.newPassword;\nconst username = input.username;\n\n// Generate salt and hash (SINGLE HASH - matching Create User)\nconst salt = Math.random().toString(36).substring(2, 15) +\n             Math.random().toString(36).substring(2, 15);\nconst hash = simpleHash(newPassword + salt);\nconst hashedPassword = `${salt}:${hash}`;\n\nreturn [{\n  json: {\n    username: username,\n    hashedPassword: hashedPassword,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "75e4bc9c-439a-4859-8202-d1832bd974ec",
      "name": "Hash New Password - Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "username",
              "condition": "eq",
              "keyValue": "={{ $json.username }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "password_hash",
              "fieldValue": "={{ $json.hashedPassword }}"
            },
            {
              "fieldId": "last_password_change",
              "fieldValue": "={{ $now.toISO() }}"
            },
            {
              "fieldId": "must_change_password",
              "fieldValue": "false"
            },
            {
              "fieldId": "failed_login_attempts",
              "fieldValue": "0"
            },
            {
              "fieldId": "locked_until",
              "fieldValue": "={{ null }}"
            }
          ]
        }
      },
      "id": "b39c3dc7-3b83-4792-b0dc-e65dcb54d556",
      "name": "Update User Password - Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        240,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "pHAY0PSxRTkwJnPE",
          "name": "Testing Branch - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Generate FULL JWT + REFRESH TOKEN after password change\n// Version: v1.0.0\n\nfunction simpleHash(input) {\n  let hash = 0;\n  for (let i = 0; i < input.length; i++) {\n    const char = input.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash;\n  }\n  return hash.toString(36);\n}\n\nconst JWT_SECRET = \"REPLACE_WITH_ENV_VAR_JWT_SECRET\";\n\nfunction generateJWT(payload) {\n  const header = {\n    alg: \"HS256\",\n    typ: \"JWT\"\n  };\n\n  const encodedHeader = btoa(JSON.stringify(header));\n  const encodedPayload = btoa(JSON.stringify(payload));\n\n  const dataToSign = `${encodedHeader}.${encodedPayload}.${JWT_SECRET}`;\n  const signature = simpleHash(dataToSign);\n\n  return `${encodedHeader}.${encodedPayload}.${signature}`;\n}\n\n// Get updated user data\nconst userData = $input.first().json;\nconst username = userData.username;\nconst userRole = userData.role || 'user';\n\nconst now = Math.floor(Date.now() / 1000);\n\n// Generate FULL JWT (1 hour)\nconst fullPayload = {\n  sub: username,\n  type: \"full\",\n  role: userRole,\n  permissions: [\"all\"],\n  iat: now,\n  exp: now + (60 * 60), // 1 hour\n  jti: `full_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`\n};\n\nconst accessToken = generateJWT(fullPayload);\n\n// Generate REFRESH TOKEN (7 days)\nconst refreshPayload = {\n  sub: username,\n  type: \"refresh\",\n  permissions: [\"refresh_access\"],\n  iat: now,\n  exp: now + (7 * 24 * 60 * 60), // 7 days\n  jti: `refresh_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`\n};\n\nconst refreshToken = generateJWT(refreshPayload);\n\nreturn [{\n  json: {\n    success: true,\n    message: 'Password changed successfully',\n    access_token: accessToken,\n    refresh_token: refreshToken,\n    token_type: 'Bearer',\n    expires_in: 3600,\n    user: {\n      username: username,\n      role: userRole,\n      full_name: userData.full_name,\n      email: userData.email\n    },\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "e979b5ca-198a-4ab9-b0e0-fcc5515a6a76",
      "name": "Generate JWT Tokens - Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "a98d4809-7c7d-435c-9274-f32ac98e9179",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        752,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Format error response\n// Version: v1.0.0\n\nconst input = $input.first().json;\n\nlet statusCode = 400;\nlet message = input.message || 'An error occurred';\n\n// Determine status code based on message\nif (input.statusCode) {\n  statusCode = input.statusCode;\n} else if (message.includes('token') || message.includes('authorization')) {\n  statusCode = 401;\n} else if (message.includes('password is incorrect')) {\n  statusCode = 401;\n}\n\nreturn [{\n  json: {\n    success: false,\n    message: message,\n    errors: input.errors || [],\n    statusCode: statusCode,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "ab2414b6-69e9-4327-8420-1beecdba43e3",
      "name": "Format Error Response - Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "3f9067c7-ddbc-4582-8662-642a3682d3e3",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        240,
        400
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Change Password - Webhook": {
      "main": [
        [
          {
            "node": "JWT Validation - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT Validation - Code": {
      "main": [
        [
          {
            "node": "JWT Validation - Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT Validation - Switch": {
      "main": [
        [
          {
            "node": "Validate Input - Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error Response - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input - Code": {
      "main": [
        [
          {
            "node": "Input Validation - Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Validation - Switch": {
      "main": [
        [
          {
            "node": "Lookup User - Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error Response - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup User - Supabase": {
      "main": [
        [
          {
            "node": "Verify Current Password - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Current Password - Code": {
      "main": [
        [
          {
            "node": "Password Verification - Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Password Verification - Switch": {
      "main": [
        [
          {
            "node": "Hash New Password - Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error Response - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hash New Password - Code": {
      "main": [
        [
          {
            "node": "Update User Password - Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update User Password - Supabase": {
      "main": [
        [
          {
            "node": "Generate JWT Tokens - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate JWT Tokens - Code": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Response - Code": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "86d83f9f-27d4-4533-a40e-6c1b95273ae6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "62fe1973b06b53c2a918f891d003328ecd43cc9389e3ac0f24384782e956f6ca"
  },
  "id": "K609LvDvtH20JrGP",
  "tags": [
    {
      "updatedAt": "2025-11-02T20:33:53.601Z",
      "createdAt": "2025-11-02T20:33:53.601Z",
      "id": "aYqjAN7sumZgea65",
      "name": "limited token JWT"
    },
    {
      "updatedAt": "2025-11-02T20:33:29.538Z",
      "createdAt": "2025-11-02T20:33:29.538Z",
      "id": "GH1TWRkaKLzUvb4Q",
      "name": "no JWT"
    },
    {
      "updatedAt": "2025-11-09T06:15:47.425Z",
      "createdAt": "2025-11-09T06:15:47.425Z",
      "id": "tZpzEwpoeg8SrGGa",
      "name": "TEST"
    }
  ]
}