developing/TEST Workflow Copies/TEST - CLIENT - Update Client (2).json
{
  "name": "TEST - CLIENT - Update Client",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        3648,
        576
      ],
      "id": "f5243aaa-288c-49de-b008-73fe447046c4",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// Validate Update Request - v2.5.0\n  // Added: primary_clinic_id support\n  // Fixed: Use lowercase field names to match actual request body\n\n  const data = $json.requestBody || $json.body || $json;\n  const errors = [];\n\n  // Validate K Number (lowercase 'n')\n  if (!data.knumber || !data.knumber.match(/^K\\d{7}$/i)) {\n      errors.push('Valid K Number is required (format: K1234567)');\n  }\n\n  // Validate required fields in clientData (all lowercase)\n  if (!data.clientData) {\n      errors.push('clientData is required');\n  } else {\n      if (!data.clientData.firstname) errors.push('firstname is required');\n      if (!data.clientData.lastname) errors.push('lastname is required');\n      if (!data.clientData.phone) errors.push('phone is required');\n      if (!data.clientData.civicaddress) errors.push('civicaddress is required');\n      if (!data.clientData.city) errors.push('city is required');\n      if (!data.clientData.prov) errors.push('province is required');\n      if (!data.clientData.postalcode) errors.push('postalcode is required');\n  }\n\n  if (errors.length > 0) {\n      return [{\n          json: {\n              success: false,\n              errors: errors,\n              skipProcessing: true\n          }\n      }];\n  }\n\n  // Normalize data - read lowercase, output camelCase\n  const normalizedData = {\n      kNumber: data.knumber.toUpperCase(),\n      clientData: {\n          firstName: data.clientData.firstname.trim(),\n          lastName: data.clientData.lastname.trim(),\n          phone: data.clientData.phone.trim(),\n          email: data.clientData.email?.trim() || null,\n          civicAddress: data.clientData.civicaddress.trim(),\n          city: data.clientData.city.trim(),\n          province: data.clientData.prov.trim(),\n          postalCode: data.clientData.postalcode.trim(),\n          appointmentLength: data.clientData.appointment_length || 120,\n          mapaddress: data.clientData.mapaddress?.trim() || null,\n          notes: data.clientData.notes?.trim() || null,\n          emergencyContactName: data.clientData.emergency_contact_name?.trim() || null,\n          emergencyContactNumber: data.clientData.emergency_contact_number?.trim() ||\n  null,\n          active: data.clientData.active !== undefined ? data.clientData.active : true,\n          // Secondary address\n          secondary_civic_address: data.clientData.secondary_civic_address?.trim() ||\n  null,\n          secondary_city: data.clientData.secondary_city?.trim() || null,\n          secondary_province: data.clientData.secondary_province?.trim() || null,\n          secondary_postal_code: data.clientData.secondary_postal_code?.trim() || null,\n          secondary_address_notes: data.clientData.secondary_address_notes?.trim() ||\n  null,\n          // Primary clinic (NEW)\n          primary_clinic_id: data.clientData.primary_clinic_id || null\n      },\n      recalculateTravelTimes: data.recalculateTravelTimes !== false, // Default true\n      selectedClinicIds: data.selectedClinicIds || []\n  };\n\n  return [{\n      json: {\n          success: true,\n          ...normalizedData\n      }\n  }];\n\n  // Version: v2.5.0 - Added primary_clinic_id support"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "f8c86c6d-5aed-4c64-ac15-a236652f5cbc",
      "name": "Validate Data - Code"
    },
    {
      "parameters": {
        "jsCode": "// Format Success Response - v2.0.0\n\nconst input = $input.first().json;\n\nreturn [{\n    json: {\n        success: true,\n        message: 'Client updated successfully',\n        kNumber: input.kNumber || input.knumber,\n        travelTimesRecalculated: input.travelTimesRecalculated || false,\n        stats: input.stats || null,\n        timestamp: new Date().toISOString()\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3184,
        240
      ],
      "id": "bb659d1f-54db-48e3-9afe-c938dcceec37",
      "name": "Format Response - Code"
    },
    {
      "parameters": {
        "jsCode": "// JWT Token Validation for Backend Workflows\n// Version: v1.0.0\n// Use this code node at the start of any protected workflow\n\n// Get webhook input data\nconst webhookData = $input.first().json;\n\n// Extract Authorization header\nconst authHeader = webhookData.headers?.authorization || webhookData.headers?.Authorization;\n\nif (!authHeader) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Missing authorization header',\n      statusCode: 401,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Check Bearer token format\nif (!authHeader.startsWith('Bearer ')) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Invalid authorization format. Expected \"Bearer {token}\"',\n      statusCode: 401,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Extract token\nconst token = authHeader.substring(7); // Remove \"Bearer \" prefix\n\n// JWT validation functions (matching generation code)\nfunction simpleHash(input) {\n  let hash = 0;\n  for (let i = 0; i < input.length; i++) {\n    const char = input.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash;\n  }\n  return hash.toString(36);\n}\n\nconst JWT_SECRET = \"***REMOVED***\";\n\nfunction verifyJWT(token) {\n  try {\n    const parts = token.split('.');\n    if (parts.length !== 3) {\n      return { valid: false, error: 'Invalid token format' };\n    }\n\n    const [encodedHeader, encodedPayload, receivedSignature] = parts;\n\n    // Verify signature\n    const dataToSign = `${encodedHeader}.${encodedPayload}.${JWT_SECRET}`;\n    const expectedSignature = simpleHash(dataToSign);\n\n    if (receivedSignature !== expectedSignature) {\n      return { valid: false, error: 'Invalid token signature' };\n    }\n\n    // Decode payload\n    const payload = JSON.parse(atob(encodedPayload));\n\n    // Check expiration\n    const now = Math.floor(Date.now() / 1000);\n    if (payload.exp && payload.exp < now) {\n      return { valid: false, error: 'Token expired' };\n    }\n\n    return { valid: true, payload: payload };\n\n  } catch (error) {\n    return { valid: false, error: 'Token verification failed: ' + error.message };\n  }\n}\n\n// Validate the token\nconst validation = verifyJWT(token);\n\nif (!validation.valid) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: validation.error || 'Invalid token',\n      statusCode: 401,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nconst payload = validation.payload;\n\n// Check token type (reject LIMITED tokens unless specifically allowed)\n// Note: Individual workflows can override this by setting allowLimitedToken in webhook body\nconst allowLimitedToken = webhookData.body?.allowLimitedToken || false;\n\nif (payload.type === 'limited' && !allowLimitedToken) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'This operation requires full authentication. Please complete password change.',\n      statusCode: 403,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Check if refresh token is being used for non-refresh operations\nif (payload.type === 'refresh') {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Refresh tokens cannot be used for this operation',\n      statusCode: 403,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Token is valid - return user info and original request body\nreturn [{\n  json: {\n    _route: 'authorized',\n    authenticated: true,\n    user: {\n      username: payload.sub,\n      role: payload.role,\n      tokenType: payload.type,\n      permissions: payload.permissions || []\n    },\n    requestBody: webhookData.body,\n    timestamp: new Date().toISOString()\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        128
      ],
      "id": "f572288d-f87e-4bac-a749-e9d51b413cba",
      "name": "JWT Validation - Code"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "authorized",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "19c16329-f142-4d35-a3ce-981ce4699c93"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Authorized"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1f564e27-9493-41ee-8a53-ec948e98581a",
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "unauthorized",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Unauthorized"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        400,
        128
      ],
      "id": "8db9f2c1-fae8-4e07-853c-564990b28852",
      "name": "JWT Validation - Switch"
    },
    {
      "parameters": {
        "jsCode": "  // Format Unauthorized Error Response - Simple Version\n  // Version: v1.0.0\n\n  const errorData = $input.first().json;\n\n  // Return standardized error format\n  return [{\n    json: {\n      success: false,\n      error: {\n        message: errorData.message || 'Unauthorized access',\n        statusCode: errorData.statusCode || 401\n      },\n      timestamp: errorData.timestamp || new Date().toISOString()\n    }\n  }]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        272
      ],
      "id": "702d824d-b0ca-45d9-a4d9-169902e01b37",
      "name": "Unauthorized Response - Code"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "clients",
        "filters": {
          "conditions": [
            {
              "keyName": "knumber",
              "keyValue": "={{ $json.kNumber }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        832,
        0
      ],
      "id": "b7478b70-6e5f-440f-bb5b-6b8f79461a96",
      "name": "Get Current Client - Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "pHAY0PSxRTkwJnPE",
          "name": "Testing Branch - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Detect Address Changes - v1.1.0 - Fixed field name mismatches\n  // CRITICAL FIX: Validate Data outputs camelCase, DB returns lowercase\n\n  const validationData = $('Validate Data - Code').first().json;\n  const currentClient = $input.first().json;\n  const newClientData = validationData.clientData;\n\n  // Check if user explicitly disabled recalculation\n  const recalculateEnabled = validationData.recalculateTravelTimes !== false;\n\n  // Compare primary address - DB fields are lowercase, validated data is camelCase\n  const primaryAddressChanged = (\n      currentClient.civicaddress !== newClientData.civicAddress ||\n      currentClient.city !== newClientData.city ||\n      currentClient.prov !== newClientData.province ||\n      currentClient.postalcode !== newClientData.postalCode\n  );\n\n  // Compare secondary address\n  const oldSecondary = currentClient.secondary_civic_address || null;\n  const newSecondary = newClientData.secondary_civic_address || null;\n\n  const secondaryAddressChanged = (\n      oldSecondary !== newSecondary ||\n      currentClient.secondary_city !== newClientData.secondary_city ||\n      currentClient.secondary_province !== newClientData.secondary_province ||\n      currentClient.secondary_postal_code !== newClientData.secondary_postal_code\n  );\n\n  const addressChanged = primaryAddressChanged || secondaryAddressChanged;\n  const shouldRecalculate = recalculateEnabled && addressChanged;\n\n  // Output _route for switch node\n  return [{\n      json: {\n          _route: shouldRecalculate ? \"address_changed\" : \"address_unchanged\",\n          shouldRecalculate: shouldRecalculate,\n          addressChanged: addressChanged,\n          primaryAddressChanged: primaryAddressChanged,\n          secondaryAddressChanged: secondaryAddressChanged,\n          kNumber: validationData.kNumber,\n          clientData: newClientData,\n          selectedClinicIds: validationData.selectedClinicIds\n      }\n  }];\n\n  // Version: v1.1.0 - Fixed field name case mismatches and added _route field"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        0
      ],
      "id": "76b1ec75-48cc-4539-bbb3-c8fed5ae126b",
      "name": "Detect Address Change - Code"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "address_changed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "eaf5f113-d4cd-454a-b8ce-8f22f3da6b1c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Address Changed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1752e1c0-55fe-46b7-acf3-e91433fae575",
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "address_unchanged",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Address Unchanged"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1248,
        0
      ],
      "id": "2b2f75ba-d47b-42bb-8765-a067c88dc787",
      "name": "Address Change - Switch"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "destinations",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "active",
              "condition": "is",
              "keyValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1792,
        -128
      ],
      "id": "4d4adddb-43bf-44ee-9bc8-593c545e5489",
      "name": "Get Active Destinations - Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "pHAY0PSxRTkwJnPE",
          "name": "Testing Branch - Supabase"
        }
      }
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/distancematrix/json",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "= {\n    \"origins\": \"{{ $json.clientAddress }}\",\n    \"destinations\": \"{{ $json.clinicAddress }}\",\n    \"key\": \"***REMOVED***\",\n    \"mode\": \"driving\",\n    \"units\": \"metric\"\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2224,
        -128
      ],
      "id": "f23cfe88-9d62-4cd3-928a-c4a257e87677",
      "name": "Google Maps API - HTTP Request"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "clients",
        "filters": {
          "conditions": [
            {
              "keyName": "knumber",
              "condition": "eq",
              "keyValue": "={{ $json.kNumber }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "firstname",
              "fieldValue": "={{ $json.clientData.firstname }}"
            },
            {
              "fieldId": "lastname",
              "fieldValue": "={{ $json.clientData.lastname }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $json.clientData.phone }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $json.clientData.email }}"
            },
            {
              "fieldId": "civicaddress",
              "fieldValue": "={{ $json.clientData.civicaddress }}"
            },
            {
              "fieldId": "city",
              "fieldValue": "={{ $json.clientData.city }}"
            },
            {
              "fieldId": "prov",
              "fieldValue": "={{ $json.clientData.prov }}"
            },
            {
              "fieldId": "postalcode",
              "fieldValue": "={{ $json.clientData.postalcode }}"
            },
            {
              "fieldId": "emergency_contact_name",
              "fieldValue": "={{ $json.clientData.emergency_contact_name }}"
            },
            {
              "fieldId": "emergency_contact_number",
              "fieldValue": "={{ $json.clientData.emergency_contact_number }}"
            },
            {
              "fieldId": "notes",
              "fieldValue": "={{ $json.clientData.notes }}"
            },
            {
              "fieldId": "active",
              "fieldValue": "={{ $json.clientData.active }}"
            },
            {
              "fieldId": "mapaddress",
              "fieldValue": "={{ $json.clientData.mapaddress }}"
            },
            {
              "fieldId": "appointment_length",
              "fieldValue": "={{ $json.clientData.appointment_length }}"
            },
            {
              "fieldId": "clinic_travel_times",
              "fieldValue": "={{ $json.clinic_travel_times }}"
            },
            {
              "fieldId": "secondary_civic_address",
              "fieldValue": "={{ $json.clientData.secondary_civic_address }}"
            },
            {
              "fieldId": "secondary_city",
              "fieldValue": "={{ $json.clientData.secondary_city }}"
            },
            {
              "fieldId": "secondary_province",
              "fieldValue": "={{ $json.clientData.secondary_province }}"
            },
            {
              "fieldId": "secondary_postal_code",
              "fieldValue": "={{ $json.clientData.secondary_postal_code }}"
            },
            {
              "fieldId": "secondary_address_notes",
              "fieldValue": "={{ $json.clientData.secondary_address_notes }}"
            },
            {
              "fieldId": "primary_clinic_id",
              "fieldValue": "={{ $json.clientData.primary_clinic_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2880,
        -128
      ],
      "id": "4f2eb2a9-d557-4ea4-8053-68afdc1a2180",
      "name": "Update Client and Travel Times - Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "pHAY0PSxRTkwJnPE",
          "name": "Testing Branch - Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "clients",
        "filters": {
          "conditions": [
            {
              "keyName": "knumber",
              "condition": "eq",
              "keyValue": "={{ $json.kNumber }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "firstname",
              "fieldValue": "={{ $json.clientData.firstname }}"
            },
            {
              "fieldId": "lastname",
              "fieldValue": "={{ $json.clientData.lastname }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $json.clientData.phone }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $json.clientData.email }}"
            },
            {
              "fieldId": "civicaddress",
              "fieldValue": "={{ $json.clientData.civicaddress }}"
            },
            {
              "fieldId": "city",
              "fieldValue": "={{ $json.clientData.city }}"
            },
            {
              "fieldId": "prov",
              "fieldValue": "={{ $json.clientData.prov }}"
            },
            {
              "fieldId": "postalcode",
              "fieldValue": "={{ $json.clientData.postalcode }}"
            },
            {
              "fieldId": "emergency_contact_name",
              "fieldValue": "={{ $json.clientData.emergency_contact_name }}"
            },
            {
              "fieldId": "emergency_contact_number",
              "fieldValue": "={{ $json.clientData.emergency_contact_number }}"
            },
            {
              "fieldId": "notes",
              "fieldValue": "={{ $json.clientData.notes }}"
            },
            {
              "fieldId": "active",
              "fieldValue": "={{ $json.clientData.active }}"
            },
            {
              "fieldId": "mapaddress",
              "fieldValue": "={{ $json.clientData.mapaddress }}"
            },
            {
              "fieldId": "appointment_length",
              "fieldValue": "={{ $json.clientData.appointment_length }}"
            },
            {
              "fieldId": "secondary_civic_address",
              "fieldValue": "={{ $json.clientData.secondary_civic_address }}"
            },
            {
              "fieldId": "secondary_city",
              "fieldValue": "={{ $json.clientData.secondary_city }}"
            },
            {
              "fieldId": "secondary_province",
              "fieldValue": "={{ $json.clientData.secondary_province }}"
            },
            {
              "fieldId": "secondary_postal_code",
              "fieldValue": "={{ $json.clientData.secondary_postal_code }}"
            },
            {
              "fieldId": "secondary_address_notes",
              "fieldValue": "={{ $json.clientData.secondary_address_notes }}"
            },
            {
              "fieldId": "primary_clinic_id",
              "fieldValue": "={{ $json.clientData.primary_clinic_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2016,
        128
      ],
      "id": "2f508eb1-20d2-4166-b02b-9ed52257862e",
      "name": "Update Client (without travel times) - Supabase1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "pHAY0PSxRTkwJnPE",
          "name": "Testing Branch - Supabase"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "TEST-update-client",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -16,
        128
      ],
      "id": "7577ac1a-1003-45d4-9b4a-4a9e2bb9d2f5",
      "name": "POST Update Client with Destinations - Webhook",
      "webhookId": "fe49c0e9-902f-43de-a2ca-a27b658dfdb7"
    },
    {
      "parameters": {
        "jsCode": "// Group Destinations for Parallel Google Maps Processing - v1.0.0\n  // Reused from CLIENT - Add New Client v5 pattern\n\n  const detectionData = $('Detect Address Change - Code').first().json;\n  const client = detectionData.clientData; // NEW client data\n  const allDestinations = $input.all().map(item => item.json);\n\n  const selectedClinicIds = detectionData.selectedClinicIds || [];\n  let destinationsToCalculate = allDestinations;\n\n  if (selectedClinicIds.length > 0) {\n      destinationsToCalculate = allDestinations.filter(dest =>\n          selectedClinicIds.includes(dest.id)\n      );\n  }\n\n  // Build primary client address (NEW address)\n  const primaryAddress = [\n      client.civicAddress,\n      client.city,\n      client.province,\n      client.postalCode\n  ].filter(Boolean).join(', ');\n\n  // Build secondary address if it exists (NEW address)\n  let secondaryAddress = null;\n  if (client.secondary_civic_address && client.secondary_civic_address.trim() !== '') {\n      secondaryAddress = [\n          client.secondary_civic_address,\n          client.secondary_city,\n          client.secondary_province,\n          client.secondary_postal_code\n      ].filter(Boolean).join(', ');\n  }\n\n  const mapsRequests = [];\n\n  destinationsToCalculate.forEach(dest => {\n      const clinicAddress = [\n          dest.address,\n          dest.city,\n          dest.province,\n          dest.postal_code\n      ].filter(Boolean).join(', ');\n\n      // Primary address request\n      mapsRequests.push({\n          json: {\n              clientAddress: primaryAddress,\n              clinicAddress: clinicAddress,\n              destinationName: dest.name,\n              destinationId: dest.id,\n              knumber: detectionData.kNumber,\n              addressType: 'primary'\n          }\n      });\n\n      // Secondary address request (if exists)\n      if (secondaryAddress) {\n          mapsRequests.push({\n              json: {\n                  clientAddress: secondaryAddress,\n                  clinicAddress: clinicAddress,\n                  destinationName: dest.name,\n                  destinationId: dest.id,\n                  knumber: detectionData.kNumber,\n                  addressType: 'secondary'\n              }\n          });\n      }\n  });\n\n  return mapsRequests;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        -128
      ],
      "id": "85245d18-c617-41fc-b55c-6ddecd2af90d",
      "name": "Group Destinations for Maps - Code"
    },
    {
      "parameters": {
        "jsCode": " // Aggregate Google Maps Results into travel_times JSONB\n  // Version: v1.3.0 - Added transit time buffer and rounding\n\n  const mapsResults = $input.all();\n\n  // Get original request data from Group Destinations node\n  const originalRequests = $('Group Destinations for Maps - Code').all();\n\n  // Get K Number from first original request\n  const knumber = originalRequests[0].json.knumber;\n\n  const travelTimes = {};\n  let successCount = 0;\n  let failCount = 0;\n\n  mapsResults.forEach((result, index) => {\n    // Get the original request data for this index\n    const originalData = originalRequests[index].json;\n    const destination = originalData.destinationName;\n    const addressType = originalData.addressType;\n    const mapsResponse = result.json;\n\n    // Initialize destination object if not exists\n    if (!travelTimes[destination]) {\n      travelTimes[destination] = {};\n    }\n\n    // Extract Google Maps data\n    if (mapsResponse.rows && mapsResponse.rows[0]?.elements[0]?.status === 'OK') {\n      const element = mapsResponse.rows[0].elements[0];\n\n      // Get raw duration from Google Maps API (convert seconds to minutes)\n      const rawDurationMinutes = Math.ceil(element.duration.value / 60);\n\n      // Apply +5 minute buffer and round up to nearest 5 minutes\n      // This matches the old Add Appointment workflow: Math.ceil((raw + 5) / 5) * 5\n      const durationMinutes = Math.ceil((rawDurationMinutes + 5) / 5) * 5;\n\n      const distanceKm = (element.distance.value / 1000).toFixed(2);\n\n      travelTimes[destination][addressType] = {\n        duration_minutes: durationMinutes,\n        distance_km: parseFloat(distanceKm),\n        calculated_at: new Date().toISOString()\n      };\n\n      successCount++;\n    } else {\n      console.error(`❌ Google Maps failed for ${destination} (${addressType})`);\n      travelTimes[destination][addressType] = {\n        duration_minutes: null,\n        distance_km: null,\n        calculated_at: new Date().toISOString(),\n        error: 'Google Maps API failed'\n      };\n      failCount++;\n    }\n  });\n\n  // Only log if there were failures\n  if (failCount > 0) {\n    console.error(`⚠️ Travel times: ${successCount} success, ${failCount} failed`);\n  }\n\n  return [{\n    json: {\n      knumber: knumber,\n      clinic_travel_times: travelTimes,\n      travelTimesRecalculated: true,\n      stats: {\n        total: successCount + failCount,\n        success: successCount,\n        failed: failCount\n      }\n    }\n  }];\n\n  // Version: v1.3.0 - Added transit time buffer and rounding calculation"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2448,
        -128
      ],
      "id": "e2ccad44-507a-45ec-8cba-463bc9b552b0",
      "name": "Aggregate Travel Times - Code"
    },
    {
      "parameters": {
        "jsCode": " // Prepare Data for Supabase Update - v1.2.0\n  // Added: primary_clinic_id support\n  // CRITICAL FIX: Convert camelCase to lowercase for database fields\n\n  const detectionData = $('Detect Address Change - Code').first().json;\n  const travelTimeData = $input.first().json;\n\n  // Convert camelCase fields to lowercase for database\n  const clientData = detectionData.clientData;\n\n  return [{\n      json: {\n          kNumber: detectionData.kNumber,\n          clientData: {\n              // Convert camelCase to lowercase for DB\n              firstname: clientData.firstName,\n              lastname: clientData.lastName,\n              phone: clientData.phone,\n              email: clientData.email,\n              civicaddress: clientData.civicAddress,\n              city: clientData.city,\n              prov: clientData.province,\n              postalcode: clientData.postalCode,\n              appointment_length: clientData.appointmentLength,\n              notes: clientData.notes,\n              emergency_contact_name: clientData.emergencyContactName,\n              emergency_contact_number: clientData.emergencyContactNumber,\n              active: clientData.active,\n              mapaddress: clientData.mapaddress || null,\n              secondary_civic_address: clientData.secondary_civic_address,\n              secondary_city: clientData.secondary_city,\n              secondary_province: clientData.secondary_province,\n              secondary_postal_code: clientData.secondary_postal_code,\n              secondary_address_notes: clientData.secondary_address_notes,\n              // Primary clinic (NEW)\n              primary_clinic_id: clientData.primary_clinic_id\n          },\n          clinic_travel_times: travelTimeData.clinic_travel_times,\n          travelTimesRecalculated: true,\n          stats: travelTimeData.stats\n      }\n  }];\n\n  // Version: v1.2.0 - Added primary_clinic_id support"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2656,
        -128
      ],
      "id": "d37ed9a8-7697-458e-babb-c068979edc77",
      "name": "Prepare Data for Supabase - Code"
    },
    {
      "parameters": {
        "jsCode": " // Prepare Data for Supabase Update (No Travel Times) - v1.1.0\n  // Added: primary_clinic_id support\n  // Convert camelCase to lowercase for database fields\n\n  const detectionData = $input.first().json;\n  const clientData = detectionData.clientData;\n\n  return [{\n      json: {\n          kNumber: detectionData.kNumber,\n          clientData: {\n              // Convert camelCase to lowercase for DB\n              firstname: clientData.firstName,\n              lastname: clientData.lastName,\n              phone: clientData.phone,\n              email: clientData.email,\n              civicaddress: clientData.civicAddress,\n              city: clientData.city,\n              prov: clientData.province,\n              postalcode: clientData.postalCode,\n              appointment_length: clientData.appointmentLength,\n              notes: clientData.notes,\n              emergency_contact_name: clientData.emergencyContactName,\n              emergency_contact_number: clientData.emergencyContactNumber,\n              active: clientData.active,\n              mapaddress: clientData.mapaddress || null,\n              secondary_civic_address: clientData.secondary_civic_address,\n              secondary_city: clientData.secondary_city,\n              secondary_province: clientData.secondary_province,\n              secondary_postal_code: clientData.secondary_postal_code,\n              secondary_address_notes: clientData.secondary_address_notes,\n              // Primary clinic (NEW)\n              primary_clinic_id: clientData.primary_clinic_id\n          },\n          travelTimesRecalculated: false\n      }\n  }];\n\n  // Version: v1.1.0 - Added primary_clinic_id support"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        128
      ],
      "id": "4df2611f-ee13-466e-aa7f-6d650e45ba65",
      "name": "Prepare Data Without Travel Times - Code"
    }
  ],
  "pinData": {
    "POST Update Client with Destinations - Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook-processor-production-3bb8.up.railway.app",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "content-length": "503",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "authorization": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJhbmRyZXduZXd0b245NjVAZ21haWwuY29tIiwidHlwZSI6ImZ1bGwiLCJyb2xlIjoiYWRtaW4iLCJwZXJtaXNzaW9ucyI6WyJhbGwiXSwiaWF0IjoxNzYzNDkwODM4LCJleHAiOjE3NjM0OTQ0MzgsImp0aSI6ImZ1bGxfMTc2MzQ5MDgzODU2M19oZDZ6MWIxamkifQ==.-bz5vqc",
            "content-type": "application/json",
            "origin": "null",
            "priority": "u=1, i",
            "sec-ch-ua": "\"Chromium\";v=\"142\", \"Google Chrome\";v=\"142\", \"Not_A Brand\";v=\"99\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "134.41.46.208",
            "x-forwarded-host": "webhook-processor-production-3bb8.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-edge": "railway/us-east4-eqdc4a",
            "x-railway-request-id": "zy8122OoS9mSOu9NozsQ6Q",
            "x-real-ip": "134.41.46.208",
            "x-request-start": "1763491863281"
          },
          "params": {},
          "query": {},
          "body": {
            "knumber": "K7807878",
            "clientData": {
              "firstname": "Andrew",
              "lastname": "Newton",
              "phone": "902-760-0946",
              "email": "***REMOVED***",
              "civicaddress": "349 Dodge Rd",
              "city": "Wilmot",
              "prov": "NS",
              "postalcode": "B0P 1W0",
              "secondary_civic_address": null,
              "secondary_city": null,
              "secondary_province": null,
              "secondary_postal_code": null,
              "secondary_address_notes": null,
              "primary_clinic_id": 1,
              "appointment_length": 120,
              "active": true,
              "emergency_contact_name": "js",
              "emergency_contact_number": "902-111-1111",
              "notes": null
            }
          },
          "webhookUrl": "https://webhook-processor-production-3bb8.up.railway.app/webhook/TEST-update-client",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Validate Data - Code": {
      "main": [
        [
          {
            "node": "Get Current Client - Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response - Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT Validation - Code": {
      "main": [
        [
          {
            "node": "JWT Validation - Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT Validation - Switch": {
      "main": [
        [
          {
            "node": "Validate Data - Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized Response - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unauthorized Response - Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Client - Supabase": {
      "main": [
        [
          {
            "node": "Detect Address Change - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Address Change - Code": {
      "main": [
        [
          {
            "node": "Address Change - Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Address Change - Switch": {
      "main": [
        [
          {
            "node": "Get Active Destinations - Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Data Without Travel Times - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Destinations - Supabase": {
      "main": [
        [
          {
            "node": "Group Destinations for Maps - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Maps API - HTTP Request": {
      "main": [
        [
          {
            "node": "Aggregate Travel Times - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Client and Travel Times - Supabase": {
      "main": [
        [
          {
            "node": "Format Response - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Client (without travel times) - Supabase1": {
      "main": [
        [
          {
            "node": "Format Response - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Update Client with Destinations - Webhook": {
      "main": [
        [
          {
            "node": "JWT Validation - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Group Destinations for Maps - Code": {
      "main": [
        [
          {
            "node": "Google Maps API - HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Travel Times - Code": {
      "main": [
        [
          {
            "node": "Prepare Data for Supabase - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data for Supabase - Code": {
      "main": [
        [
          {
            "node": "Update Client and Travel Times - Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data Without Travel Times - Code": {
      "main": [
        [
          {
            "node": "Update Client (without travel times) - Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e0c1bc74-babb-4caf-bca9-1ac68ea3512c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "62fe1973b06b53c2a918f891d003328ecd43cc9389e3ac0f24384782e956f6ca"
  },
  "id": "5O5mDTn1Maa2PrnR",
  "tags": [
    {
      "updatedAt": "2025-10-30T17:16:58.339Z",
      "createdAt": "2025-10-30T17:16:58.339Z",
      "id": "enR5cvAvdrM9M4km",
      "name": "Client Management"
    },
    {
      "updatedAt": "2025-11-02T20:39:22.246Z",
      "createdAt": "2025-11-02T20:39:22.246Z",
      "id": "Gm2wdYiA4AnCKH8r",
      "name": "with JWT"
    },
    {
      "updatedAt": "2025-11-09T06:15:47.425Z",
      "createdAt": "2025-11-09T06:15:47.425Z",
      "id": "tZpzEwpoeg8SrGGa",
      "name": "TEST"
    }
  ]
}