developing/TEST Workflow Copies/TEST - APPT - Get Appointments Page Data copy.json
{
  "name": "TEST - APPT - Get Appointments Page Data copy",
  "nodes": [
    {
      "parameters": {
        "path": "TEST-get-appointments-page-data",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -352,
        320
      ],
      "id": "4e591b52-1a01-4307-b47d-4c0a57cece3a",
      "name": "Webhook - Get Page Data",
      "webhookId": "96f4559d-7a7a-4c0b-871c-c693873df42b"
    },
    {
      "parameters": {
        "jsCode": "// JWT Token Validation for Backend Workflows - v1.0.0\n\nconst webhookData = $input.first().json;\nconst authHeader = webhookData.headers?.authorization || webhookData.headers?.Authorization;\n\nif (!authHeader) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Missing authorization header',\n      statusCode: 401,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nif (!authHeader.startsWith('Bearer ')) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Invalid authorization format. Expected \"Bearer {token}\"',\n      statusCode: 401,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nconst token = authHeader.substring(7);\n\nfunction simpleHash(input) {\n  let hash = 0;\n  for (let i = 0; i < input.length; i++) {\n    const char = input.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash;\n  }\n  return hash.toString(36);\n}\n\nconst JWT_SECRET = \"REPLACE_WITH_ENV_VAR_JWT_SECRET\";\n\nfunction verifyJWT(token) {\n  try {\n    const parts = token.split('.');\n    if (parts.length !== 3) {\n      return { valid: false, error: 'Invalid token format' };\n    }\n\n    const [encodedHeader, encodedPayload, receivedSignature] = parts;\n    const dataToSign = `${encodedHeader}.${encodedPayload}.${JWT_SECRET}`;\n    const expectedSignature = simpleHash(dataToSign);\n\n    if (receivedSignature !== expectedSignature) {\n      return { valid: false, error: 'Invalid token signature' };\n    }\n\n    const payload = JSON.parse(atob(encodedPayload));\n    const now = Math.floor(Date.now() / 1000);\n    if (payload.exp && payload.exp < now) {\n      return { valid: false, error: 'Token expired' };\n    }\n\n    return { valid: true, payload: payload };\n\n  } catch (error) {\n    return { valid: false, error: 'Token verification failed: ' + error.message };\n  }\n}\n\nconst validation = verifyJWT(token);\n\nif (!validation.valid) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: validation.error || 'Invalid token',\n      statusCode: 401,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nconst payload = validation.payload;\nconst allowLimitedToken = webhookData.body?.allowLimitedToken || false;\n\nif (payload.type === 'limited' && !allowLimitedToken) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'This operation requires full authentication',\n      statusCode: 403,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nif (payload.type === 'refresh') {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Refresh tokens cannot be used for this operation',\n      statusCode: 403,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    _route: 'authorized',\n    authenticated: true,\n    user: {\n      username: payload.sub,\n      role: payload.role,\n      tokenType: payload.type,\n      permissions: payload.permissions || []\n    },\n    requestBody: webhookData.body,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        320
      ],
      "id": "d699b61a-96f8-40fe-991f-1638f64a55e1",
      "name": "JWT Validation - Code"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "authorized",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "jwt-authorized"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Authorized"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "jwt-unauthorized",
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "unauthorized",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Unauthorized"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        64,
        320
      ],
      "id": "025a2346-fe32-4e21-94d5-695f0fc38aa9",
      "name": "JWT Validation - Switch"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "appointments",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "appointmenttime",
              "condition": "gte",
              "keyValue": "={{ $now.minus({days: 12}).startOf('day').toISO() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        576,
        48
      ],
      "id": "e1bfaea5-43d6-49b0-aada-0cea1e1f8dcb",
      "name": "Get Appointments - Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "pHAY0PSxRTkwJnPE",
          "name": "Testing Branch - Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "clients",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        576,
        -144
      ],
      "id": "c68c6dfd-b458-4033-89b5-80652722eeb3",
      "name": "Get All Clients - Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "pHAY0PSxRTkwJnPE",
          "name": "Testing Branch - Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "drivers",
        "returnAll": true,
        "filterType": "string",
        "filterString": "select=id,first_name,last_name"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        576,
        256
      ],
      "id": "a3551a09-fd2b-4b56-92b2-86b87db36eb9",
      "name": "Get Drivers - Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "pHAY0PSxRTkwJnPE",
          "name": "Testing Branch - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// v1.4.0: Added primary_clinic_id field\n  // v1.3.0: Added secondary address fields\n  // Three-Tier Client System: Filters to active + inactive\n  // v1.2.0: Added clinic_travel_times field\n\n  const allClients = $input.all().map(item => item.json);\n\n  console.log(`Processing ${allClients.length} total clients from database`);\n\n  const filteredClients = allClients.filter(client => {\n      const status = client.status || 'active';\n      return status === 'active' || status === 'inactive';\n  });\n\n  console.log(`Filtered to ${filteredClients.length} clients (active + inactive)`);\n\n  const clients = filteredClients.map(client => {\n      return {\n          clientId: client.id,\n          knumber: client.knumber,\n          firstname: client.firstname,\n          lastname: client.lastname,\n          phone: client.phone,\n          email: client.email,\n          civicaddress: client.civicaddress,\n          city: client.city,\n          prov: client.prov,\n          postalcode: client.postalcode,\n          secondary_civic_address: client.secondary_civic_address || null,\n          secondary_city: client.secondary_city || null,\n          secondary_province: client.secondary_province || null,\n          secondary_postal_code: client.secondary_postal_code || null,\n          secondary_address_notes: client.secondary_address_notes || null,\n          emergency_contact_name: client.emergency_contact_name,\n          emergency_contact_number: client.emergency_contact_number,\n          notes: client.notes,\n          active: client.active !== false,\n          status: client.status || 'active',\n          mapaddress: client.mapaddress || '',\n          appointment_length: client.appointment_length || null,\n          clinic_travel_times: client.clinic_travel_times || null,\n          primary_clinic_id: client.primary_clinic_id || null,\n          openphone_contact_id: client.openphone_contact_id || null,\n          created_at: client.created_at\n      };\n  });\n\n  return clients.map(client => ({ json: client }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        -144
      ],
      "id": "e60ed48b-13f5-47a7-8afd-2f1ad97097c3",
      "name": "Filter and Rename Clients - Code"
    },
    {
      "parameters": {
        "jsCode": "// Combine Appointments Page Data - v1.5.0\n  // - v1.5.0: Added primary_clinic_id field to client mapping\n  // - v1.4.0: Added managed_by and managed_by_name fields to appointment mapping\n  // - v1.3.0: Added pickup_address field to appointment mapping\n// v1.3.0: Added secondary address fields\n  // Updated for new merge structure: Client+Appointment enrichment then Append Drivers\n  // Version History:\n  // - v1.2.0: Updated for append merge structure with enriched client+appointment data\n  // - v1.1.0: Three-tier client system\n  // - v1.0.0: Initial implementation\n\n  try {\n      const allItems = $input.all().map(item => item.json);\n\n      // Separate drivers from enriched client+appointment data\n      // Drivers have first_name/last_name, enriched items have firstname/lastname\n      const drivers = allItems.filter(item => item.first_name !== undefined &&\n  item.last_name !== undefined);\n      const enrichedClientAppointments = allItems.filter(item => item.firstname !==\n  undefined || item.knumber !== undefined);\n\n      console.log(`Processing ${enrichedClientAppointments.length} enriched items,\n  ${drivers.length} drivers`);\n\n      // Extract unique clients by de-duplicating on knumber\n      const clientsMap = new Map();\n      enrichedClientAppointments.forEach(item => {\n          const knumber = item.knumber;\n          if (knumber && !clientsMap.has(knumber)) {\n              clientsMap.set(knumber, {\n                  id: item.clientId || item.id,\n                  knumber: item.knumber,\n                  firstname: item.firstname,\n                  lastname: item.lastname,\n                  phone: item.phone,\n                  email: item.email,\n                  civicaddress: item.civicaddress,\n                  city: item.city,\n                  prov: item.prov,\n                  postalcode: item.postalcode,\n                  secondary_civic_address: item.secondary_civic_address || null,\n                  secondary_city: item.secondary_city || null,\n                  secondary_province: item.secondary_province || null,\n                  secondary_postal_code: item.secondary_postal_code || null,\n                  secondary_address_notes: item.secondary_address_notes || null,\n                  emergency_contact_name: item.emergency_contact_name,\n                  emergency_contact_number: item.emergency_contact_number,\n                  notes: item.notes,\n                  active: item.active !== false,\n                  status: item.status || 'active',\n                  mapaddress: item.mapaddress || '',\n                  appointmentLength: item.appointment_length || null,\n                clinic_travel_times: item.clinic_travel_times || null,\n                  primary_clinic_id: item.primary_clinic_id || null,\n                  openphoneContactId: item.openphone_contact_id || null,\n                  created_at: item.created_at\n              });\n          }\n      });\n\n      const clients = Array.from(clientsMap.values());\n\n      // Extract appointments from enriched items\n      const appointments = enrichedClientAppointments\n          .filter(item => item.appointmenttime)\n          .map(item => {\n              const appointmentDate = new Date(item.appointmenttime);\n              const dateStr = appointmentDate.toISOString().split('T')[0];\n              const timeStr = appointmentDate.toTimeString().slice(0, 5);\n\n              return {\n                  id: item.id,\n                  appointmentDate: dateStr,\n                  appointmentTime: timeStr,\n                  appointmentDateTime: item.appointmenttime,\n                  pickupTime: item.pickuptime,\n                  dropOffTime: item.dropofftime || null,\n                  location: item.locationname,\n                  locationAddress: item.locationaddress,\n                  locationName: item.locationname,\n                  clinic_id: item.clinic_id || null,\n                  notes: item.general_notes || item.notes || '',\n                  scheduling_notes: item.scheduling_notes || '',\n                  driver_instructions: item.driver_instructions || null,\n                  pickup_address: item.pickup_address || null,\n                  managed_by: item.managed_by || null,\n                  managed_by_name: item.managed_by_name || null,\n                  status: item.appointmentstatus,\n                  appointmentstatus: item.appointmentstatus,\n                  transitTime: item.transittime,\n                  customRate: item.custom_rate,\n                  appointmentLength: item.this_appointment_length || null,\n                  driverAssigned: item.driver_assigned || null,\n                  driverFirstName: item.driver_first_name || null,\n                  driverCalendarEventId: item.driver_calendar_event_id || null,\n                  clientNotificationSent: item.client_notification_sent || false,\n                  driverNotificationSent: item.driver_notification_sent || false,\n                  reminderSentClient: item.reminder_sent_client || false,\n                  reminderSentDriver: item.reminder_sent_driver || false,\n                  knumber: item.knumber,\n                  clientName: item.firstname && item.lastname ? `${item.firstname}\n  ${item.lastname}` : 'Unknown Client',\n                  clientFirstName: item.firstname || '',\n                  clientLastName: item.lastname || '',\n                  clientPhone: item.phone || '',\n                  clientEmail: item.email || '',\n                  clientAddress: item.civicaddress || '',\n                  clientCity: item.city || '',\n                  clientProvince: item.prov || '',\n                  clientPostalCode: item.postalcode || '',\n                  createdAt: item.created_at,\n                  deleted_at: item.deleted_at || null,\n                  deleted_by: item.deleted_by || null,\n                  cancelled_at: item.cancelled_at || null,\n                  cancelled_by: item.cancelled_by || null,\n                  cancellation_reason: item.cancellation_reason || null,\n                  operation_status: item.operation_status || 'pending',\n                  invoice_status: item.invoice_status || 'not_ready'\n              };\n          });\n\n      appointments.sort((a, b) => new Date(a.appointmentDateTime) - new\n  Date(b.appointmentDateTime));\n\n      clients.sort((a, b) => {\n          const lastNameCompare = (a.lastname || '').localeCompare(b.lastname || '');\n          if (lastNameCompare !== 0) return lastNameCompare;\n          return (a.firstname || '').localeCompare(b.firstname || '');\n      });\n\n      drivers.sort((a, b) => {\n          const aFullName = `${a.first_name || ''} ${a.last_name || ''}`.trim();\n          const bFullName = `${b.first_name || ''} ${b.last_name || ''}`.trim();\n          return aFullName.localeCompare(bFullName);\n      });\n\n      console.log(`✅ Combined: ${appointments.length} appointments, ${clients.length}\n  clients, ${drivers.length} drivers`);\n\n      return [{\n          json: {\n              success: true,\n              data: {\n                  appointments: appointments,\n                  clients: clients,\n                  drivers: drivers\n              },\n              counts: {\n                  appointments: appointments.length,\n                  clients: clients.length,\n                  drivers: drivers.length\n              },\n              message: `Appointments page data loaded: ${appointments.length}\n  appointments, ${clients.length} clients, ${drivers.length} drivers`,\n              timestamp: new Date().toISOString()\n          }\n      }];\n\n  } catch (error) {\n      console.error('❌ Error combining page data:', error.message);\n      return [{\n          json: {\n              success: false,\n              error: 'Failed to combine page data',\n              message: error.message,\n              timestamp: new Date().toISOString()\n          }\n      }];\n  }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        96
      ],
      "id": "1a074932-465c-4441-94cd-fada9f70c19b",
      "name": "Combine All Page Data - Code"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "knumber",
        "joinMode": "enrichInput1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        976,
        -48
      ],
      "id": "b091d4d7-6104-4a55-bc35-348c09cdb45b",
      "name": "Merge Client and Appiontments - Merge",
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1264,
        96
      ],
      "id": "7d5e1a64-7ac0-42e7-b729-094e029f96c4",
      "name": "Merge All Data - Merge"
    },
    {
      "parameters": {
        "jsCode": "  // Format Unauthorized Error Response - Simple Version\n  // Version: v1.0.0\n\n  const errorData = $input.first().json;\n\n  // Return standardized error format\n  return [{\n    json: {\n      success: false,\n      error: {\n        message: errorData.message || 'Unauthorized access',\n        statusCode: errorData.statusCode || 401\n      },\n      timestamp: errorData.timestamp || new Date().toISOString()\n    }\n  }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        560
      ],
      "id": "bbdd2cbd-8429-4764-97f1-a35f5118a7d3",
      "name": "Unauthorized Response - Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2080,
        848
      ],
      "id": "5e9f18d3-9ca8-4212-911f-e5a80b519a05",
      "name": "Respond"
    }
  ],
  "pinData": {
    "Webhook - Get Page Data": [
      {
        "json": {
          "headers": {
            "host": "webhook-processor-production-3bb8.up.railway.app",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "authorization": "Bearer REPLACE_WITH_VALID_TOKEN",
            "content-type": "application/json",
            "if-none-match": "W/\"dc24-slqArNz+uTc6k8igcVL8jvXbvoU\"",
            "origin": "null",
            "priority": "u=1, i",
            "sec-ch-ua": "\"Google Chrome\";v=\"141\", \"Not?A_Brand\";v=\"8\", \"Chromium\";v=\"141\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "134.41.174.19",
            "x-forwarded-host": "webhook-processor-production-3bb8.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-edge": "railway/us-east4-eqdc4a",
            "x-railway-request-id": "ivdp_MGHT4qFe-PWozsQ6Q",
            "x-real-ip": "134.41.174.19",
            "x-request-start": "1762383778993"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://webhook-processor-production-3bb8.up.railway.app/webhook/get-appointments-page-data",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook - Get Page Data": {
      "main": [
        [
          {
            "node": "JWT Validation - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT Validation - Code": {
      "main": [
        [
          {
            "node": "JWT Validation - Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT Validation - Switch": {
      "main": [
        [
          {
            "node": "Get Appointments - Supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get All Clients - Supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Drivers - Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized Response - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Clients - Supabase": {
      "main": [
        [
          {
            "node": "Filter and Rename Clients - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Appointments - Supabase": {
      "main": [
        [
          {
            "node": "Merge Client and Appiontments - Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Filter and Rename Clients - Code": {
      "main": [
        [
          {
            "node": "Merge Client and Appiontments - Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine All Page Data - Code": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Drivers - Supabase": {
      "main": [
        [
          {
            "node": "Merge All Data - Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Client and Appiontments - Merge": {
      "main": [
        [
          {
            "node": "Merge All Data - Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Data - Merge": {
      "main": [
        [
          {
            "node": "Combine All Page Data - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unauthorized Response - Code": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "04ff72a2-9f1a-4e3e-92f8-901f3c0cc5ce",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "62fe1973b06b53c2a918f891d003328ecd43cc9389e3ac0f24384782e956f6ca"
  },
  "id": "q9N7DgmYvghRt9hf",
  "tags": [
    {
      "updatedAt": "2025-10-30T17:13:53.320Z",
      "createdAt": "2025-10-30T17:13:53.320Z",
      "id": "3od10wQiA1OAAozv",
      "name": "Appointment Management"
    },
    {
      "updatedAt": "2025-11-02T20:39:22.246Z",
      "createdAt": "2025-11-02T20:39:22.246Z",
      "id": "Gm2wdYiA4AnCKH8r",
      "name": "with JWT"
    },
    {
      "updatedAt": "2025-11-09T06:15:47.425Z",
      "createdAt": "2025-11-09T06:15:47.425Z",
      "id": "tZpzEwpoeg8SrGGa",
      "name": "TEST"
    }
  ]
}