developing/TEST Workflow Copies/TEST - APPT - Soft Delete Appointment copy.json
{
  "name": "TEST - APPT - Soft Delete Appointment copy",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "TEST-soft-delete-appointment",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1248,
        288
      ],
      "id": "d3c29a44-c512-424e-82e5-674c79e8cc2a",
      "name": "Soft Delete - Webhook",
      "webhookId": "cf1ba3d7-f7e0-48dc-98a5-c4198f12808c"
    },
    {
      "parameters": {
        "jsCode": "// JWT Token Validation - v1.0.0\nconst webhookData = $input.first().json;\n\nconst authHeader = webhookData.headers?.authorization || webhookData.headers?.Authorization;\n\nif (!authHeader) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Missing authorization header',\n      statusCode: 401,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nif (!authHeader.startsWith('Bearer ')) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Invalid authorization format',\n      statusCode: 401,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nconst token = authHeader.substring(7);\n\nfunction simpleHash(input) {\n  let hash = 0;\n  for (let i = 0; i < input.length; i++) {\n    const char = input.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash;\n  }\n  return hash.toString(36);\n}\n\nconst JWT_SECRET = \"REPLACE_WITH_ENV_VAR_JWT_SECRET\";\n\nfunction verifyJWT(token) {\n  try {\n    const parts = token.split('.');\n    if (parts.length !== 3) {\n      return { valid: false, error: 'Invalid token format' };\n    }\n\n    const [encodedHeader, encodedPayload, receivedSignature] = parts;\n    const dataToSign = `${encodedHeader}.${encodedPayload}.${JWT_SECRET}`;\n    const expectedSignature = simpleHash(dataToSign);\n\n    if (receivedSignature !== expectedSignature) {\n      return { valid: false, error: 'Invalid token signature' };\n    }\n\n    const payload = JSON.parse(atob(encodedPayload));\n    const now = Math.floor(Date.now() / 1000);\n    if (payload.exp && payload.exp < now) {\n      return { valid: false, error: 'Token expired' };\n    }\n\n    return { valid: true, payload: payload };\n\n  } catch (error) {\n    return { valid: false, error: 'Token verification failed' };\n  }\n}\n\nconst validation = verifyJWT(token);\n\nif (!validation.valid) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: validation.error || 'Invalid token',\n      statusCode: 401,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nconst payload = validation.payload;\n\nif (payload.type === 'limited') {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'This operation requires full authentication',\n      statusCode: 403,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nif (payload.type === 'refresh') {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Refresh tokens cannot be used for this operation',\n      statusCode: 403,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    _route: 'authorized',\n    authenticated: true,\n    user: {\n      username: payload.sub,\n      role: payload.role,\n      tokenType: payload.type,\n      userId: payload.userId\n    },\n    requestBody: webhookData.body,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        288
      ],
      "id": "3b59799a-ddda-4f1e-b296-81d17bdee725",
      "name": "JWT Validation - Code"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "authorized",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Authorized"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "unauthorized",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Unauthorized"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -832,
        288
      ],
      "id": "74fd0554-4017-4862-a587-85cf7d34f49f",
      "name": "JWT Check - Switch"
    },
    {
      "parameters": {
        "jsCode": "// Validate Request - v1.0.0\nconst requestBody = $json.requestBody || $json;\n\nif (!requestBody.id) {\n    return [{\n        json: {\n            success: \"false\",\n            message: 'Appointment ID is required',\n            timestamp: new Date().toISOString()\n        }\n    }];\n}\n\nif (!requestBody.deleted_by) {\n    return [{\n        json: {\n            success: \"false\",\n            message: 'User ID is required',\n            timestamp: new Date().toISOString()\n        }\n    }];\n}\n\nreturn [{\n    json: {\n        success: \"true\",\n        appointmentId: requestBody.id,\n        deletedBy: requestBody.deleted_by\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        208
      ],
      "id": "4a597847-bf6f-4816-b5c1-6c8b9cf5db40",
      "name": "Validate Request - Code"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.success }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Valid"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.success }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Invalid"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -384,
        208
      ],
      "id": "31eac986-e782-4dd6-aff5-61cc213fd045",
      "name": "Validation - Switch"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "appointments",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.appointmentId }}"
            },
            {
              "keyName": "driver_assigned",
              "condition": "is",
              "keyValue": "null"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "deleted_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            },
            {
              "fieldId": "deleted_by",
              "fieldValue": "={{ $json.deletedBy }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -176,
        128
      ],
      "id": "bc288272-0b58-4ee2-a155-89024660e016",
      "name": "Soft Delete - Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "pHAY0PSxRTkwJnPE",
          "name": "Testing Branch - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format Success Response - v1.0.1 (FIXED)\n  const result = $input.first().json;\n\n  if (result.error) {\n      console.error('Soft delete error:', result.error);\n      return [{\n          json: {\n              success: false,\n              message: 'Failed to archive appointment: ' + result.error,\n              timestamp: new Date().toISOString()\n          }\n      }];\n  }\n\n  if (!result || !result.id) {  // ← Changed from result[0]\n      return [{\n          json: {\n              success: false,\n              message: 'Cannot archive: appointment has assigned driver or not found',\n              timestamp: new Date().toISOString()\n          }\n      }];\n  }\n\n  return [{\n      json: {\n          success: true,\n          message: 'Appointment archived successfully',\n          appointmentId: result.id,  // ← Changed from result[0].id\n          timestamp: new Date().toISOString()\n      }\n  }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        128
      ],
      "id": "a7f9948f-ec0b-4983-84eb-365c1dc8cbe3",
      "name": "Format Success - Code"
    },
    {
      "parameters": {
        "jsCode": "// Format Error Response - v1.0.0\nconst errorData = $input.first().json;\n\nreturn [{\n    json: {\n        success: false,\n        message: errorData.message || 'Validation failed',\n        timestamp: new Date().toISOString()\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        288
      ],
      "id": "9235fc02-28d0-41de-a80e-fbe1fbb005fc",
      "name": "Format Error - Code"
    },
    {
      "parameters": {
        "jsCode": "// Format Unauthorized - v1.0.0\nconst unauthorizedData = $input.first().json;\n\nreturn [{\n    json: {\n        success: false,\n        message: unauthorizedData.message || 'Unauthorized',\n        statusCode: unauthorizedData.statusCode || 401,\n        timestamp: new Date().toISOString()\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        368
      ],
      "id": "ad975176-43c5-4959-ae0f-be941bea7fa2",
      "name": "Format Unauthorized - Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        384,
        672
      ],
      "id": "630dcc6c-d8d3-4a94-98b0-bca9fdb63886",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {
    "Soft Delete - Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook-processor-production-3bb8.up.railway.app",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36",
            "content-length": "61",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "authorization": "Bearer REPLACE_WITH_VALID_TOKEN",
            "content-type": "application/json",
            "origin": "null",
            "priority": "u=1, i",
            "sec-ch-ua": "\"Google Chrome\";v=\"141\", \"Not?A_Brand\";v=\"8\", \"Chromium\";v=\"141\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "134.41.174.19",
            "x-forwarded-host": "webhook-processor-production-3bb8.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-edge": "railway/us-east4-eqdc4a",
            "x-railway-request-id": "GOQGE3g9R_uDRPsrCx5-qw",
            "x-real-ip": "134.41.174.19",
            "x-request-start": "1762289573006"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "91fcbf53-c6c3-4053-844a-ef1990118918",
            "deleted_by": 13
          },
          "webhookUrl": "https://webhook-processor-production-3bb8.up.railway.app/webhook/soft-delete-appointment",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Soft Delete - Webhook": {
      "main": [
        [
          {
            "node": "JWT Validation - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT Validation - Code": {
      "main": [
        [
          {
            "node": "JWT Check - Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT Check - Switch": {
      "main": [
        [
          {
            "node": "Validate Request - Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Unauthorized - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Request - Code": {
      "main": [
        [
          {
            "node": "Validation - Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation - Switch": {
      "main": [
        [
          {
            "node": "Soft Delete - Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Soft Delete - Supabase": {
      "main": [
        [
          {
            "node": "Format Success - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success - Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error - Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Unauthorized - Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b52909ce-4fd0-4d48-a1e8-e0f79e3ca0f9",
  "meta": {
    "instanceId": "62fe1973b06b53c2a918f891d003328ecd43cc9389e3ac0f24384782e956f6ca"
  },
  "id": "HxpYffVvZlgaREAW",
  "tags": [
    {
      "updatedAt": "2025-11-02T20:39:22.246Z",
      "createdAt": "2025-11-02T20:39:22.246Z",
      "id": "Gm2wdYiA4AnCKH8r",
      "name": "with JWT"
    },
    {
      "updatedAt": "2025-11-04T20:00:00.997Z",
      "createdAt": "2025-11-04T20:00:00.997Z",
      "id": "T0IkbfumgU4NZfs7",
      "name": "Appointment"
    },
    {
      "updatedAt": "2025-11-09T06:15:47.425Z",
      "createdAt": "2025-11-09T06:15:47.425Z",
      "id": "tZpzEwpoeg8SrGGa",
      "name": "TEST"
    }
  ]
}