developing/TEST Workflow Copies/TEST - FIN - Update Invoice Status.json
{
  "name": "TEST - FIN - Update Invoice Status",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "TEST-update-invoice-status-v2",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1a2a3a4-b5b6-c7c8-d9d0-e1e2e3e4e5e6",
      "name": "POST Update Invoice Status - Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-1440, 368],
      "webhookId": "update-invoice-status-v2"
    },
    {
      "parameters": {
        "jsCode": "// FIN - Update Invoice Status - JWT Validation\n  // Version: v1.0.0\n\n  const input = $input.first().json;\n  const authHeader = input.headers.authorization || input.headers.Authorization || '';\n  const token = authHeader.replace('Bearer ', '').trim();\n\n  if (!token) {\n    return [{ json: { jwtValid: 'false', statusCode: 401, error: 'No authorization token provided' } }];\n  }\n\n  function simpleHash(input) {\n    let hash = 0;\n    for (let i = 0; i < input.length; i++) {\n      const char = input.charCodeAt(i);\n      hash = ((hash << 5) - hash) + char;\n      hash = hash & hash;\n    }\n    return hash.toString(36);\n  }\n\n  const JWT_SECRET = \"***REMOVED***\";\n\n  function verifyJWT(token) {\n    try {\n      const parts = token.split('.');\n      if (parts.length !== 3) return { valid: false, error: 'Invalid token format' };\n\n      const [encodedHeader, encodedPayload, receivedSignature] = parts;\n      const dataToSign = `${encodedHeader}.${encodedPayload}.${JWT_SECRET}`;\n      const expectedSignature = simpleHash(dataToSign);\n\n      if (receivedSignature !== expectedSignature) return { valid: false, error: 'Invalid signature' };\n\n      const payload = JSON.parse(atob(encodedPayload));\n      const now = Math.floor(Date.now() / 1000);\n      if (payload.exp && payload.exp < now) return { valid: false, error: 'Token expired' };\n\n      return { valid: true, payload: payload };\n    } catch (error) {\n      return { valid: false, error: 'Token verification failed: ' + error.message };\n    }\n  }\n\n  const validation = verifyJWT(token);\n  if (!validation.valid) {\n    return [{ json: { jwtValid: 'false', statusCode: 401, error: validation.error || 'Invalid or expired token' } }];\n  }\n\n  const payload = validation.payload;\n  if (payload.type === 'limited') {\n    return [{ json: { jwtValid: 'false', statusCode: 403, error: 'Limited tokens not allowed for this endpoint' } }];\n  }\n\n  return [{ json: { jwtValid: 'true', user: { username: payload.sub, role: payload.role }, body: input.body, timestamp: new Date().toISOString() } }];"
      },
      "id": "b2b3b4b5-c6c7-d8d9-e0e1-f2f3f4f5f6f7",
      "name": "JWT Validation - Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1200, 368]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [{ "leftValue": "={{ $json.jwtValid }}", "rightValue": "true", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Valid"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [{ "leftValue": "={{ $json.jwtValid }}", "rightValue": "false", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Invalid"
            }
          ]
        },
        "options": {}
      },
      "id": "c3c4c5c6-d7d8-e9e0-f1f2-a3a4a5a6a7a8",
      "name": "JWT Check - Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [-960, 368]
    },
    {
      "parameters": {
        "jsCode": "// FIN - Update Invoice Status - Validate Input\n  // Version: v1.0.0\n\n  const body = $input.first().json.body;\n  const invoiceId = body.invoiceId;\n  const newStatus = body.status;\n  const sentAt = body.sentAt || null;\n  const paidAt = body.paidAt || null;\n\n  const errors = [];\n  if (!invoiceId) errors.push('invoiceId is required');\n  if (!newStatus) errors.push('status is required');\n\n  const validStatuses = ['created', 'sent', 'paid', 'void'];\n  if (newStatus && !validStatuses.includes(newStatus)) {\n    errors.push(`status must be one of: ${validStatuses.join(', ')}`);\n  }\n\n  const validationPassed = errors.length === 0 ? 'true' : 'false';\n\n  return [{ json: { validationPassed, errors, invoiceId, newStatus, statusString: String(newStatus || ''), sentAt, paidAt, timestamp: new Date().toISOString() } }];"
      },
      "id": "d4d5d6d7-e8e9-f0f1-a2a3-b4b5b6b7b8b9",
      "name": "Validate Input - Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-720, 240]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [{ "leftValue": "={{ $json.validationPassed }}", "rightValue": "true", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Valid"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [{ "leftValue": "={{ $json.validationPassed }}", "rightValue": "false", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Invalid"
            }
          ]
        },
        "options": {}
      },
      "id": "e5e6e7e8-f9f0-a1a2-b3b4-c5c6c7c8c9c0",
      "name": "Validation Check - Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [-480, 240]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "invoices",
        "filters": {
          "conditions": [{ "keyName": "id", "condition": "eq", "keyValue": "={{ $json.invoiceId }}" }]
        },
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "invoice_status", "fieldValue": "={{ $json.newStatus }}" },
            { "fieldId": "invoice_sent_at", "fieldValue": "={{ $json.sentAt }}" },
            { "fieldId": "payment_received_at", "fieldValue": "={{ $json.paidAt }}" }
          ]
        }
      },
      "id": "f6f7f8f9-a0a1-b2b3-c4c5-d6d7d8d9d0d1",
      "name": "Update Invoice - Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-240, 128],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "pHAY0PSxRTkwJnPE",
          "name": "Testing Branch - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// FIN - Update Invoice Status - Get Invoice ID\n  // Version: v1.0.0\n\n  const invoice = $input.first().json;\n  const requestData = $input.first().json;\n\n  return [{ json: { invoice_id: invoice.id, newStatus: requestData.newStatus, invoice: invoice } }];"
      },
      "id": "a7a8a9a0-b1b2-c3c4-d5d6-e7e8e9e0f1f2",
      "name": "Get Invoice ID - Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, 128]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "appointments",
        "filters": {
          "conditions": [{ "keyName": "invoice_id", "condition": "eq", "keyValue": "={{ $json.invoice_id }}" }]
        },
        "returnAll": true
      },
      "id": "b8b9b0b1-c2c3-d4d5-e6e7-f8f9f0f1a2a3",
      "name": "Get Linked Appointments - Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [240, 128],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "pHAY0PSxRTkwJnPE",
          "name": "Testing Branch - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// FIN - Update Invoice Status - Prepare Appointment Updates\n  // Version: v1.0.0\n\n  const appointments = $input.all().map(item => item.json);\n  const newStatus = $input.first().json.newStatus;\n\n  return appointments.map(apt => ({ json: { appointmentId: apt.id, newStatus: newStatus } }));"
      },
      "id": "c9c0c1c2-d3d4-e5e6-f7f8-a9a0a1a2a3a4",
      "name": "Prepare Appointment Updates - Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 128]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "appointments",
        "filters": {
          "conditions": [{ "keyName": "id", "condition": "eq", "keyValue": "={{ $json.appointmentId }}" }]
        },
        "fieldsUi": {
          "fieldValues": [{ "fieldId": "invoice_status", "fieldValue": "={{ $json.newStatus }}" }]
        }
      },
      "id": "d0d1d2d3-e4e5-f6f7-a8a9-b0b1b2b3b4b5",
      "name": "Update Appointments - Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [720, 128],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "pHAY0PSxRTkwJnPE",
          "name": "Testing Branch - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// FIN - Update Invoice Status - Success Response\n  // Version: v1.0.0\n\n  const items = $input.all();\n  const appointmentCount = items.length;\n\n  return [{ json: { success: true, message: `Invoice status updated successfully (${appointmentCount} appointments updated)`, data: { appointmentCount }, timestamp: new Date().toISOString() } }];"
      },
      "id": "e1e2e3e4-f5f6-a7a8-b9b0-c1c2c3c4c5c6",
      "name": "Success Response - Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 128]
    },
    {
      "parameters": {
        "jsCode": "// FIN - Update Invoice Status - Error Response\n\n  const errorData = $input.first().json;\n  return [{ json: { success: false, message: 'Validation failed', errors: errorData.errors || [], statusCode: 400, timestamp: new Date().toISOString() } }];"
      },
      "id": "f2f3f4f5-a6a7-b8b9-c0c1-d2d3d4d5d6d7",
      "name": "Error Response - Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-240, 352]
    },
    {
      "parameters": {
        "jsCode": "// FIN - Update Invoice Status - JWT Error\n\n  const errorData = $input.first().json;\n  return [{ json: { success: false, message: 'Authentication failed', error: errorData.error || 'Invalid or expired token', statusCode: errorData.statusCode || 401, timestamp: new Date().toISOString() } }];"
      },
      "id": "a3a4a5a6-b7b8-c9c0-d1d2-e3e4e5e6e7e8",
      "name": "JWT Error Response - Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-720, 496]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b4b5b6b7-c8c9-d0d1-e2e3-f4f5f6f7f8f9",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [1200, 304]
    }
  ],
  "connections": {
    "POST Update Invoice Status - Webhook": { "main": [[{ "node": "JWT Validation - Code", "type": "main", "index": 0 }]] },
    "JWT Validation - Code": { "main": [[{ "node": "JWT Check - Switch", "type": "main", "index": 0 }]] },
    "JWT Check - Switch": { "main": [[{ "node": "Validate Input - Code", "type": "main", "index": 0 }], [{ "node": "JWT Error Response - Code", "type": "main", "index": 0 }]] },
    "Validate Input - Code": { "main": [[{ "node": "Validation Check - Switch", "type": "main", "index": 0 }]] },
    "Validation Check - Switch": { "main": [[{ "node": "Update Invoice - Supabase", "type": "main", "index": 0 }], [{ "node": "Error Response - Code", "type": "main", "index": 0 }]] },
    "Update Invoice - Supabase": { "main": [[{ "node": "Get Invoice ID - Code", "type": "main", "index": 0 }]] },
    "Get Invoice ID - Code": { "main": [[{ "node": "Get Linked Appointments - Supabase", "type": "main", "index": 0 }]] },
    "Get Linked Appointments - Supabase": { "main": [[{ "node": "Prepare Appointment Updates - Code", "type": "main", "index": 0 }]] },
    "Prepare Appointment Updates - Code": { "main": [[{ "node": "Update Appointments - Supabase", "type": "main", "index": 0 }]] },
    "Update Appointments - Supabase": { "main": [[{ "node": "Success Response - Code", "type": "main", "index": 0 }]] },
    "Success Response - Code": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] },
    "Error Response - Code": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] },
    "JWT Error Response - Code": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "00000000-0000-0000-0000-000000000000",
  "meta": { "instanceId": "62fe1973b06b53c2a918f891d003328ecd43cc9389e3ac0f24384782e956f6ca" },
  "id": "NEW_WORKFLOW",
  "tags": [
    { "id": "Q4i8xQtE7UtuEFhO", "name": "Finance" },
    { "id": "oCkAyP5U0C49SJQC", "name": "Invoice" },
    { "id": "tZpzEwpoeg8SrGGa", "name": "TEST" }
  ]
}
