developing/TEST Workflow Copies/TEST - ADMIN - Store Audit Log copy.json
{
  "name": "TEST - ADMIN - Store Audit Log copy",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "TEST-store-audit-log",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1200,
        160
      ],
      "id": "c7062d60-e5a3-4230-b724-90fc8a56cad2",
      "name": "Store Audit Log - Webhook",
      "webhookId": "1f959472-f9d2-4861-b4e5-373c43d88134"
    },
    {
      "parameters": {
        "jsCode": "// JWT Token Validation - v1.0.0\nconst webhookData = $input.first().json;\n\n// Extract Authorization header\nconst authHeader = webhookData.headers?.authorization || webhookData.headers?.Authorization;\n\nif (!authHeader) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Missing authorization header',\n      statusCode: 401,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Check Bearer token format\nif (!authHeader.startsWith('Bearer ')) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Invalid authorization format',\n      statusCode: 401,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Extract token\nconst token = authHeader.substring(7);\n\n// JWT validation functions\nfunction simpleHash(input) {\n  let hash = 0;\n  for (let i = 0; i < input.length; i++) {\n    const char = input.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash;\n  }\n  return hash.toString(36);\n}\n\nconst JWT_SECRET = \"REPLACE_WITH_ENV_VAR_JWT_SECRET\";\n\nfunction verifyJWT(token) {\n  try {\n    const parts = token.split('.');\n    if (parts.length !== 3) {\n      return { valid: false, error: 'Invalid token format' };\n    }\n\n    const [encodedHeader, encodedPayload, receivedSignature] = parts;\n\n    // Verify signature\n    const dataToSign = `${encodedHeader}.${encodedPayload}.${JWT_SECRET}`;\n    const expectedSignature = simpleHash(dataToSign);\n\n    if (receivedSignature !== expectedSignature) {\n      return { valid: false, error: 'Invalid token signature' };\n    }\n\n    // Decode payload\n    const payload = JSON.parse(atob(encodedPayload));\n\n    // Check expiration\n    const now = Math.floor(Date.now() / 1000);\n    if (payload.exp && payload.exp < now) {\n      return { valid: false, error: 'Token expired' };\n    }\n\n    return { valid: true, payload: payload };\n\n  } catch (error) {\n    return { valid: false, error: 'Token verification failed' };\n  }\n}\n\n// Validate the token\nconst validation = verifyJWT(token);\n\nif (!validation.valid) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: validation.error || 'Invalid token',\n      statusCode: 401,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nconst payload = validation.payload;\n\n// Check token type\nif (payload.type === 'limited') {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'This operation requires full authentication',\n      statusCode: 403,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nif (payload.type === 'refresh') {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Refresh tokens cannot be used for this operation',\n      statusCode: 403,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Token is valid\nreturn [{\n  json: {\n    _route: 'authorized',\n    authenticated: true,\n    user: {\n      username: payload.sub,\n      role: payload.role,\n      tokenType: payload.type,\n      userId: payload.userId\n    },\n    requestBody: webhookData.body,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        160
      ],
      "id": "5fac1b7d-1213-4b89-8dc1-10b6a1f41472",
      "name": "JWT Validation - Code",
      "options": {
        "executionOrder": "v1"
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "authorized",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "jwt-authorized"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Authorized"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "jwt-unauthorized",
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "unauthorized",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Unauthorized"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -720,
        160
      ],
      "id": "95042376-25f9-4036-826f-d07b5a638136",
      "name": "JWT Check - Switch"
    },
    {
      "parameters": {
        "jsCode": " // Validate Audit Log Data - v1.1.0\n  const requestBody = $json.requestBody || $json;\n\n  // Minimal logging\n  if (!requestBody.action) {\n      console.log('❌ Missing action field');\n  }\n\n  // Validation\n  const errors = [];\n  if (!requestBody.action || requestBody.action.trim() === '') {\n      errors.push('Action is required');\n  }\n\n  if (!requestBody.username || requestBody.username.trim() === '') {\n      errors.push('Username is required');\n  }\n\n  if (!requestBody.role || requestBody.role.trim() === '') {\n      errors.push('Role is required');\n  }\n\n  // Return validation errors\n  if (errors.length > 0) {\n      console.log(`❌ Validation failed: ${errors.length} errors`);\n      return [{\n          json: {\n              success: \"false\",\n              errors: errors,\n              message: 'Validation failed: ' + errors.join(', '),\n              skipDatabase: true\n          }\n      }];\n  }\n\n  // Parse user_id (may be null)\n  function parseUserId(value) {\n      if (value === \"\" || value === null || value === undefined) {\n          return null;\n      }\n      const parsed = parseInt(value);\n      return isNaN(parsed) ? null : parsed;\n  }\n\n  // Process audit log data\n  const auditLogData = {\n      timestamp: new Date().toISOString(),\n      user_id: parseUserId(requestBody.user_id),\n      username: requestBody.username.trim(),\n      role: requestBody.role.trim(),\n      action: requestBody.action.trim(),\n      resource_type: requestBody.resource_type || null,\n      resource_id: requestBody.resource_id || null,\n      details: requestBody.details || {},\n      ip_address: requestBody.ip_address || null,\n      user_agent: requestBody.user_agent || null,\n      success: requestBody.success !== undefined ? requestBody.success : true,\n      error_message: requestBody.error_message || null\n  };\n\n  return [{\n      json: {\n          success: \"true\",\n          auditLogData: auditLogData\n      }\n  }];\n\n  // Version: v1.1.0 - Convert booleans to strings for Switch"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        80
      ],
      "id": "7229672d-4164-4a32-8cf1-031158d3d4e1",
      "name": "Validate Audit Log Data - Code",
      "options": {
        "executionOrder": "v1"
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.success }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "validation-success"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Valid"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "validation-failed",
                    "leftValue": "={{ $json.success }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Invalid"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -240,
        80
      ],
      "id": "53a601b6-2b0c-4313-88ea-dae3eeb40ea5",
      "name": "Check Validation - Switch"
    },
    {
      "parameters": {
        "tableId": "audit_logs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "timestamp",
              "fieldValue": "={{ $json.auditLogData.timestamp }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.auditLogData.user_id }}"
            },
            {
              "fieldId": "username",
              "fieldValue": "={{ $json.auditLogData.username }}"
            },
            {
              "fieldId": "role",
              "fieldValue": "={{ $json.auditLogData.role }}"
            },
            {
              "fieldId": "action",
              "fieldValue": "={{ $json.auditLogData.action }}"
            },
            {
              "fieldId": "resource_type",
              "fieldValue": "={{ $json.auditLogData.resource_type }}"
            },
            {
              "fieldId": "resource_id",
              "fieldValue": "={{ $json.auditLogData.resource_id }}"
            },
            {
              "fieldId": "details",
              "fieldValue": "={{ JSON.stringify($json.auditLogData.details) }}"
            },
            {
              "fieldId": "ip_address",
              "fieldValue": "={{ $json.auditLogData.ip_address }}"
            },
            {
              "fieldId": "user_agent",
              "fieldValue": "={{ $json.auditLogData.user_agent }}"
            },
            {
              "fieldId": "success",
              "fieldValue": "={{ $json.auditLogData.success }}"
            },
            {
              "fieldId": "error_message",
              "fieldValue": "={{ $json.auditLogData.error_message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "632ff459-0878-42bf-919c-ab862d446e52",
      "name": "Insert Audit Log - Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "pHAY0PSxRTkwJnPE",
          "name": "Testing Branch - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format Success Response - v1.0.0\nconst result = $input.first().json;\n\n// Check for database errors\nif (result.error) {\n    console.error('❌ Audit log insert error:', result.error);\n    return [{\n        json: {\n            success: false,\n            message: 'Failed to store audit log: ' + result.error,\n            timestamp: new Date().toISOString()\n        }\n    }];\n}\n\n// Success response\nreturn [{\n    json: {\n        success: true,\n        message: 'Audit log stored successfully',\n        audit_log_id: result.id,\n        timestamp: new Date().toISOString()\n    }\n}];\n\n// Version: v1.0.0 - Audit log success response"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "id": "0fcc018f-ed5f-42b6-9031-12f0c3db70bb",
      "name": "Format Success Response - Code",
      "options": {
        "executionOrder": "v1"
      }
    },
    {
      "parameters": {
        "jsCode": "// Format Error Response - v1.0.0\nconst errorData = $input.first().json;\n\nreturn [{\n    json: {\n        success: false,\n        message: errorData.message || 'Validation failed',\n        errors: errorData.errors || null,\n        timestamp: new Date().toISOString()\n    }\n}];\n\n// Version: v1.0.0 - Standard error response"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        160
      ],
      "id": "53a8e9dd-1fad-45d1-b14f-49bc92bc1422",
      "name": "Format Error Response - Code",
      "options": {
        "executionOrder": "v1"
      }
    },
    {
      "parameters": {
        "jsCode": "// Format Unauthorized Response - v1.0.0\nconst unauthorizedData = $input.first().json;\n\nreturn [{\n    json: {\n        success: false,\n        message: unauthorizedData.message || 'Unauthorized',\n        statusCode: unauthorizedData.statusCode || 401,\n        timestamp: new Date().toISOString()\n    }\n}];\n\n// Version: v1.0.0 - Unauthorized response"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        240
      ],
      "id": "be5182ea-edb0-45fa-8280-060eb46511bd",
      "name": "Format Unauthorized Response - Code",
      "options": {
        "executionOrder": "v1"
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        544,
        480
      ],
      "id": "670f7ca0-e362-448f-baac-dadf1c623f4d",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {
    "Store Audit Log - Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook-processor-production-3bb8.up.railway.app",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36",
            "content-length": "611",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "authorization": "Bearer REPLACE_WITH_VALID_TOKEN",
            "content-type": "application/json",
            "origin": "null",
            "priority": "u=1, i",
            "sec-ch-ua": "\"Google Chrome\";v=\"141\", \"Not?A_Brand\";v=\"8\", \"Chromium\";v=\"141\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "134.41.174.19",
            "x-forwarded-host": "webhook-processor-production-3bb8.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-edge": "railway/us-east4-eqdc4a",
            "x-railway-request-id": "f4WTuKGuTG-7iQ0OozsQ6Q",
            "x-real-ip": "134.41.174.19",
            "x-request-start": "1762283336537"
          },
          "params": {},
          "query": {},
          "body": {
            "user_id": null,
            "username": "andrewnewton965@gmail.com",
            "role": "admin",
            "action": "appointment_created",
            "resource_type": "appointment",
            "resource_id": "82712a91-3a4a-4422-911a-3b2cda8abbd8",
            "details": {
              "resource_type": "appointment",
              "resource_id": "82712a91-3a4a-4422-911a-3b2cda8abbd8",
              "client_knumber": "K7807878",
              "appointment_time": "2025-11-11T13:00:00.000Z",
              "driver_assigned": null,
              "success": true,
              "timestamp": "2025-11-04T19:08:56.147Z"
            },
            "ip_address": null,
            "user_agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36",
            "success": true,
            "error_message": null
          },
          "webhookUrl": "https://webhook-processor-production-3bb8.up.railway.app/webhook/store-audit-log",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Store Audit Log - Webhook": {
      "main": [
        [
          {
            "node": "JWT Validation - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT Validation - Code": {
      "main": [
        [
          {
            "node": "JWT Check - Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT Check - Switch": {
      "main": [
        [
          {
            "node": "Validate Audit Log Data - Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Unauthorized Response - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Audit Log Data - Code": {
      "main": [
        [
          {
            "node": "Check Validation - Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Validation - Switch": {
      "main": [
        [
          {
            "node": "Insert Audit Log - Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error Response - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Audit Log - Supabase": {
      "main": [
        [
          {
            "node": "Format Success Response - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Response - Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Response - Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Unauthorized Response - Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "163c348e-c374-416e-a600-e21983c9cc03",
  "meta": {
    "instanceId": "62fe1973b06b53c2a918f891d003328ecd43cc9389e3ac0f24384782e956f6ca"
  },
  "id": "yYkEnSet9IbucBbl",
  "tags": [
    {
      "updatedAt": "2025-10-30T17:12:04.468Z",
      "createdAt": "2025-10-30T17:12:04.468Z",
      "id": "9hOXePwFOkPfBNfm",
      "name": "Admin"
    },
    {
      "updatedAt": "2025-11-02T20:39:22.246Z",
      "createdAt": "2025-11-02T20:39:22.246Z",
      "id": "Gm2wdYiA4AnCKH8r",
      "name": "with JWT"
    },
    {
      "updatedAt": "2025-11-04T18:41:30.678Z",
      "createdAt": "2025-11-04T18:41:30.678Z",
      "id": "jan3YNUSCtjqCDzI",
      "name": "Audit"
    },
    {
      "updatedAt": "2025-11-09T06:15:47.425Z",
      "createdAt": "2025-11-09T06:15:47.425Z",
      "id": "tZpzEwpoeg8SrGGa",
      "name": "TEST"
    }
  ]
}