developing/TEST Workflow Copies/TEST - FIN - Mark Appointment Ready.json
{
  "name": "TEST - FIN - Mark Appointment Ready",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "TEST-mark-appointment-ready",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1a2a3a4-0001-0001-0001-000000000001",
      "name": "POST Mark Appointment Ready - Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-1440, 368],
      "webhookId": "test-mark-appointment-ready"
    },
    {
      "parameters": {
        "jsCode": "// FIN - Mark Appointment Ready - JWT Validation\n// Version: v1.0.0\n\nconst input = $input.first().json;\nconst authHeader = input.headers.authorization || input.headers.Authorization || '';\nconst token = authHeader.replace('Bearer ', '').trim();\n\nif (!token) {\n  return [{ json: { jwtValid: 'false', statusCode: 401, error: 'No authorization token provided' } }];\n}\n\nfunction simpleHash(input) {\n  let hash = 0;\n  for (let i = 0; i < input.length; i++) {\n    const char = input.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash;\n  }\n  return hash.toString(36);\n}\n\nconst JWT_SECRET = \"***REMOVED***\";\n\nfunction verifyJWT(token) {\n  try {\n    const parts = token.split('.');\n    if (parts.length !== 3) return { valid: false, error: 'Invalid token format' };\n\n    const [encodedHeader, encodedPayload, receivedSignature] = parts;\n    const dataToSign = `${encodedHeader}.${encodedPayload}.${JWT_SECRET}`;\n    const expectedSignature = simpleHash(dataToSign);\n\n    if (receivedSignature !== expectedSignature) return { valid: false, error: 'Invalid signature' };\n\n    const payload = JSON.parse(atob(encodedPayload));\n    const now = Math.floor(Date.now() / 1000);\n    if (payload.exp && payload.exp < now) return { valid: false, error: 'Token expired' };\n\n    return { valid: true, payload: payload };\n  } catch (error) {\n    return { valid: false, error: 'Token verification failed: ' + error.message };\n  }\n}\n\nconst validation = verifyJWT(token);\nif (!validation.valid) {\n  return [{ json: { jwtValid: 'false', statusCode: 401, error: validation.error || 'Invalid or expired token' } }];\n}\n\nconst payload = validation.payload;\nif (payload.type === 'limited') {\n  return [{ json: { jwtValid: 'false', statusCode: 403, error: 'Limited tokens not allowed' } }];\n}\n\nreturn [{ json: { jwtValid: 'true', user: { username: payload.sub, role: payload.role }, body: input.body, timestamp: new Date().toISOString() } }];"
      },
      "id": "a1a2a3a4-0001-0001-0001-000000000002",
      "name": "JWT Validation - Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1200, 368]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [{ "leftValue": "={{ $json.jwtValid }}", "rightValue": "true", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Valid"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [{ "leftValue": "={{ $json.jwtValid }}", "rightValue": "false", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Invalid"
            }
          ]
        },
        "options": {}
      },
      "id": "a1a2a3a4-0001-0001-0001-000000000003",
      "name": "JWT Check - Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [-960, 368]
    },
    {
      "parameters": {
        "jsCode": "// FIN - Mark Appointment Ready - Validate Input\n// Version: v1.0.0\n\nconst body = $input.first().json.body;\nconst appointmentIds = body.appointmentIds;\n\nconst errors = [];\nif (!appointmentIds) errors.push('appointmentIds is required');\nif (appointmentIds && !Array.isArray(appointmentIds)) errors.push('appointmentIds must be an array');\nif (appointmentIds && appointmentIds.length === 0) errors.push('appointmentIds cannot be empty');\n\nconst validationPassed = errors.length === 0 ? 'true' : 'false';\n\nif (validationPassed === 'false') {\n  return [{ json: { validationPassed, errors, timestamp: new Date().toISOString() } }];\n}\n\n// Return each appointment ID as separate item for batch update\nreturn appointmentIds.map(id => ({\n  json: {\n    validationPassed: 'true',\n    appointmentId: id,\n    totalCount: appointmentIds.length\n  }\n}));"
      },
      "id": "a1a2a3a4-0001-0001-0001-000000000004",
      "name": "Validate Input - Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-720, 240]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [{ "leftValue": "={{ $json.validationPassed }}", "rightValue": "true", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Valid"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [{ "leftValue": "={{ $json.validationPassed }}", "rightValue": "false", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Invalid"
            }
          ]
        },
        "options": {}
      },
      "id": "a1a2a3a4-0001-0001-0001-000000000005",
      "name": "Validation Check - Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [-480, 240]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "appointments",
        "filters": {
          "conditions": [{ "keyName": "id", "condition": "eq", "keyValue": "={{ $json.appointmentId }}" }]
        },
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "invoice_status", "fieldValue": "ready" }
          ]
        }
      },
      "id": "a1a2a3a4-0001-0001-0001-000000000006",
      "name": "Update Appointment Status - Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-240, 128],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "pHAY0PSxRTkwJnPE",
          "name": "Testing Branch - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// FIN - Mark Appointment Ready - Success Response\n// Version: v1.0.0\n\nconst items = $input.all();\nconst updatedCount = items.filter(i => i.json && i.json.id).length;\n\nreturn [{\n  json: {\n    success: true,\n    message: `${updatedCount} appointment(s) marked as ready for invoicing`,\n    data: { updatedCount },\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "a1a2a3a4-0001-0001-0001-000000000007",
      "name": "Success Response - Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, 128]
    },
    {
      "parameters": {
        "jsCode": "// FIN - Mark Appointment Ready - Validation Error Response\n// Version: v1.0.0\n\nconst errorData = $input.first().json;\nreturn [{\n  json: {\n    success: false,\n    message: 'Validation failed',\n    errors: errorData.errors || [],\n    statusCode: 400,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "a1a2a3a4-0001-0001-0001-000000000008",
      "name": "Error Response - Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-240, 352]
    },
    {
      "parameters": {
        "jsCode": "// FIN - Mark Appointment Ready - JWT Error Response\n// Version: v1.0.0\n\nconst errorData = $input.first().json;\nreturn [{\n  json: {\n    success: false,\n    message: 'Authentication failed',\n    error: errorData.error || 'Invalid or expired token',\n    statusCode: errorData.statusCode || 401,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "a1a2a3a4-0001-0001-0001-000000000009",
      "name": "JWT Error Response - Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-720, 496]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a1a2a3a4-0001-0001-0001-000000000010",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [240, 304]
    }
  ],
  "connections": {
    "POST Mark Appointment Ready - Webhook": { "main": [[{ "node": "JWT Validation - Code", "type": "main", "index": 0 }]] },
    "JWT Validation - Code": { "main": [[{ "node": "JWT Check - Switch", "type": "main", "index": 0 }]] },
    "JWT Check - Switch": { "main": [[{ "node": "Validate Input - Code", "type": "main", "index": 0 }], [{ "node": "JWT Error Response - Code", "type": "main", "index": 0 }]] },
    "Validate Input - Code": { "main": [[{ "node": "Validation Check - Switch", "type": "main", "index": 0 }]] },
    "Validation Check - Switch": { "main": [[{ "node": "Update Appointment Status - Supabase", "type": "main", "index": 0 }], [{ "node": "Error Response - Code", "type": "main", "index": 0 }]] },
    "Update Appointment Status - Supabase": { "main": [[{ "node": "Success Response - Code", "type": "main", "index": 0 }]] },
    "Success Response - Code": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] },
    "Error Response - Code": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] },
    "JWT Error Response - Code": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "00000000-0000-0000-0000-000000000000",
  "meta": { "instanceId": "62fe1973b06b53c2a918f891d003328ecd43cc9389e3ac0f24384782e956f6ca" },
  "id": "NEW_WORKFLOW",
  "tags": [
    { "id": "Q4i8xQtE7UtuEFhO", "name": "Finance" },
    { "id": "tZpzEwpoeg8SrGGa", "name": "TEST" }
  ]
}
