developing/TEST Workflow Copies/TEST - FIN - Create Invoice v2.json
{
  "name": "TEST - FIN - Create Invoice v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "TEST-create-invoice",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d3e55491-21d9-4404-83e3-44a59ec69cb6",
      "name": "POST Create Invoice - Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1920,
        352
      ],
      "webhookId": "create-invoice"
    },
    {
      "parameters": {
        "jsCode": "// JWT Token Validation for Backend Workflows\n// Version: v1.0.0\n// Use this code node at the start of any protected workflow\n\n// Get webhook input data\nconst webhookData = $input.first().json;\n\n// Extract Authorization header\nconst authHeader = webhookData.headers?.authorization || webhookData.headers?.Authorization;\n\nif (!authHeader) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Missing authorization header',\n      statusCode: 401,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Check Bearer token format\nif (!authHeader.startsWith('Bearer ')) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Invalid authorization format. Expected \"Bearer {token}\"',\n      statusCode: 401,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Extract token\nconst token = authHeader.substring(7); // Remove \"Bearer \" prefix\n\n// JWT validation functions (matching generation code)\nfunction simpleHash(input) {\n  let hash = 0;\n  for (let i = 0; i < input.length; i++) {\n    const char = input.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash;\n  }\n  return hash.toString(36);\n}\n\nconst JWT_SECRET = \"REPLACE_WITH_ENV_VAR_JWT_SECRET\";\n\nfunction verifyJWT(token) {\n  try {\n    const parts = token.split('.');\n    if (parts.length !== 3) {\n      return { valid: false, error: 'Invalid token format' };\n    }\n\n    const [encodedHeader, encodedPayload, receivedSignature] = parts;\n\n    // Verify signature\n    const dataToSign = `${encodedHeader}.${encodedPayload}.${JWT_SECRET}`;\n    const expectedSignature = simpleHash(dataToSign);\n\n    if (receivedSignature !== expectedSignature) {\n      return { valid: false, error: 'Invalid token signature' };\n    }\n\n    // Decode payload\n    const payload = JSON.parse(atob(encodedPayload));\n\n    // Check expiration\n    const now = Math.floor(Date.now() / 1000);\n    if (payload.exp && payload.exp < now) {\n      return { valid: false, error: 'Token expired' };\n    }\n\n    return { valid: true, payload: payload };\n\n  } catch (error) {\n    return { valid: false, error: 'Token verification failed: ' + error.message };\n  }\n}\n\n// Validate the token\nconst validation = verifyJWT(token);\n\nif (!validation.valid) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: validation.error || 'Invalid token',\n      statusCode: 401,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nconst payload = validation.payload;\n\n// Check token type (reject LIMITED tokens unless specifically allowed)\n// Note: Individual workflows can override this by setting allowLimitedToken in webhook body\nconst allowLimitedToken = webhookData.body?.allowLimitedToken || false;\n\nif (payload.type === 'limited' && !allowLimitedToken) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'This operation requires full authentication. Please complete password change.',\n      statusCode: 403,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Check if refresh token is being used for non-refresh operations\nif (payload.type === 'refresh') {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Refresh tokens cannot be used for this operation',\n      statusCode: 403,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Token is valid - return user info and original request body\nreturn [{\n  json: {\n    _route: 'authorized',\n    authenticated: true,\n    user: {\n      username: payload.sub,\n      role: payload.role,\n      tokenType: payload.type,\n      permissions: payload.permissions || []\n    },\n    requestBody: webhookData.body,\n    timestamp: new Date().toISOString()\n  }\n}];\n"
      },
      "id": "f3619afa-6950-460a-a2a8-0c9309446d86",
      "name": "JWT Validation - Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1680,
        352
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "authorized",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5134bdf6-40aa-4d50-bfb7-5d29cbb6a3b6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Valid"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "unauthorized",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "dac73134-24f4-4d06-8ede-de2c02d9af2d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Invalid"
            }
          ]
        },
        "options": {}
      },
      "id": "f1bf6cda-6e9e-408b-90fa-6cba7da916ed",
      "name": "JWT Check - Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1440,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": " // FIN - Create Invoice - Validate Input & Split IDs\n  // Version: v2.1.0 - Fixed requestBody reference\n\n  const body = $input.first().json.requestBody || $input.first().json.body;\n  const user = $input.first().json.user;\n\n  const appointmentIds = body.appointmentIds || [];\n  const invoiceDate = body.invoiceDate;\n  const notes = body.notes || '';\n\n  const errors = [];\n  if (!Array.isArray(appointmentIds) || appointmentIds.length === 0)\n  errors.push('appointmentIds array required');\n  if (!invoiceDate) errors.push('invoiceDate required');\n\n  const validationPassed = errors.length === 0 ? 'true' : 'false';\n\n  // Split appointment IDs into separate items for getAll operations\n  if (errors.length === 0) {\n    return appointmentIds.map(id => ({\n      json: {\n        validationPassed: 'true',\n        appointmentId: id,\n        allAppointmentIds: appointmentIds,\n        invoiceDate: invoiceDate,\n        notes: notes,\n        username: user.username\n      }\n    }));\n  } else {\n    return [{ json: { validationPassed: 'false', errors: errors } }];\n  }"
      },
      "id": "4f32367b-6ff5-40c9-8131-cca5b6a8ec57",
      "name": "Validate Input - Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        224
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.validationPassed }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Valid"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.validationPassed }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Invalid"
            }
          ]
        },
        "options": {}
      },
      "id": "977e8f58-d987-4502-81f0-4a724561374a",
      "name": "Validation Check - Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -960,
        224
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "appointments",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.appointmentId }}"
            }
          ]
        }
      },
      "id": "4f5a05ed-8620-4a00-9844-7241c591e6dc",
      "name": "Get Appointment - Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -720,
        112
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "pHAY0PSxRTkwJnPE",
          "name": "Testing Branch - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// FIN - Create Invoice - Merge Appointments\n  // Version: v2.1.0 - Fixed data passing\n  // Collects all fetched appointments and validates\n\n  const items = $input.all();\n\n  // Get the original request data from Validate Input node\n  const validateNode = $('Validate Input - Code').first().json;\n  const invoiceDate = validateNode.invoiceDate;\n  const notes = validateNode.notes;\n  const username = validateNode.username;\n  const allAppointmentIds = validateNode.allAppointmentIds;\n\n  // Filter out items that are just pass-through data (have appointmentId but no knumber from DB)\n  // and get actual appointment data from Supabase\n  const appointments = items.map(item => item.json).filter(item => item.knumber ||\n  item.id);\n\n  if (appointments.length === 0) {\n    return [{ json: { appointmentsValid: 'false', errors: ['No appointments found'] }\n  }];\n  }\n\n  const errors = [];\n\n  // Check all same client\n  const knumbers = [...new Set(appointments.map(a => a.knumber))];\n  if (knumbers.length > 1) errors.push('All appointments must be for same client');\n\n  // Check all status ready\n  const nonReady = appointments.filter(a => a.invoice_status !== 'ready');\n  if (nonReady.length > 0) errors.push(`${nonReady.length} appointment(s) not in ready\n  status`);\n\n  // Calculate totals\n  let subtotal = 0;\n  appointments.forEach(apt => {\n    subtotal += parseFloat(apt.custom_rate || 0);\n  });\n\n  const appointmentsValid = errors.length === 0 ? 'true' : 'false';\n\n  return [{\n    json: {\n      appointmentsValid: appointmentsValid,\n      errors: errors,\n      knumber: knumbers[0],\n      appointmentIds: allAppointmentIds,\n      appointmentCount: appointments.length,\n      invoiceDate: invoiceDate,\n      notes: notes,\n      username: username,\n      subtotal: subtotal,\n      timestamp: new Date().toISOString()\n    }\n  }];"
      },
      "id": "fa1928d3-25fd-4894-a431-685e93e91e00",
      "name": "Merge & Validate Appointments - Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        112
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.appointmentsValid }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Valid"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.appointmentsValid }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Invalid"
            }
          ]
        },
        "options": {}
      },
      "id": "a8e6e8f3-32a0-45e2-ada4-a580e170dd0e",
      "name": "Appointments Check - Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -240,
        112
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "invoices",
        "limit": 1
      },
      "id": "4beedfd5-3b3c-42c6-a572-8d4809d51714",
      "name": "Get Latest Invoice - Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "pHAY0PSxRTkwJnPE",
          "name": "Testing Branch - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "  // FIN - Create Invoice - Generate Invoice Number\n  // Version: v2.1.0 - Fixed data passing\n\n  const items = $input.all();\n\n  // The first item(s) might be from Get Latest Invoice, or empty if no invoices exist\n  // We need to get request data from the node BEFORE Get Latest Invoice\n  // Use $('nodeName').first().json to reference data from earlier nodes\n\n  // Get request data from Appointments Check (passed through from Merge & Validate)\n  const mergeNode = $('Merge & Validate Appointments - Code').first().json;\n\n  const knumber = mergeNode.knumber;\n  const appointmentIds = mergeNode.appointmentIds;\n  const appointmentCount = mergeNode.appointmentCount;\n  const invoiceDate = mergeNode.invoiceDate;\n  const notes = mergeNode.notes;\n  const subtotal = parseFloat(mergeNode.subtotal || 0);\n\n  // Get latest invoice number from current input\n  let nextNumber = 1;\n  const latestInvoice = items[0]?.json;\n\n  if (latestInvoice && latestInvoice.invoice_number) {\n    // Parse current number (format: INV-0001)\n    const currentNumber = latestInvoice.invoice_number;\n    const numPart = currentNumber.replace('INV-', '');\n    nextNumber = parseInt(numPart, 10) + 1;\n  }\n\n  // Format as INV-0001, INV-0002, etc.\n  const invoiceNumber = 'INV-' + String(nextNumber).padStart(4, '0');\n\n  // Calculate totals\n  const taxRate = 0.14;\n  const tax = subtotal * taxRate;\n  const total = subtotal + tax;\n\n  return [{\n    json: {\n      invoice_number: invoiceNumber,\n      knumber: knumber,\n      invoice_status: 'created',\n      invoice_date: invoiceDate,\n      invoice_subtotal: subtotal.toFixed(2),\n      invoice_tax: tax.toFixed(2),\n      invoice_total: total.toFixed(2),\n      notes: notes || '',\n      qbo_sync_status: 'pending',\n      appointmentIds: appointmentIds,\n      appointmentCount: appointmentCount,\n      timestamp: new Date().toISOString()\n    }\n  }];"
      },
      "id": "c292619d-211a-4ed9-9e0e-b36cfd66f976",
      "name": "Generate Invoice Number - Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "tableId": "invoices",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "invoice_number",
              "fieldValue": "={{ $json.invoice_number }}"
            },
            {
              "fieldId": "knumber",
              "fieldValue": "={{ $json.knumber }}"
            },
            {
              "fieldId": "invoice_status",
              "fieldValue": "={{ $json.invoice_status }}"
            },
            {
              "fieldId": "invoice_date",
              "fieldValue": "={{ $json.invoice_date }}"
            },
            {
              "fieldId": "invoice_subtotal",
              "fieldValue": "={{ $json.invoice_subtotal }}"
            },
            {
              "fieldId": "invoice_tax",
              "fieldValue": "={{ $json.invoice_tax }}"
            },
            {
              "fieldId": "invoice_total",
              "fieldValue": "={{ $json.invoice_total }}"
            },
            {
              "fieldId": "notes",
              "fieldValue": "={{ $json.notes }}"
            },
            {
              "fieldId": "qbo_sync_status",
              "fieldValue": "={{ $json.qbo_sync_status }}"
            }
          ]
        }
      },
      "id": "a33380ba-5d35-4881-8e69-d076a8ca3e21",
      "name": "Insert Invoice - Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        480,
        0
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "pHAY0PSxRTkwJnPE",
          "name": "Testing Branch - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "  // FIN - Create Invoice - Prepare Appointment Updates\n  // Version: v2.1.0 - Get appointmentIds from earlier node\n\n  const invoiceData = $input.first().json;\n  const invoiceId = invoiceData.id;\n\n  // Get appointmentIds from Generate Invoice Number node since Supabase doesn't return them\n  const genNode = $('Generate Invoice Number - Code').first().json;\n  const appointmentIds = genNode.appointmentIds || [];\n\n  return appointmentIds.map(aptId => ({\n    json: {\n      appointmentId: aptId,\n      invoice_id: invoiceId,\n      invoice_status: 'created',\n      invoice: invoiceData\n    }\n  }));"
      },
      "id": "0b88fb28-90a8-407a-9b79-97c58524805a",
      "name": "Prepare Appointment Updates - Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        0
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "appointments",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.appointmentId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "invoice_id",
              "fieldValue": "={{ $json.invoice_id }}"
            },
            {
              "fieldId": "invoice_status",
              "fieldValue": "={{ $json.invoice_status }}"
            }
          ]
        }
      },
      "id": "dd0fd7ea-a5b0-4397-bd81-90ad7da229f3",
      "name": "Update Appointments - Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        960,
        0
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "pHAY0PSxRTkwJnPE",
          "name": "Testing Branch - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": " // FIN - Create Invoice - Success Response\n  // Version: v2.1.0 - Fixed data references\n\n  const items = $input.all();\n\n  // Get invoice data from Insert Invoice node\n  const insertNode = $('Insert Invoice - Supabase').first().json;\n\n  // Get additional data from Generate Invoice Number node\n  const genNode = $('Generate Invoice Number - Code').first().json;\n\n  return [{\n    json: {\n      success: true,\n      message: 'Invoice created successfully',\n      data: {\n        invoice: {\n          id: insertNode.id,\n          invoiceNumber: insertNode.invoice_number,\n          knumber: insertNode.knumber,\n          invoiceStatus: insertNode.invoice_status,\n          invoiceDate: insertNode.invoice_date,\n          invoiceSubtotal: parseFloat(insertNode.invoice_subtotal),\n          invoiceTax: parseFloat(insertNode.invoice_tax),\n          invoiceTotal: parseFloat(insertNode.invoice_total),\n          appointmentCount: genNode.appointmentCount || items.length,\n          qboSyncStatus: insertNode.qbo_sync_status,\n          notes: insertNode.notes || ''\n        }\n      },\n      timestamp: new Date().toISOString()\n    }\n  }];"
      },
      "id": "1ccdf794-246d-49c8-a12e-c3a5afc52483",
      "name": "Success Response - Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// FIN - Create Invoice - Validation Error Response\n\nconst errorData = $input.first().json;\nreturn [{ json: { success: false, message: 'Validation failed', errors: errorData.errors || [], statusCode: 400, timestamp: new Date().toISOString() } }];"
      },
      "id": "6a612836-0a3a-4b29-8f5b-3e91fa7a10fc",
      "name": "Validation Error Response - Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        336
      ]
    },
    {
      "parameters": {
        "jsCode": "// FIN - Create Invoice - Appointments Error Response\n\nconst errorData = $input.first().json;\nreturn [{ json: { success: false, message: 'Appointment validation failed', errors: errorData.errors || [], statusCode: 400, timestamp: new Date().toISOString() } }];"
      },
      "id": "8288ffe9-9986-4b07-9541-62d378d3f461",
      "name": "Appointments Error Response - Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "// FIN - Create Invoice - JWT Error Response\n\nconst errorData = $input.first().json;\nreturn [{ json: { success: false, message: 'Authentication failed', error: errorData.error || 'Invalid token', statusCode: errorData.statusCode || 401, timestamp: new Date().toISOString() } }];"
      },
      "id": "18a433f8-7787-47df-b106-5b3fa97c5657",
      "name": "JWT Error Response - Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        480
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9d353622-abb2-4186-a452-46b99db873d5",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1680,
        640
      ]
    }
  ],
  "pinData": {
    "POST Create Invoice - Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook-processor-production-3bb8.up.railway.app",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36",
            "content-length": "118",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "authorization": "Bearer REPLACE_WITH_VALID_TOKEN",
            "content-type": "application/json",
            "origin": "null",
            "priority": "u=1, i",
            "sec-ch-ua": "\"Google Chrome\";v=\"143\", \"Chromium\";v=\"143\", \"Not A(Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "134.41.46.208",
            "x-forwarded-host": "webhook-processor-production-3bb8.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-edge": "railway/us-east4-eqdc4a",
            "x-railway-request-id": "853EwL8WSx6yeEMUBT7zVQ",
            "x-real-ip": "134.41.46.208",
            "x-request-start": "1765925103514",
            "x-requested-with": "XMLHttpRequest"
          },
          "params": {},
          "query": {},
          "body": {
            "knumber": "K0000001",
            "appointmentIds": [
              "03f76e4b-f244-49c2-9622-6f95b5a71a09"
            ],
            "invoiceDate": "2025-12-16",
            "notes": ""
          },
          "webhookUrl": "https://webhook-processor-production-3bb8.up.railway.app/webhook/TEST-create-invoice",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "POST Create Invoice - Webhook": {
      "main": [
        [
          {
            "node": "JWT Validation - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT Validation - Code": {
      "main": [
        [
          {
            "node": "JWT Check - Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT Check - Switch": {
      "main": [
        [
          {
            "node": "Validate Input - Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "JWT Error Response - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input - Code": {
      "main": [
        [
          {
            "node": "Validation Check - Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Check - Switch": {
      "main": [
        [
          {
            "node": "Get Appointment - Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validation Error Response - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Appointment - Supabase": {
      "main": [
        [
          {
            "node": "Merge & Validate Appointments - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge & Validate Appointments - Code": {
      "main": [
        [
          {
            "node": "Appointments Check - Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Appointments Check - Switch": {
      "main": [
        [
          {
            "node": "Get Latest Invoice - Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Appointments Error Response - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Latest Invoice - Supabase": {
      "main": [
        [
          {
            "node": "Generate Invoice Number - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Invoice Number - Code": {
      "main": [
        [
          {
            "node": "Insert Invoice - Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Invoice - Supabase": {
      "main": [
        [
          {
            "node": "Prepare Appointment Updates - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Appointment Updates - Code": {
      "main": [
        [
          {
            "node": "Update Appointments - Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Appointments - Supabase": {
      "main": [
        [
          {
            "node": "Success Response - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Response - Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Error Response - Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Appointments Error Response - Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT Error Response - Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0445406e-d64a-46c6-80a7-3dca44e3821f",
  "meta": {
    "instanceId": "62fe1973b06b53c2a918f891d003328ecd43cc9389e3ac0f24384782e956f6ca"
  },
  "id": "xHEWjvb2npclcMHX",
  "tags": [
    {
      "updatedAt": "2025-11-09T06:39:14.892Z",
      "createdAt": "2025-11-09T06:39:14.892Z",
      "id": "Q4i8xQtE7UtuEFhO",
      "name": "Finance"
    },
    {
      "updatedAt": "2025-11-09T06:39:14.842Z",
      "createdAt": "2025-11-09T06:39:14.842Z",
      "id": "oCkAyP5U0C49SJQC",
      "name": "Invoice"
    },
    {
      "updatedAt": "2025-11-09T06:15:47.425Z",
      "createdAt": "2025-11-09T06:15:47.425Z",
      "id": "tZpzEwpoeg8SrGGa",
      "name": "TEST"
    },
    {
      "updatedAt": "2025-11-02T20:39:22.246Z",
      "createdAt": "2025-11-02T20:39:22.246Z",
      "id": "Gm2wdYiA4AnCKH8r",
      "name": "with JWT"
    }
  ]
}