developing/TEST Workflow Copies/TEST - OPS - Get Driver Clinic Assignments.json
{
  "name": "TEST - OPS - Get Driver Clinic Assignments",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "TEST-get-driver-clinic-assignments",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "id": "webhook-get-dca",
      "name": "GET Driver Clinic Assignments - Webhook",
      "webhookId": "ops-get-dca"
    },
    {
      "parameters": {
        "jsCode": "// JWT Token Validation - v1.0.0\n// Operations endpoints require admin/supervisor role\n\nconst webhookData = $input.first().json;\nconst authHeader = webhookData.headers?.authorization || webhookData.headers?.Authorization;\n\nif (!authHeader) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Missing authorization header',\n      statusCode: 401,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nif (!authHeader.startsWith('Bearer ')) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Invalid authorization format',\n      statusCode: 401,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nconst token = authHeader.substring(7);\n\nfunction simpleHash(input) {\n  let hash = 0;\n  for (let i = 0; i < input.length; i++) {\n    const char = input.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash;\n  }\n  return hash.toString(36);\n}\n\nconst JWT_SECRET = \"***REMOVED***\";\n\nfunction verifyJWT(token) {\n  try {\n    const parts = token.split('.');\n    if (parts.length !== 3) {\n      return { valid: false, error: 'Invalid token format' };\n    }\n\n    const [encodedHeader, encodedPayload, receivedSignature] = parts;\n    const dataToSign = `${encodedHeader}.${encodedPayload}.${JWT_SECRET}`;\n    const expectedSignature = simpleHash(dataToSign);\n\n    if (receivedSignature !== expectedSignature) {\n      return { valid: false, error: 'Invalid token signature' };\n    }\n\n    const payload = JSON.parse(atob(encodedPayload));\n    const now = Math.floor(Date.now() / 1000);\n    if (payload.exp && payload.exp < now) {\n      return { valid: false, error: 'Token expired' };\n    }\n\n    return { valid: true, payload: payload };\n\n  } catch (error) {\n    return { valid: false, error: 'Token verification failed' };\n  }\n}\n\nconst validation = verifyJWT(token);\n\nif (!validation.valid) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: validation.error || 'Invalid token',\n      statusCode: 401,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nconst payload = validation.payload;\n\nif (payload.type === 'limited' || payload.type === 'refresh') {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'This operation requires full authentication',\n      statusCode: 403,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Role check - admin and supervisor only\nconst allowedRoles = ['admin', 'supervisor'];\nif (!allowedRoles.includes(payload.role)) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Access denied. Requires admin or supervisor role.',\n      statusCode: 403,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    _route: 'authorized',\n    user: {\n      id: payload.userId,\n      username: payload.sub,\n      role: payload.role,\n      fullName: payload.fullName\n    },\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300],
      "id": "jwt-validation",
      "name": "JWT Validation - Code"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "authorized",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Authorized"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "unauthorized",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Unauthorized"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [440, 300],
      "id": "jwt-switch",
      "name": "JWT Validation - Switch"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "driver_clinic_assignments",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [660, 200],
      "id": "get-assignments",
      "name": "Get Assignments - Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "your-credential-id",
          "name": "Supabase Testing"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "drivers",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [660, 400],
      "id": "get-drivers",
      "name": "Get Drivers - Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "your-credential-id",
          "name": "Supabase Testing"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "destinations",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [660, 600],
      "id": "get-clinics",
      "name": "Get Clinics - Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "your-credential-id",
          "name": "Supabase Testing"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [880, 300],
      "id": "merge-all",
      "name": "Merge All - Merge"
    },
    {
      "parameters": {
        "jsCode": "// Enrich Assignments with Names - v1.0.0\n// Test DB uses 'destinations' table with 'name' column\n\nconst allItems = $input.all().map(item => item.json);\n\n// Separate data by table structure\n// Assignments have driver_id + clinic_id + is_primary\nconst assignments = allItems.filter(item =>\n  item.driver_id !== undefined && item.clinic_id !== undefined && item.is_primary !== undefined\n);\n\n// Drivers have driver_name column\nconst drivers = allItems.filter(item =>\n  item.driver_name !== undefined && !item.clinic_id\n);\n\n// Clinics (destinations) have 'name' column and address\nconst clinics = allItems.filter(item =>\n  item.name !== undefined && item.address !== undefined && !item.driver_name\n);\n\n// Build lookup maps\nconst driverMap = new Map(drivers.map(d => [d.id, d]));\nconst clinicMap = new Map(clinics.map(c => [c.id, c]));\n\n// Enrich assignments with names\nconst enrichedAssignments = assignments.map(a => {\n  const driver = driverMap.get(a.driver_id);\n  const clinic = clinicMap.get(a.clinic_id);\n\n  return {\n    id: a.id,\n    driver_id: a.driver_id,\n    driver_name: driver ? driver.driver_name : 'Unknown Driver',\n    clinic_id: a.clinic_id,\n    clinic_name: clinic ? clinic.name : 'Unknown Clinic',\n    is_primary: a.is_primary,\n    notes: a.notes,\n    created_at: a.created_at\n  };\n});\n\nreturn [{\n  json: {\n    success: true,\n    data: {\n      assignments: enrichedAssignments,\n      drivers: drivers.map(d => ({ id: d.id, name: d.driver_name })),\n      clinics: clinics.map(c => ({ id: c.id, name: c.name }))\n    },\n    counts: {\n      assignments: enrichedAssignments.length,\n      drivers: drivers.length,\n      clinics: clinics.length\n    },\n    message: 'Driver clinic assignments loaded',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300],
      "id": "enrich-assignments",
      "name": "Enrich Assignments - Code"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1320, 300],
      "id": "respond-success",
      "name": "Success Response - Respond"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.statusCode || 401 }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [660, 800],
      "id": "respond-error",
      "name": "Error Response - Respond"
    }
  ],
  "connections": {
    "GET Driver Clinic Assignments - Webhook": {
      "main": [
        [
          {
            "node": "JWT Validation - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT Validation - Code": {
      "main": [
        [
          {
            "node": "JWT Validation - Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT Validation - Switch": {
      "main": [
        [
          {
            "node": "Get Assignments - Supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Drivers - Supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Clinics - Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response - Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Assignments - Supabase": {
      "main": [
        [
          {
            "node": "Merge All - Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Drivers - Supabase": {
      "main": [
        [
          {
            "node": "Merge All - Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Clinics - Supabase": {
      "main": [
        [
          {
            "node": "Merge All - Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge All - Merge": {
      "main": [
        [
          {
            "node": "Enrich Assignments - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Assignments - Code": {
      "main": [
        [
          {
            "node": "Success Response - Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-17T00:00:00.000Z",
  "versionId": "1"
}
