developing/TEST Workflow Copies/TEST - CLINIC - Get Clinic Locations copy (1).json
{
  "name": "TEST - CLINIC - Get Clinic Locations copy",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1312,
        192
      ],
      "id": "ae221140-3d0c-4252-864c-8d232a6cd55e",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// RRTS - Get Clinic Locations - Format Response\n// Formats destinations data for the frontend dropdown\n// v1.1.0 - Optimized logging to reduce volume\n\n// Get the destinations data from the Supabase query\nconst destinationsResult = $input.all();\n\n// Process destinations into the required format for frontend\nconst destinations = [];\n\ndestinationsResult.forEach((item) => {\n    const destination = item.json;\n    \n    if (destination && destination.name && destination.address) {\n        destinations.push({\n            id: destination.id,\n            name: destination.name,\n            address: destination.address,\n            city: destination.city || '',\n            province: destination.province || 'NS',\n            postalCode: destination.postal_code || '', \n            phone: destination.phone || '',\n            notes: destination.notes || ''\n        });\n    }\n});\n\n// Sort destinations alphabetically by name for consistent dropdown ordering\ndestinations.sort((a, b) => a.name.localeCompare(b.name));\n\n// Log only summary (not individual items)\nif (destinations.length === 0) {\n    console.log('⚠️ No clinic locations found');\n}\n\n// Return formatted response\nreturn [{\n    json: {\n        success: true,\n        destinations: destinations,\n        count: destinations.length,\n        message: `Successfully retrieved ${destinations.length} clinic locations`,\n        timestamp: new Date().toISOString()\n    }\n}];\n\n// Version: v1.1.0 - Reduced logging volume for Railway compatibility"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        -128
      ],
      "id": "2d7394d1-3690-4919-80f3-dfb43fd2699b",
      "name": "Format Response - Code"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "destinations",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        656,
        -128
      ],
      "id": "ae37d7e6-82b0-423f-bf9e-c6311eb4f99d",
      "name": "Get Clinic Locations - Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "pHAY0PSxRTkwJnPE",
          "name": "Testing Branch - Supabase"
        }
      }
    },
    {
      "parameters": {
        "path": "TEST-clinic-locations",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "6b16281b-23ac-49c7-800f-798ba607f641",
      "name": "GET ClinicLocations - Webhook",
      "webhookId": "2930f945-9041-401f-9b04-be624a19c396"
    },
    {
      "parameters": {
        "jsCode": "// JWT Token Validation for Backend Workflows\n// Version: v1.0.0\n// Use this code node at the start of any protected workflow\n\n// Get webhook input data\nconst webhookData = $input.first().json;\n\n// Extract Authorization header\nconst authHeader = webhookData.headers?.authorization || webhookData.headers?.Authorization;\n\nif (!authHeader) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Missing authorization header',\n      statusCode: 401,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Check Bearer token format\nif (!authHeader.startsWith('Bearer ')) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Invalid authorization format. Expected \"Bearer {token}\"',\n      statusCode: 401,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Extract token\nconst token = authHeader.substring(7); // Remove \"Bearer \" prefix\n\n// JWT validation functions (matching generation code)\nfunction simpleHash(input) {\n  let hash = 0;\n  for (let i = 0; i < input.length; i++) {\n    const char = input.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash;\n  }\n  return hash.toString(36);\n}\n\nconst JWT_SECRET = \"REPLACE_WITH_ENV_VAR_JWT_SECRET\";\n\nfunction verifyJWT(token) {\n  try {\n    const parts = token.split('.');\n    if (parts.length !== 3) {\n      return { valid: false, error: 'Invalid token format' };\n    }\n\n    const [encodedHeader, encodedPayload, receivedSignature] = parts;\n\n    // Verify signature\n    const dataToSign = `${encodedHeader}.${encodedPayload}.${JWT_SECRET}`;\n    const expectedSignature = simpleHash(dataToSign);\n\n    if (receivedSignature !== expectedSignature) {\n      return { valid: false, error: 'Invalid token signature' };\n    }\n\n    // Decode payload\n    const payload = JSON.parse(atob(encodedPayload));\n\n    // Check expiration\n    const now = Math.floor(Date.now() / 1000);\n    if (payload.exp && payload.exp < now) {\n      return { valid: false, error: 'Token expired' };\n    }\n\n    return { valid: true, payload: payload };\n\n  } catch (error) {\n    return { valid: false, error: 'Token verification failed: ' + error.message };\n  }\n}\n\n// Validate the token\nconst validation = verifyJWT(token);\n\nif (!validation.valid) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: validation.error || 'Invalid token',\n      statusCode: 401,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nconst payload = validation.payload;\n\n// Check token type (reject LIMITED tokens unless specifically allowed)\n// Note: Individual workflows can override this by setting allowLimitedToken in webhook body\nconst allowLimitedToken = webhookData.body?.allowLimitedToken || false;\n\nif (payload.type === 'limited' && !allowLimitedToken) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'This operation requires full authentication. Please complete password change.',\n      statusCode: 403,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Check if refresh token is being used for non-refresh operations\nif (payload.type === 'refresh') {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Refresh tokens cannot be used for this operation',\n      statusCode: 403,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Token is valid - return user info and original request body\nreturn [{\n  json: {\n    _route: 'authorized',\n    authenticated: true,\n    user: {\n      username: payload.sub,\n      role: payload.role,\n      tokenType: payload.type,\n      permissions: payload.permissions || []\n    },\n    requestBody: webhookData.body,\n    timestamp: new Date().toISOString()\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "ea30e338-4d78-4265-a43f-91ea7e14353d",
      "name": "JWT Validation - Code"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "authorized",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c2af0428-29f0-47cd-b276-a06f8c137972"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Authorized"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3c6ef104-7a27-4ab2-9e65-b71233cea40a",
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "unauthorized",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Unauthorized"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        416,
        0
      ],
      "id": "46df178d-a644-45a1-bf88-60b6a026d14c",
      "name": "JWT Validation - Switch"
    },
    {
      "parameters": {
        "jsCode": "  // Format Unauthorized Error Response - Simple Version\n  // Version: v1.0.0\n\n  const errorData = $input.first().json;\n\n  // Return standardized error format\n  return [{\n    json: {\n      success: false,\n      error: {\n        message: errorData.message || 'Unauthorized access',\n        statusCode: errorData.statusCode || 401\n      },\n      timestamp: errorData.timestamp || new Date().toISOString()\n    }\n  }]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        80
      ],
      "id": "5e22f5f0-36d1-4a25-a0ea-eb8a2c05c83c",
      "name": "Unauthorized Response - Code"
    }
  ],
  "pinData": {},
  "connections": {
    "Format Response - Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Clinic Locations - Supabase": {
      "main": [
        [
          {
            "node": "Format Response - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET ClinicLocations - Webhook": {
      "main": [
        [
          {
            "node": "JWT Validation - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT Validation - Code": {
      "main": [
        [
          {
            "node": "JWT Validation - Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT Validation - Switch": {
      "main": [
        [
          {
            "node": "Get Clinic Locations - Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized Response - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unauthorized Response - Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fda9d0d6-c5d1-4bb7-92b1-245485fb7af9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "62fe1973b06b53c2a918f891d003328ecd43cc9389e3ac0f24384782e956f6ca"
  },
  "id": "1Ni5jbbyur4uFDS2",
  "tags": [
    {
      "updatedAt": "2025-10-30T17:13:23.662Z",
      "createdAt": "2025-10-30T17:13:23.662Z",
      "id": "6XS9liwmEsteNkRR",
      "name": "Add Appointments"
    },
    {
      "updatedAt": "2025-10-30T17:13:53.320Z",
      "createdAt": "2025-10-30T17:13:53.320Z",
      "id": "3od10wQiA1OAAozv",
      "name": "Appointment Management"
    },
    {
      "updatedAt": "2025-10-30T17:16:58.339Z",
      "createdAt": "2025-10-30T17:16:58.339Z",
      "id": "enR5cvAvdrM9M4km",
      "name": "Client Management"
    },
    {
      "updatedAt": "2025-11-02T20:39:22.246Z",
      "createdAt": "2025-11-02T20:39:22.246Z",
      "id": "Gm2wdYiA4AnCKH8r",
      "name": "with JWT"
    },
    {
      "updatedAt": "2025-11-09T06:15:47.425Z",
      "createdAt": "2025-11-09T06:15:47.425Z",
      "id": "tZpzEwpoeg8SrGGa",
      "name": "TEST"
    }
  ]
}