workflows/users/USER - Update User Profile.json
{
  "name": "USER - Update User Profile",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "update-user-profile",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "up200001-0001-4000-8000-000000000001",
      "name": "POST Update User Profile - Webhook",
      "webhookId": "up200001-0001-4000-8000-00000000000w"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "app_config",
        "filters": {
          "conditions": [
            {
              "keyName": "key",
              "keyValue": "jwt_secret"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [220, 0],
      "id": "up200001-0002-4000-8000-000000000002",
      "name": "Get JWT Secret - Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "PLACEHOLDER",
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Validate JWT & Extract Data - v3.0.0\n// Verifies JWT signature, rejects limited/refresh\n// Extracts username from sub, validates request body\n// Phone is accepted but only saved to drivers table\n\nconst webhookData = $('POST Update User Profile - Webhook').first().json;\nconst jwtSecret = $('Get JWT Secret - Supabase').first().json.value;\n\nconst headers = webhookData.headers || {};\nconst body = webhookData.body || {};\n\nconst authHeader = headers.authorization\n  || headers.Authorization || '';\n\nif (!authHeader || !authHeader.startsWith('Bearer ')) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Authentication required',\n      statusCode: 401\n    }\n  }];\n}\n\nconst token = authHeader.substring(7);\n\nfunction simpleHash(input) {\n  let hash = 0;\n  for (let i = 0; i < input.length; i++) {\n    const char = input.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash;\n  }\n  return hash.toString(36);\n}\n\nfunction verifyJWT(token, secret) {\n  try {\n    const parts = token.split('.');\n    if (parts.length !== 3) {\n      return { valid: false, error: 'Invalid token format' };\n    }\n    const [header, payload, signature] = parts;\n    const expected = simpleHash(\n      `${header}.${payload}.${secret}`\n    );\n    if (signature !== expected) {\n      return { valid: false, error: 'Invalid token signature' };\n    }\n    const decoded = JSON.parse(atob(payload));\n    const now = Math.floor(Date.now() / 1000);\n    if (decoded.exp && decoded.exp < now) {\n      return { valid: false, error: 'Token expired' };\n    }\n    return { valid: true, payload: decoded };\n  } catch (e) {\n    return { valid: false, error: 'Token verification failed' };\n  }\n}\n\nconst result = verifyJWT(token, jwtSecret);\n\nif (!result.valid) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: result.error || 'Invalid token',\n      statusCode: 401\n    }\n  }];\n}\n\nconst payload = result.payload;\n\nif (payload.type === 'limited') {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Full authentication required',\n      statusCode: 403\n    }\n  }];\n}\n\nif (payload.type === 'refresh') {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Refresh tokens cannot be used here',\n      statusCode: 403\n    }\n  }];\n}\n\nconst fullName = body.fullName;\nconst email = body.email;\nconst phone = body.phone;\n\nconst hasFullName = fullName !== undefined\n  && fullName !== null;\nconst hasEmail = email !== undefined\n  && email !== null;\nconst hasPhone = phone !== undefined\n  && phone !== null;\n\n// Require at least fullName or email (users table fields)\n// Phone alone is not enough (drivers table only)\nif (!hasFullName && !hasEmail && !hasPhone) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'At least one field required',\n      statusCode: 400\n    }\n  }];\n}\n\nif (hasEmail && email.trim() !== '') {\n  if (!email.includes('@') || !email.includes('.')) {\n    return [{\n      json: {\n        _route: 'unauthorized',\n        success: false,\n        message: 'Invalid email format',\n        statusCode: 400\n      }\n    }];\n  }\n}\n\nreturn [{\n  json: {\n    _route: 'authorized',\n    username: payload.sub,\n    fullName: hasFullName ? fullName.trim() : null,\n    email: hasEmail ? email.trim() : null,\n    phone: hasPhone ? phone.trim() : null,\n    hasFullName: hasFullName,\n    hasEmail: hasEmail,\n    hasPhone: hasPhone\n  }\n}];\n\n// v3.0.0 - Phone only saved to drivers table"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0],
      "id": "up200001-0003-4000-8000-000000000003",
      "name": "Validate JWT & Extract Data - Code"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "route-authorized",
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "authorized",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Authorized"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "route-unauthorized",
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "unauthorized",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Unauthorized"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [660, 0],
      "id": "up200001-0004-4000-8000-000000000004",
      "name": "Check Auth - Switch"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "username",
              "keyValue": "={{ $json.username }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [880, -120],
      "id": "up200001-0005-4000-8000-000000000005",
      "name": "Get User by Username - Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "PLACEHOLDER",
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build Update Fields - v3.0.0\n// Checks user exists, carries existing values for merge\n// Phone excluded from users table (drivers only)\n\nconst validatedData = $('Validate JWT & Extract Data - Code')\n  .first().json;\nconst userRecord = $input.first().json;\n\nif (!userRecord || !userRecord.id) {\n  return [{\n    json: {\n      _route: 'not_found',\n      success: false,\n      message: 'User not found',\n      statusCode: 404\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    _route: 'found',\n    userId: userRecord.id,\n    username: validatedData.username,\n    driverId: userRecord.driver_id || null,\n    fullName: validatedData.fullName,\n    email: validatedData.email,\n    phone: validatedData.phone,\n    hasFullName: validatedData.hasFullName,\n    hasEmail: validatedData.hasEmail,\n    hasPhone: validatedData.hasPhone,\n    existing: {\n      full_name: userRecord.full_name || null,\n      email: userRecord.email || null\n    }\n  }\n}];\n\n// v3.0.0 - Removed phone from existing (not on users table)"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, -120],
      "id": "up200001-0006-4000-8000-000000000006",
      "name": "Build Update Fields - Code"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "user-found",
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "found",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Found"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "user-not-found",
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "not_found",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Not Found"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1320, -120],
      "id": "up200001-0007-4000-8000-000000000007",
      "name": "Check User Found - Switch"
    },
    {
      "parameters": {
        "jsCode": "// Prepare Users Table Update - v3.0.0\n// Merges new values with existing; no phone on users\n\nconst data = $input.first().json;\nconst existing = data.existing || {};\n\nreturn [{\n  json: {\n    username: data.username,\n    driverId: data.driverId,\n    full_name: data.hasFullName\n      ? data.fullName : existing.full_name,\n    email: data.hasEmail\n      ? data.email : existing.email,\n    phone: data.phone,\n    hasPhone: data.hasPhone\n  }\n}];\n\n// v3.0.0 - Removed phone from users update, pass through for drivers"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, -240],
      "id": "up200001-0008-4000-8000-000000000008",
      "name": "Prepare Users Table Update - Code"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "username",
              "condition": "eq",
              "keyValue": "={{ $json.username }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "full_name",
              "fieldValue": "={{ $json.full_name }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $json.email }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1760, -240],
      "id": "up200001-0009-4000-8000-000000000009",
      "name": "Update Users Table - Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "PLACEHOLDER",
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Check Driver Link - v3.0.0\n// Determines if user has a linked driver record\n// Phone passed from request data (not on users table)\n\nconst prepData = $('Prepare Users Table Update - Code')\n  .first().json;\nconst updatedUser = $input.first().json;\n\nif (updatedUser.error) {\n  console.error('Users table update failed');\n  return [{\n    json: {\n      _route: 'error',\n      success: false,\n      message: 'Failed to update user profile',\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nconst driverId = prepData.driverId;\nconst hasDriver = driverId !== null\n  && driverId !== undefined;\n\nreturn [{\n  json: {\n    _route: hasDriver ? 'has_driver' : 'no_driver',\n    driverId: driverId,\n    phone: prepData.phone,\n    hasPhone: prepData.hasPhone,\n    updatedUser: {\n      full_name: updatedUser.full_name,\n      email: updatedUser.email\n    }\n  }\n}];\n\n// v3.0.0 - Phone from request, not users table"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, -240],
      "id": "up200001-0010-4000-8000-000000000010",
      "name": "Check Driver Link - Code"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "has-driver",
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "has_driver",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Has Driver"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "no-driver",
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "no_driver",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No Driver"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "db-error",
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "error",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Error"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [2200, -240],
      "id": "up200001-0011-4000-8000-000000000011",
      "name": "Check Has Driver - Switch"
    },
    {
      "parameters": {
        "jsCode": "// Prepare Driver Table Update - v3.0.0\n// Maps profile fields to driver columns\n// name/email from users update, phone from request\n\nconst data = $input.first().json;\nconst user = data.updatedUser;\n\nconst driverFields = {\n  driverId: data.driverId,\n  name: user.full_name,\n  email: user.email,\n  phone: data.hasPhone ? data.phone : null\n};\n\nif (user.full_name) {\n  const parts = user.full_name.split(' ');\n  driverFields.first_name = parts[0] || '';\n  driverFields.last_name =\n    parts.slice(1).join(' ') || '';\n} else {\n  driverFields.first_name = null;\n  driverFields.last_name = null;\n}\n\ndriverFields.updatedUser = {\n  full_name: user.full_name,\n  email: user.email,\n  phone: data.hasPhone ? data.phone : null\n};\n\nreturn [{ json: driverFields }];\n\n// v3.0.0 - Phone from request data, not users table"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2420, -360],
      "id": "up200001-0012-4000-8000-000000000012",
      "name": "Prepare Driver Table Update - Code"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "drivers",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.driverId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{ $json.name }}"
            },
            {
              "fieldId": "first_name",
              "fieldValue": "={{ $json.first_name }}"
            },
            {
              "fieldId": "last_name",
              "fieldValue": "={{ $json.last_name }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $json.email }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $json.phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2640, -360],
      "id": "up200001-0013-4000-8000-000000000013",
      "name": "Update Driver Table - Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "PLACEHOLDER",
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format Success (Driver Updated) - v3.0.0\n\nconst prepData = $('Prepare Driver Table Update - Code')\n  .first().json;\nconst driverResult = $input.first().json;\nconst userData = prepData.updatedUser;\n\nif (driverResult.error) {\n  console.error('Driver table update failed');\n}\n\nreturn [{\n  json: {\n    success: true,\n    message: 'Profile updated successfully',\n    data: {\n      full_name: userData.full_name,\n      email: userData.email,\n      phone: driverResult.phone || userData.phone\n    },\n    driver_updated: driverResult.error ? false : true,\n    timestamp: new Date().toISOString()\n  }\n}];\n\n// v3.0.0 - Phone from driver result"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2860, -360],
      "id": "up200001-0014-4000-8000-000000000014",
      "name": "Format Success (Driver Updated) - Code"
    },
    {
      "parameters": {
        "jsCode": "// Format Success (No Driver) - v3.0.0\n\nconst data = $input.first().json;\nconst userData = data.updatedUser;\n\nreturn [{\n  json: {\n    success: true,\n    message: 'Profile updated successfully',\n    data: {\n      full_name: userData.full_name,\n      email: userData.email\n    },\n    driver_updated: false,\n    timestamp: new Date().toISOString()\n  }\n}];\n\n// v3.0.0 - No phone for non-driver users"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2420, -120],
      "id": "up200001-0015-4000-8000-000000000015",
      "name": "Format Success (No Driver) - Code"
    },
    {
      "parameters": {
        "jsCode": "// Format Auth/Validation Error - v2.0.0\nconst errorData = $input.first().json;\n\nreturn [{\n  json: {\n    success: false,\n    message: errorData.message || 'Unauthorized',\n    timestamp: new Date().toISOString()\n  }\n}];\n\n// v2.0.0 - Auth error formatting"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 120],
      "id": "up200001-0016-4000-8000-000000000016",
      "name": "Format Auth Error - Code"
    },
    {
      "parameters": {
        "jsCode": "// Format Not Found Error - v2.0.0\nconst errorData = $input.first().json;\n\nreturn [{\n  json: {\n    success: false,\n    message: errorData.message || 'User not found',\n    timestamp: new Date().toISOString()\n  }\n}];\n\n// v2.0.0 - User not found error formatting"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 0],
      "id": "up200001-0017-4000-8000-000000000017",
      "name": "Format Not Found Error - Code"
    },
    {
      "parameters": {
        "jsCode": "// Format DB Error - v2.0.0\nconst errorData = $input.first().json;\n\nreturn [{\n  json: {\n    success: false,\n    message: errorData.message || 'Database error',\n    timestamp: new Date().toISOString()\n  }\n}];\n\n// v2.0.0 - Database error formatting"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2420, -10],
      "id": "up200001-0018-4000-8000-000000000018",
      "name": "Format DB Error - Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [3080, 0],
      "id": "up200001-0019-4000-8000-000000000019",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "POST Update User Profile - Webhook": {
      "main": [
        [
          {
            "node": "Get JWT Secret - Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get JWT Secret - Supabase": {
      "main": [
        [
          {
            "node": "Validate JWT & Extract Data - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate JWT & Extract Data - Code": {
      "main": [
        [
          {
            "node": "Check Auth - Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Auth - Switch": {
      "main": [
        [
          {
            "node": "Get User by Username - Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Auth Error - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User by Username - Supabase": {
      "main": [
        [
          {
            "node": "Build Update Fields - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Update Fields - Code": {
      "main": [
        [
          {
            "node": "Check User Found - Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check User Found - Switch": {
      "main": [
        [
          {
            "node": "Prepare Users Table Update - Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Not Found Error - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Users Table Update - Code": {
      "main": [
        [
          {
            "node": "Update Users Table - Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Users Table - Supabase": {
      "main": [
        [
          {
            "node": "Check Driver Link - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Driver Link - Code": {
      "main": [
        [
          {
            "node": "Check Has Driver - Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Has Driver - Switch": {
      "main": [
        [
          {
            "node": "Prepare Driver Table Update - Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Success (No Driver) - Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format DB Error - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Driver Table Update - Code": {
      "main": [
        [
          {
            "node": "Update Driver Table - Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Driver Table - Supabase": {
      "main": [
        [
          {
            "node": "Format Success (Driver Updated) - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success (Driver Updated) - Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success (No Driver) - Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Auth Error - Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Not Found Error - Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format DB Error - Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "user-update-profile-v3.0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "rrts-user-management"
  },
  "tags": [
    {
      "name": "User Management"
    },
    {
      "name": "with JWT"
    }
  ]
}