workflows/destinations/DEST - Update Destination.json
{
  "name": "DEST - Update Destination",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "PUT",
        "path": "update-destination",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "dest-upd-0001-4000-8000-000000000001",
      "name": "PUT Update Destination - Webhook",
      "webhookId": "dest-upd-0001-4000-8000-00000000000w"
    },
    {
      "parameters": {
        "jsCode": "// JWT Token Validation - v1.0.0\nconst webhookData = $input.first().json;\n\nconst authHeader =\n  webhookData.headers?.authorization ||\n  webhookData.headers?.Authorization;\n\nif (!authHeader) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Missing authorization header',\n      statusCode: 401,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nif (!authHeader.startsWith('Bearer ')) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Invalid authorization format',\n      statusCode: 401,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nconst token = authHeader.substring(7);\n\nfunction simpleHash(input) {\n  let hash = 0;\n  for (let i = 0; i < input.length; i++) {\n    const char = input.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash;\n  }\n  return hash.toString(36);\n}\n\nconst JWT_SECRET = \"RRTS_JWT_SECRET_KEY_PHASE2_TEMP\";\n\nfunction verifyJWT(token) {\n  try {\n    const parts = token.split('.');\n    if (parts.length !== 3) {\n      return { valid: false, error: 'Invalid token format' };\n    }\n\n    const [header, payload, sig] = parts;\n    const dataToSign = `${header}.${payload}.${JWT_SECRET}`;\n    const expectedSig = simpleHash(dataToSign);\n\n    if (sig !== expectedSig) {\n      return { valid: false, error: 'Invalid token signature' };\n    }\n\n    const decoded = JSON.parse(atob(payload));\n    const now = Math.floor(Date.now() / 1000);\n    if (decoded.exp && decoded.exp < now) {\n      return { valid: false, error: 'Token expired' };\n    }\n\n    return { valid: true, payload: decoded };\n  } catch (error) {\n    return {\n      valid: false,\n      error: 'Token verification failed'\n    };\n  }\n}\n\nconst validation = verifyJWT(token);\n\nif (!validation.valid) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: validation.error || 'Invalid token',\n      statusCode: 401,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nconst payload = validation.payload;\n\nif (payload.type === 'limited') {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Full authentication required',\n      statusCode: 403,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nif (payload.type === 'refresh') {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Refresh tokens cannot be used here',\n      statusCode: 403,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// RBAC: Only admin and supervisor can manage destinations\nconst allowedRoles = ['admin', 'supervisor'];\nif (!allowedRoles.includes(payload.role)) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Insufficient permissions',\n      statusCode: 403,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    _route: 'authorized',\n    authenticated: true,\n    user: {\n      username: payload.sub,\n      role: payload.role,\n      tokenType: payload.type\n    },\n    requestBody: webhookData.body,\n    timestamp: new Date().toISOString()\n  }\n}];\n\n// Version: v1.1.0 - JWT validation with RBAC role check"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "id": "dest-upd-0002-4000-8000-000000000002",
      "name": "JWT Validation - Code"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "authorized",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "dest-upd-route-auth"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Authorized"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "unauthorized",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    },
                    "id": "dest-upd-route-unauth"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Unauthorized"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [440, 0],
      "id": "dest-upd-0003-4000-8000-000000000003",
      "name": "JWT Validation - Switch"
    },
    {
      "parameters": {
        "jsCode": "// Validate Update Data - v1.0.0\nconst data = $json.requestBody || {};\n\nconst errors = [];\n\n// id is required for update\nif (!data.id && data.id !== 0) {\n  errors.push('Destination id is required');\n}\n\nconst destinationId = parseInt(data.id);\nif (isNaN(destinationId) || destinationId <= 0) {\n  errors.push('Destination id must be a positive integer');\n}\n\n// Email format validation (if provided)\nif (data.email !== undefined\n    && data.email !== null\n    && data.email !== '') {\n  if (!data.email.includes('@')) {\n    errors.push('Invalid email format');\n  }\n}\n\n// Contacts JSONB validation (if provided)\nlet parsedContacts = undefined;\nif (data.contacts !== undefined) {\n  if (data.contacts === null) {\n    parsedContacts = [];\n  } else if (typeof data.contacts === 'string') {\n    try {\n      parsedContacts = JSON.parse(data.contacts);\n    } catch (e) {\n      errors.push('Contacts must be valid JSON');\n    }\n  } else {\n    parsedContacts = data.contacts;\n  }\n\n  if (parsedContacts !== undefined\n      && !Array.isArray(parsedContacts)) {\n    errors.push('Contacts must be an array');\n  }\n}\n\nif (errors.length > 0) {\n  return [{\n    json: {\n      success: 'false',\n      errors: errors,\n      message: 'Validation failed: ' + errors.join(', '),\n      skipSupabase: true\n    }\n  }];\n}\n\n// Build update object with only provided fields\nconst updateFields = {};\n\nif (data.name !== undefined) {\n  updateFields.name = data.name ? data.name.trim() : '';\n}\nif (data.address !== undefined) {\n  updateFields.address = data.address ? data.address.trim() : '';\n}\nif (data.city !== undefined) {\n  updateFields.city = data.city ? data.city.trim() : '';\n}\nif (data.province !== undefined) {\n  updateFields.province = data.province\n    ? data.province.trim().toUpperCase()\n    : '';\n}\nif (data.postal_code !== undefined) {\n  updateFields.postal_code = data.postal_code\n    ? data.postal_code.trim().toUpperCase()\n    : '';\n}\nif (data.phone !== undefined) {\n  updateFields.phone = data.phone ? data.phone.trim() : null;\n}\nif (data.email !== undefined) {\n  updateFields.email = data.email\n    ? data.email.trim().toLowerCase()\n    : null;\n}\nif (parsedContacts !== undefined) {\n  updateFields.contacts = parsedContacts;\n}\nif (data.notes !== undefined) {\n  updateFields.notes = data.notes ? data.notes.trim() : null;\n}\nif (data.map_coordinates !== undefined) {\n  updateFields.map_coordinates = data.map_coordinates || null;\n}\nif (data.active !== undefined) {\n  updateFields.active = data.active;\n}\n\n// Backward compat: auto-extract first contact's phone/email into top-level fields\n// if contacts are being updated and phone/email weren't explicitly provided\nif (parsedContacts !== undefined && parsedContacts.length > 0) {\n  if (updateFields.phone === undefined && parsedContacts[0].phone) {\n    updateFields.phone = parsedContacts[0].phone.trim();\n  }\n  if (updateFields.email === undefined && parsedContacts[0].email) {\n    updateFields.email = parsedContacts[0].email.trim().toLowerCase();\n  }\n}\n\n// Always set updated_at\nupdateFields.updated_at = new Date().toISOString();\n\n// Check at least one field to update (besides updated_at)\nconst fieldCount = Object.keys(updateFields).length;\nif (fieldCount <= 1) {\n  return [{\n    json: {\n      success: 'false',\n      errors: ['No fields provided to update'],\n      message: 'No fields provided to update',\n      skipSupabase: true\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: 'true',\n    destinationId: destinationId,\n    updateFields: updateFields\n  }\n}];\n\n// Version: v1.1.0 - Validate, dynamic update, backward-compat phone/email"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, -120],
      "id": "dest-upd-0004-4000-8000-000000000004",
      "name": "Validate Update Data - Code"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.success }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "dest-upd-valid-true"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "True"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.success }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    },
                    "id": "dest-upd-valid-false"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "False"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [880, -120],
      "id": "dest-upd-0005-4000-8000-000000000005",
      "name": "Check Validation - Switch"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "destinations",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.destinationId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{ $json.updateFields.name }}"
            },
            {
              "fieldId": "address",
              "fieldValue": "={{ $json.updateFields.address }}"
            },
            {
              "fieldId": "city",
              "fieldValue": "={{ $json.updateFields.city }}"
            },
            {
              "fieldId": "province",
              "fieldValue": "={{ $json.updateFields.province }}"
            },
            {
              "fieldId": "postal_code",
              "fieldValue": "={{ $json.updateFields.postal_code }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $json.updateFields.phone }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $json.updateFields.email }}"
            },
            {
              "fieldId": "contacts",
              "fieldValue": "={{ JSON.stringify($json.updateFields.contacts) }}"
            },
            {
              "fieldId": "notes",
              "fieldValue": "={{ $json.updateFields.notes }}"
            },
            {
              "fieldId": "map_coordinates",
              "fieldValue": "={{ $json.updateFields.map_coordinates }}"
            },
            {
              "fieldId": "active",
              "fieldValue": "={{ $json.updateFields.active }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $json.updateFields.updated_at }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1100, -240],
      "id": "dest-upd-0006-4000-8000-000000000006",
      "name": "Update Destination - Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "SEqiOYHTdU9Hm0pI",
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format Success Response - v1.0.0\nconst result = $input.first().json;\n\nif (result.error) {\n  console.error('Database error:', result.error);\n  return [{\n    json: {\n      success: false,\n      message: 'Failed to update destination',\n      error: result.error,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Check if a row was actually updated\nif (!result.id) {\n  return [{\n    json: {\n      success: false,\n      message: 'Destination not found',\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    message: 'Destination updated successfully',\n    data: result,\n    timestamp: new Date().toISOString()\n  }\n}];\n\n// Version: v1.0.0 - Format update success response"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, -240],
      "id": "dest-upd-0007-4000-8000-000000000007",
      "name": "Format Success Response - Code"
    },
    {
      "parameters": {
        "jsCode": "// Format Error Response - v1.0.0\nconst errorData = $input.first().json;\n\nreturn [{\n  json: {\n    success: false,\n    message: errorData.message || 'Validation failed',\n    errors: errorData.errors || [],\n    timestamp: new Date().toISOString()\n  }\n}];\n\n// Version: v1.0.0 - Format validation error response"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 0],
      "id": "dest-upd-0008-4000-8000-000000000008",
      "name": "Format Error Response - Code"
    },
    {
      "parameters": {
        "jsCode": "// Unauthorized Error Response - v1.0.0\nconst errorData = $input.first().json;\n\nreturn [{\n  json: {\n    success: false,\n    message: errorData.message || 'Unauthorized access',\n    error: {\n      statusCode: errorData.statusCode || 401\n    },\n    timestamp: errorData.timestamp || new Date().toISOString()\n  }\n}];\n\n// Version: v1.0.0 - Standard unauthorized response"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 120],
      "id": "dest-upd-0009-4000-8000-000000000009",
      "name": "Unauthorized Response - Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [1540, 0],
      "id": "dest-upd-0010-4000-8000-000000000010",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "PUT Update Destination - Webhook": {
      "main": [
        [
          {
            "node": "JWT Validation - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT Validation - Code": {
      "main": [
        [
          {
            "node": "JWT Validation - Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT Validation - Switch": {
      "main": [
        [
          {
            "node": "Validate Update Data - Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized Response - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Update Data - Code": {
      "main": [
        [
          {
            "node": "Check Validation - Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Validation - Switch": {
      "main": [
        [
          {
            "node": "Update Destination - Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error Response - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Destination - Supabase": {
      "main": [
        [
          {
            "node": "Format Success Response - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Response - Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Response - Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unauthorized Response - Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dest-update-v1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "62fe1973b06b53c2a918f891d003328ecd43cc9389e3ac0f24384782e956f6ca"
  },
  "tags": [
    {
      "name": "Destination Management"
    }
  ]
}