workflows/destinations/DEST - Add Destination.json
{
  "name": "DEST - Add Destination",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "add-destination",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "dest-add-0001-4000-8000-000000000001",
      "name": "POST Add Destination - Webhook",
      "webhookId": "dest-add-0001-4000-8000-00000000000w"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "app_config",
        "filters": {
          "conditions": [
            {
              "keyName": "key",
              "keyValue": "jwt_secret"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [220, 0],
      "id": "dest-add-0001-4000-8000-000000000010",
      "name": "Get JWT Secret - Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "SEqiOYHTdU9Hm0pI",
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// JWT Token Validation - v2.0.0\n// Fetches JWT secret from app_config via preceding Supabase node\nconst webhookData = $('POST Add Destination - Webhook').first().json;\n\nconst authHeader =\n  webhookData.headers?.authorization ||\n  webhookData.headers?.Authorization;\n\nif (!authHeader) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Missing authorization header',\n      statusCode: 401,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nif (!authHeader.startsWith('Bearer ')) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Invalid authorization format',\n      statusCode: 401,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nconst token = authHeader.substring(7);\n\nfunction simpleHash(input) {\n  let hash = 0;\n  for (let i = 0; i < input.length; i++) {\n    const char = input.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash;\n  }\n  return hash.toString(36);\n}\n\n// Get JWT secret from app_config (fetched by previous Supabase node)\nconst configData = $('Get JWT Secret - Supabase').first().json;\nconst JWT_SECRET = configData.value;\n\nif (!JWT_SECRET) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'JWT secret not configured',\n      statusCode: 500,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nfunction verifyJWT(token) {\n  try {\n    const parts = token.split('.');\n    if (parts.length !== 3) {\n      return { valid: false, error: 'Invalid token format' };\n    }\n\n    const [header, payload, sig] = parts;\n    const dataToSign = `${header}.${payload}.${JWT_SECRET}`;\n    const expectedSig = simpleHash(dataToSign);\n\n    if (sig !== expectedSig) {\n      return { valid: false, error: 'Invalid token signature' };\n    }\n\n    const decoded = JSON.parse(atob(payload));\n    const now = Math.floor(Date.now() / 1000);\n    if (decoded.exp && decoded.exp < now) {\n      return { valid: false, error: 'Token expired' };\n    }\n\n    return { valid: true, payload: decoded };\n  } catch (error) {\n    return {\n      valid: false,\n      error: 'Token verification failed'\n    };\n  }\n}\n\nconst validation = verifyJWT(token);\n\nif (!validation.valid) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: validation.error || 'Invalid token',\n      statusCode: 401,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nconst payload = validation.payload;\n\nif (payload.type === 'limited') {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Full authentication required',\n      statusCode: 403,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nif (payload.type === 'refresh') {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Refresh tokens cannot be used here',\n      statusCode: 403,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// RBAC: Only admin and supervisor can manage destinations\nconst allowedRoles = ['admin', 'supervisor'];\nif (!allowedRoles.includes(payload.role)) {\n  return [{\n    json: {\n      _route: 'unauthorized',\n      success: false,\n      message: 'Insufficient permissions',\n      statusCode: 403,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    _route: 'authorized',\n    authenticated: true,\n    user: {\n      username: payload.sub,\n      role: payload.role,\n      tokenType: payload.type\n    },\n    requestBody: webhookData.body,\n    timestamp: new Date().toISOString()\n  }\n}];\n\n// Version: v2.0.0 - Dynamic JWT secret from app_config + RBAC role check"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0],
      "id": "dest-add-0002-4000-8000-000000000002",
      "name": "JWT Validation - Code"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "authorized",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "dest-add-route-auth"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Authorized"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "unauthorized",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    },
                    "id": "dest-add-route-unauth"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Unauthorized"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [660, 0],
      "id": "dest-add-0003-4000-8000-000000000003",
      "name": "JWT Validation - Switch"
    },
    {
      "parameters": {
        "jsCode": "// Validate Destination Data - v1.0.0\nconst data = $json.requestBody || {};\n\nconst errors = [];\n\n// Required field validation\nif (!data.name || data.name.trim() === '') {\n  errors.push('Name is required');\n}\nif (!data.address || data.address.trim() === '') {\n  errors.push('Address is required');\n}\nif (!data.city || data.city.trim() === '') {\n  errors.push('City is required');\n}\nif (!data.province || data.province.trim() === '') {\n  errors.push('Province is required');\n}\nif (!data.postal_code || data.postal_code.trim() === '') {\n  errors.push('Postal code is required');\n}\n\n// Email format validation (optional field)\nif (data.email && data.email.trim() !== '') {\n  if (!data.email.includes('@')) {\n    errors.push('Invalid email format');\n  }\n}\n\n// Contacts JSONB validation (optional field)\nlet parsedContacts = null;\nif (data.contacts !== undefined && data.contacts !== null) {\n  if (typeof data.contacts === 'string') {\n    try {\n      parsedContacts = JSON.parse(data.contacts);\n    } catch (e) {\n      errors.push('Contacts must be valid JSON');\n    }\n  } else {\n    parsedContacts = data.contacts;\n  }\n\n  if (parsedContacts !== null && !Array.isArray(parsedContacts)) {\n    errors.push('Contacts must be an array');\n  }\n}\n\nif (errors.length > 0) {\n  return [{\n    json: {\n      success: 'false',\n      errors: errors,\n      message: 'Validation failed: ' + errors.join(', '),\n      skipSupabase: true\n    }\n  }];\n}\n\n// Build cleaned destination object\nconst contacts = parsedContacts || [];\nconst destination = {\n  name: data.name.trim(),\n  address: data.address.trim(),\n  city: data.city.trim(),\n  province: data.province.trim().toUpperCase(),\n  postal_code: data.postal_code.trim().toUpperCase(),\n  phone: data.phone ? data.phone.trim() : null,\n  email: data.email ? data.email.trim().toLowerCase() : null,\n  contacts: contacts,\n  notes: data.notes ? data.notes.trim() : null,\n  map_coordinates: data.map_coordinates || null,\n  active: data.active !== undefined ? data.active : true\n};\n\n// Backward compat: auto-extract first contact's phone/email into top-level fields\n// if not explicitly provided (ensures /get-clinic-locations still works)\nif (!destination.phone && contacts.length > 0 && contacts[0].phone) {\n  destination.phone = contacts[0].phone.trim();\n}\nif (!destination.email && contacts.length > 0 && contacts[0].email) {\n  destination.email = contacts[0].email.trim().toLowerCase();\n}\n\nreturn [{\n  json: {\n    success: 'true',\n    destination: destination\n  }\n}];\n\n// Version: v1.1.0 - Validate, sanitize, backward-compat phone/email"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, -120],
      "id": "dest-add-0004-4000-8000-000000000004",
      "name": "Validate Destination Data - Code"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.success }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "dest-add-valid-true"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "True"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.success }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    },
                    "id": "dest-add-valid-false"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "False"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [1100, -120],
      "id": "dest-add-0005-4000-8000-000000000005",
      "name": "Check Validation - Switch"
    },
    {
      "parameters": {
        "tableId": "destinations",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{ $json.destination.name }}"
            },
            {
              "fieldId": "address",
              "fieldValue": "={{ $json.destination.address }}"
            },
            {
              "fieldId": "city",
              "fieldValue": "={{ $json.destination.city }}"
            },
            {
              "fieldId": "province",
              "fieldValue": "={{ $json.destination.province }}"
            },
            {
              "fieldId": "postal_code",
              "fieldValue": "={{ $json.destination.postal_code }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $json.destination.phone }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $json.destination.email }}"
            },
            {
              "fieldId": "contacts",
              "fieldValue": "={{ JSON.stringify($json.destination.contacts) }}"
            },
            {
              "fieldId": "notes",
              "fieldValue": "={{ $json.destination.notes }}"
            },
            {
              "fieldId": "map_coordinates",
              "fieldValue": "={{ $json.destination.map_coordinates }}"
            },
            {
              "fieldId": "active",
              "fieldValue": "={{ $json.destination.active }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1320, -240],
      "id": "dest-add-0006-4000-8000-000000000006",
      "name": "Create Destination - Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "SEqiOYHTdU9Hm0pI",
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format Success Response - v1.0.0\nconst result = $input.first().json;\n\nif (result.error) {\n  console.error('Database error:', result.error);\n  return [{\n    json: {\n      success: false,\n      message: 'Failed to create destination',\n      error: result.error,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    message: 'Destination created successfully',\n    data: result,\n    timestamp: new Date().toISOString()\n  }\n}];\n\n// Version: v1.0.0 - Format create success response"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, -240],
      "id": "dest-add-0007-4000-8000-000000000007",
      "name": "Format Success Response - Code"
    },
    {
      "parameters": {
        "jsCode": "// Format Error Response - v1.0.0\nconst errorData = $input.first().json;\n\nreturn [{\n  json: {\n    success: false,\n    message: errorData.message || 'Validation failed',\n    errors: errorData.errors || [],\n    timestamp: new Date().toISOString()\n  }\n}];\n\n// Version: v1.0.0 - Format validation error response"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 0],
      "id": "dest-add-0008-4000-8000-000000000008",
      "name": "Format Error Response - Code"
    },
    {
      "parameters": {
        "jsCode": "// Unauthorized Error Response - v1.0.0\nconst errorData = $input.first().json;\n\nreturn [{\n  json: {\n    success: false,\n    message: errorData.message || 'Unauthorized access',\n    error: {\n      statusCode: errorData.statusCode || 401\n    },\n    timestamp: errorData.timestamp || new Date().toISOString()\n  }\n}];\n\n// Version: v1.0.0 - Standard unauthorized response"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 120],
      "id": "dest-add-0009-4000-8000-000000000009",
      "name": "Unauthorized Response - Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [1760, 0],
      "id": "dest-add-0010-4000-8000-000000000010",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "POST Add Destination - Webhook": {
      "main": [
        [
          {
            "node": "Get JWT Secret - Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get JWT Secret - Supabase": {
      "main": [
        [
          {
            "node": "JWT Validation - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT Validation - Code": {
      "main": [
        [
          {
            "node": "JWT Validation - Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT Validation - Switch": {
      "main": [
        [
          {
            "node": "Validate Destination Data - Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized Response - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Destination Data - Code": {
      "main": [
        [
          {
            "node": "Check Validation - Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Validation - Switch": {
      "main": [
        [
          {
            "node": "Create Destination - Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error Response - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Destination - Supabase": {
      "main": [
        [
          {
            "node": "Format Success Response - Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Response - Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Response - Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unauthorized Response - Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dest-add-v2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "62fe1973b06b53c2a918f891d003328ecd43cc9389e3ac0f24384782e956f6ca"
  },
  "tags": [
    {
      "name": "Destination Management"
    }
  ]
}